.cs-datepicker {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	position: relative;
	width: var(--datepicker-width, 242px);
	--cs-datepicker-options-spacing-value: var(--cs-datepicker-options-spacing);

	.cs-datepicker-icon {
		position: absolute;
		right: 0.5rem;
		top: 0.5625rem;
		pointer-events: none;
	}

	> .cs-label-wrapper ~ .cs-datepicker-icon {
		top: 1.75rem;
	}

	&.cs-datepicker-error-tooltip {
		.react-datepicker-wrapper input {
			padding-right: calc(var(--cs-datepicker-options-spacing-value) + 1rem);
		}
		.cs-tooltip-wrapper.cs-tw-error {
			position: absolute;
			right: calc(var(--cs-datepicker-options-spacing-value) - 0.25rem);
			top: 0.5625rem;
		}
		> .cs-label-wrapper ~ .cs-tooltip-wrapper.cs-tw-error {
			top: 1.75rem;
		}
		&.cs-datepicker-clearable .react-datepicker-wrapper {
			.react-datepicker__close-icon {
				right: calc(var(--cs-datepicker-options-spacing-value) + 1rem);
			}
			input {
				padding-right: calc(var(--cs-datepicker-options-spacing-value) + 2.5rem);
			}
		}
	}

	.cs-datepicker-wrapper {
		width: 100%;
	}

	&.cs-datepicker-today-btn {
		.react-datepicker__tab-loop {
			.react-datepicker-popper[data-placement^="top"] {
				.react-datepicker .react-datepicker__triangle {
					@include css4 {
						border-top-color: cvar(--cs-datepicker-today-bg);
					}
				}
			}
		}
	}

	.react-datepicker-wrapper {
		width: 100%;

		input {
			display: inline-block;
			font-size: 0.75rem;
			line-height: 1.875rem;
			min-height: 2rem;
			padding: 0 1.8125rem 0 0.75rem;
			border-radius: var(--cs-datepicker-border-radius, 0.25rem);
			padding-right: var(--cs-datepicker-options-spacing-value);
			margin: 0;
			transition: border 0.1s linear, background-color 0.1s linear;
			width: 100%;
			@include sbg(--cs-datepicker-bg);
			@include css4 {
				border: 1px solid cvar(--cs-datepicker-br);
			}

			&:active,
			&:focus {
				outline: 0;
				@include css4 {
					border-color: cvar(--cs-datepicker-active-br);
					box-shadow: 0 0 0.1875rem cvar(--cs-datepicker-shadow);
				}
			}

			&:disabled {
				cursor: default;
				user-select: none;
				@include sbg(--cs-datepicker-disabled-bg);
				@include css4 {
					border-color: cvar(--cs-datepicker-disabled-br);
				}

				&:active,
				&:focus {
					box-shadow: none;
					@include css4 {
						border-color: cvar(--cs-datepicker-disabled-br);
					}
				}
			}
		}
	}

	.react-datepicker {
		@include css4 {
			box-shadow: 0 2px 8px var(--cs-shadow-light);
			border: 1px solid cvar(--cs-datepicker-br);
		}

		.react-datepicker__triangle {
			left: 2rem !important;
			transform: none !important;
			@include css4 {
				border-bottom-color: cvar(--cs-datepicker-bg);
			}

			&::before {
				@include css4 {
					border-bottom-color: cvar(--cs-datepicker-br);
				}
			}
		}

		.react-datepicker__navigation {
			overflow: visible;
			font-size: 0;
			border: none;
			height: 1.25rem;
			width: 1.25rem;
			top: 0.375rem;
			border-radius: 0.25rem;

			&.react-datepicker__navigation--previous {
				left: 0.5rem;

				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 4px;
					left: 3px;
					width: 0.75rem;
					height: 0.75rem;
					-webkit-mask: url('./../icons/lightning/chevronleft.svg') no-repeat 50% 50%;
					mask: url('./../icons/lightning/chevronleft.svg') no-repeat 50% 50%;
					-webkit-mask-size: cover;
					mask-size: cover;
					@include sbg(--cs-icon-c);
				}

				&:hover::before {
					@include sbg(--cs-datepicker-icon-hover);
				}
			}

			&.react-datepicker__navigation--next {
				right: 0.5rem;

				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 4px;
					right: 3px;
					width: 0.75rem;
					height: 0.75rem;
					-webkit-mask: url('./../icons/lightning/chevronright.svg') no-repeat 50% 50%;
					mask: url('./../icons/lightning/chevronright.svg') no-repeat 50% 50%;
					-webkit-mask-size: cover;
					mask-size: cover;
					@include sbg(--cs-icon-c);
				}

				&:hover::before {
					@include sbg(--cs-datepicker-icon-hover);
				}
			}

			&:focus {
				outline: none;
				@include css4 {
					box-shadow: 0 0 0.1875rem cvar(--cs-datepicker-shadow);
				}
			}
		}

		.react-datepicker__month-container {

			.react-datepicker__header {
				border-bottom: none;
				@include sbg(--cs-datepicker-bg);

				.react-datepicker__current-month {
					font-size: 0.8125rem;
				}

				.react-datepicker__day-names .react-datepicker__day-name {
					font-weight: $font-weight-bold;
				}
			}

			.react-datepicker__month {
				margin-block-start: 0;

				.react-datepicker__week .react-datepicker__day {
					border-radius: 50%;
					@include css4 {
						border: 1px solid cvar(--cs-datepicker-bg);
					}

					&.react-datepicker__day--today {
						font-weight: $font-weight-normal;
						@include sbg(--cs-datepicker-today-indicator-bg);
					}

					&.react-datepicker__day--selected {
						@include sc(--cs-datepicker-selected-c);
						@include sbg(--cs-datepicker-selected-bg);

						&:hover {
							@include sc(--cs-datepicker-selected-c);
							@include sbg(--cs-datepicker-selected-bg);
						}
					}

					&.react-datepicker__day--keyboard-selected {
						@include sbg(--cs-datepicker-keyboard-bg);
						@include sc(--cs-datepicker-keyboard-c);
					}

					&:hover {
						font-weight: $font-weight-bold;
						@include sc(--cs-datepicker-c);
						@include sbg(--cs-datepicker-hover-bg);
					}

					&:focus {
						outline: none;
						@include css4 {
							border: 1px solid cvar(--cs-datepicker-active-br);
							box-shadow: 0 0 0.1875rem cvar(--cs-datepicker-shadow);
						}
					}

					&.react-datepicker__day--disabled {
						pointer-events: none;
						cursor: default;
					}

					&.react-datepicker__day--outside-month {
						@include sc(--cs-datepicker-day-outside-c);
						&.react-datepicker__day--selected {
							@include sc(--cs-datepicker-selected-c);
						}
					}
				}
			}

			.react-datepicker__header__dropdown--select {
				padding-top: 0.25rem;

				.react-datepicker__month-select, .react-datepicker__year-select {
					border-radius: 0.25rem;
					@include css4 {
						border: 1px solid var(--cs-datepicker-br);
					}

					&:focus {
						outline: 0;
						@include css4 {
							border-color: cvar(--cs-datepicker-active-br);
							box-shadow: 0 0 0.1875rem cvar(--cs-datepicker-shadow);
						}
					}
				}
			}
		}

		.react-datepicker__today-button {
			border-bottom-left-radius: 0.3125rem;
			border-bottom-right-radius: 0.3125rem;
			@include sbg(--cs-datepicker-today-bg);
			&:hover {
				@include sbg(--cs-datepicker-today-hover);
			}
			&:active {
				@include sbg(--cs-datepicker-today-active);
			}
		}

		&:disabled {
			cursor: default;
			user-select: none;
			@include sbg(--cs-datepicker-disabled-bg);
			@include css4 {
				border-color: cvar(--cs-datepicker-disabled-br);
			}

			&:active,
			&:focus {
				box-shadow: none;
				@include css4 {
					border-color: cvar(--cs-datepicker-disabled-br);
				}
			}
		}

		.react-datepicker__year-dropdown-container {
			.react-datepicker__year-read-view--down-arrow {
				top: 6px;
			}
			.react-datepicker__navigation--years {
				top: 0;
				&-upcoming::after, &-previous::after {
					content: '';
					display: block;
					position: absolute;
					top: 3px;
					right: 3px;
					width: 0.75rem;
					height: 0.75rem;
					-webkit-mask: url('./../icons/lightning/chevronright.svg') no-repeat 50% 50%;
					mask: url('./../icons/lightning/chevronright.svg') no-repeat 50% 50%;
					-webkit-mask-size: cover;
					mask-size: cover;
					@include sbg(--cs-icon-c);
					transform: rotate(-90deg);
				}
				&-previous::after {
					transform: rotate(90deg);
					top: 5px;
				}
			}
		}
		.react-datepicker__month-dropdown-container {
			.react-datepicker__month-read-view--down-arrow {
				top: 6px;
			}
		}
	}

	&-error .react-datepicker-wrapper input {
		@include css4 {
			border: 1px solid cvar(--cs-datepicker-error-br);
		}

		&:active,
		&:focus {
			@include css4 {
				border-color: cvar(--cs-datepicker-error-c);
				box-shadow: 0 0 3px cvar(--cs-datepicker-error-shadow);
			}
		}
	}

	&-read-only .react-datepicker-wrapper input {
		pointer-events: none;
		cursor: default;
		font-size: 0.875rem;
		font-weight: $font-weight-normal;
		padding-left: 0;
		@include sbg(--cs-transparent);
		@include css4 {
			border-color: cvar(--cs-transparent);
		}

		&:active,
		&:focus {
			@include css4 {
				box-shadow: none;
				border-color: cvar(--cs-transparent);
			}
		}
	}

	&-clearable .react-datepicker-wrapper input {
		padding-inline-end: calc(var(--cs-datepicker-options-spacing-value) + 1rem);
	}

	// datetimepicker
	&.cs-datetimepicker {
		width: var(--datepicker-width, 22rem);

		.react-datepicker__header,
		.react-datepicker__time-container {
			@include css4 {
				border-color: cvar(--cs-datepicker-br);
			}
		}

		.react-datepicker__header {
			border-top-left-radius: 0;

			.react-datepicker-time__header {
				font-size: 0.8125rem;
			}
		}

		.react-datepicker__time
		.react-datepicker__time-box
		ul.react-datepicker__time-list
		.react-datepicker__time-list-item {
			display: flex;
			justify-content: center;
			align-items: center;

				&--selected {
					@include sbg(--cs-datepicker-selected-bg);

				&:hover {
					opacity: 0.9;
					@include sbg(--cs-datepicker-selected-bg);
				}
			}
		}

		.react-datepicker__time-container,
		.react-datepicker__time-box {
			width: 95px;
		}

		.react-datepicker__tab-loop .react-datepicker-popper .react-datepicker .react-datepicker__navigation.react-datepicker__navigation--next {
			right: 105px;

			&.react-datepicker__navigation--next--with-today-button {
				right: 0.5rem;

				+ .react-datepicker__month-container > .react-datepicker__header {
					border-top-left-radius: 0.3125rem;
					border-top-right-radius: 0;
				}
			}
		}

		.react-datepicker__time-container--with-today-button {
			border-top-left-radius: 0;
			right: -95px;

			.react-datepicker {
				position: static;
			}
		}

		.react-datepicker__navigation--next--with-time ~ .react-datepicker__time-container > .react-datepicker__time {
			border-bottom-right-radius: 0.3125rem;
		}
	}
}

.react-datepicker__close-icon {
	width: 1rem;
	height: 1rem;
	right: calc(var(--cs-datepicker-options-spacing-value) - 0.25rem);
	top: 50%;
	transform: translateY(-50%);
	border-radius: 0.25rem;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&::after {
		width: 0.625rem;
		height: 0.625rem;
		border-radius: 0;
		content: '';
		display: block;
		-webkit-mask: url('./../icons/lightning/close.svg') no-repeat 50% 50%;
		mask: url('./../icons/lightning/close.svg') no-repeat 50% 50%;
		-webkit-mask-size: cover;
		mask-size: cover;
		@include sbg(--cs-input-icon-fill);
	}
	&:hover::after {
		@include bgd(--cs-input-icon-fill, 0.25);
	}
}

// Options
.cs-datepicker-options {
	bottom: 1rem;
	display: flex;
	position: absolute;
	right: 1.625rem;
	transform: translateY(50%);

	.cs-custom-data-item {
		align-items: center;
		display: flex;

		&:not(:last-child),
        > *:not(:last-child) {
            margin-right: 0.25rem;
        }
	}
}
