html,
body,
#root {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.cs-app-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.app-body {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	overflow: hidden;
	position: relative;
	height: calc(100% - 4rem);
	@include sbg(--csd-app-body-bg);
}

h2 {
	@include sc(--csd-h2-c);
}

h3 {
	@include sc(--csd-h3-c);
}