.release-notes code,
code.inline-code {
	display: inline-block;
	font-size: 0.8125rem;
	border-radius: 0.25rem;
	padding: 0 0.375rem;
	line-height: 1.25rem;
	font-family: "Courier New", monospace !important;
	cursor: default;
	white-space: nowrap;
	@include sc(--csd-secondary-variant-c);
	@include sbg(--csd-secondary-variant-bg);
	@include css4 {
		border: 1px solid cvar(--csd-secondary-variant-br);
	}

	&.inline-code-basic {
		@include sc(--csd-primary-variant-c);
		@include sbg(--csd-primary-variant-bg);
		@include css4 {
			border: 1px solid cvar(--csd-primary-variant-br);
		}
	}

	&.inline-code-custom {
		display: flex;
		@include sc(--csd-primary-variant-c);
		@include sbg(--csd-primary-variant-bg);
		@include css4 {
			border: 1px solid cvar(--csd-primary-variant-br);
		}

		.cs-icon {
			align-self: center;
			margin-left: 0.375rem;
		}
	}

	& + & {
		margin-left: 0.5rem;
	}
}

.release-notes code {
	margin-right: 0;
	@include sc(--csd-primary-variant-c);
	@include sbg(--csd-primary-variant-bg);
	@include css4 {
		border: 1px solid cvar(--csd-primary-variant-br);
	}
}
