.getting-started :not(pre) code,
.release-notes code,
code.inline-code {
	display: inline-block;
	background-color: var(--prop-code-bg);
	border: 1px solid var(--prop-code-br);
	font-size: 0.8125rem;
	border-radius: 0.25rem;
	padding: 0 0.375rem;
	line-height: 1.25rem;
	font-family: "Courier New", monospace !important;
	margin-right: 0.5rem;
	color: var(--prop-code-c);
	cursor: default;

	&.inline-code-basic {
		background-color: var(--prop-code-custom-bg);
	}

	&.inline-code-custom {
		background-color: var(--prop-code-custom-bg);
		display: flex;

		.cs-icon {
			align-self: center;
			margin-left: 0.375rem;
		}
	}

	&:last-child {
		margin-right: 0;
	}
}

.inline-code-tooltip {
	&.col-2 .cs-tooltip .cs-tooltip-body {
		grid-template-columns: repeat(2, 1fr);
	}

	&.col-1 .cs-tooltip .cs-tooltip-body {
		grid-template-columns: 1fr;
	}

	.cs-tooltip .cs-tooltip-body {
		display: grid;
		grid-gap: 0.5rem;
		grid-template-columns: repeat(3, 1fr);
		white-space: nowrap;

		code.inline-code {
			margin: 0;
			text-align: center;
		}
	}
}

.getting-started :not(pre) code,
.release-notes code {
	margin-right: 0;
	background-color: var(--prop-code-custom-bg);
}
