.csd-theme-dark .csd-section > .cs-data-table-wrapper,
.csd-theme-dark .csd-preview > .cs-data-table-wrapper {
	--cs-data-table-header-bg: #{transparentize($cs-white, 0.95)};
	--cs-data-table-header-c: #{$cs-white};
	--cs-data-table-row-bg: #212121;
	--cs-data-table-cell-c: #{transparentize($cs-white, 0.2)};
	--cs-data-table-br: var(--csd-preview-br);
}

.csd-section > .cs-data-table-wrapper {
	margin: 0 -1rem;
	width: calc(100% + 2rem);
	max-width: calc(100% + 2rem);

	.cs-data-table-header .cs-data-table-cell {
		border-top: none;
	}
}

.csd-section > .cs-data-table-wrapper,
.csd-preview > .cs-data-table-wrapper {
	border-radius: 0 0 0.5rem 0.5rem;
	--cs-data-table-br: var(--csd-preview-br);

	.csd-table-name * {
		font-weight: 700;
	}

	.csd-inline-code {
		display: block;
		text-align: center;

		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}

		.cs-icon {
			margin-block-end: -0.25rem;
		}
	}

	.cs-tooltip-wrapper:not(:last-child) > .csd-inline-code {
		margin-bottom: 0.5rem;
	}

	.cs-data-table-row-wrapper:last-child .cs-data-table-row .cs-data-table-cell {
		border-bottom: none;
	}
}


.csd-section-transparent > .cs-data-table-wrapper {
	border-radius: 0.5rem;
	box-shadow:
		0 1px 3px var(--csd-shadow-light),
		0 1px 2px var(--csd-shadow-medium);

	.cs-data-table-body {
		border-top: none !important;
	}

	& + .csd-text {
		margin-top: 1rem;
	}
}
