.csd-theme-light {
	--csd-inline-code-bg: #{transparentize($cs-black, 0.9)};
}

.csd-theme-dark {
	--csd-inline-code-bg: #{transparentize($cs-white, 0.9)};
}

.csd-code {
	--preview-code-margin: 0;
	border-bottom: 1px solid var(--csd-preview-br) !important;

	* {
		font-family: 'Lucida Console', monospace !important;
	}

	@at-root .csd-section-transparent > & {
		border-radius: 0.5rem;
		box-shadow:
			0 1px 3px var(--csd-shadow-light),
			0 1px 2px var(--csd-shadow-medium);
	}

	+ .csd-text {
		margin-top: 2rem;
	}

	+ .csd-code {
		margin-block-start: 0.5rem !important;
	}
}

.csd-inline-code {
	font-size: 0.8125rem;
	font-family: "Lucida Console", monospace !important;
	display: inline-flex;
	padding: 0 0.375rem;
	line-height: 1.25rem;
	border-radius: 0.25rem;
	background-color: var(--csd-inline-code-bg);
	border: 1px solid transparent;
	color: var(--csd-text-c);
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	white-space: nowrap;

	@at-root .cs-tooltip {
		& {
			margin: 0;
			text-align: center;
		}
	}

	&.csd-inline-code-custom {
		background-color: transparent;
		border: 1px solid var(--csd-preview-br);

		.cs-icon {
			align-self: center;
			margin-left: 0.375rem;
		}
	}
}

.csd-inline-code-tooltip {
	max-width: 100%;

	&.csd-inline-code-tooltip-col-3 .cs-tooltip .cs-tooltip-body {
		grid-template-columns: repeat(3, 1fr);
	}

	&.csd-inline-code-tooltip-col-2 .cs-tooltip .cs-tooltip-body {
		grid-template-columns: repeat(2, 1fr);
	}

	&.csd-inline-code-tooltip-col-1 .cs-tooltip .cs-tooltip-body {
		grid-template-columns: 1fr;
	}

	.cs-tooltip .cs-tooltip-body {
		display: grid;
		grid-gap: 0.5rem;
		white-space: nowrap;

		code.csd-inline-code {
			background: var(--csd-tooltip-body-bg);
			color: var(--csd-tooltip-body-c);
			margin: 0;
			text-align: center;
		}
	}
}
