.csd-theme-light {
	--csd-text-c: #{transparentize($cs-black, 0.4)};
}

.csd-theme-dark {
	--csd-text-c: #{transparentize($cs-white, 0.2)};
}

p.csd-text {
	font-size: 0.875rem;
	margin: 0 0 1rem;
	line-height: 1.5rem;
	color: var(--csd-text-c);

	&:last-child {
		margin-bottom: 0;
	}
}
