.csd-theme-light {
	--csd-list-c: #{transparentize($cs-black, 0.4)};
}

.csd-theme-dark {
	--csd-list-c: #{transparentize($cs-white, 0.2)};
}

.cs-app-wrapper {
	ul.csd-list,
	ol.csd-list {
		list-style-position: inside;

		li {
			font-size: 0.875rem;
			margin: 0 0 1rem;
			line-height: 1rem;
			color: var(--csd-list-c);
		}

		&:last-child li:last-child {
			margin-block-end: 0;
		}
	}

	ul.csd-list {
		list-style-type: var(--csd-list-style-type, disc);
	}

	ol.csd-list {
		list-style-type: var(--csd-list-style-type, decimal);
	}
}

