.csd-theme-light {
	--csd-text-c: #{$cs-gray-dark-2};
}

.csd-theme-dark {
	--csd-text-c: #{$cs-gray-light-5};
}

p.csd-text {
	font-size: 0.875rem;
	margin: 0 0 0.625rem;
	line-height: 1.5rem;
	color: var(--csd-text-c);

	&:last-child {
		margin-bottom: 0;
	}

	+ .csd-code {
		margin-block-start: 2rem !important;
	}
}
