.csd-accessibility-table {
	margin: 0 -1rem -1rem;
	width: calc(100% + 2rem) !important;
	border-radius: 0 0 0.5rem 0.5rem;
	--cs-data-table-br: var(--csd-preview-br);

	.cs-data-table-row .cs-data-table-cell:first-child {
		background-color: var(--cs-data-table-header-bg);
		color: var(--cs-data-table-header-c);
		font-weight: 700;
		align-items: flex-start;
	}

	.cs-data-table-row-wrapper:last-child > .cs-data-table-row {
		border-bottom: none;
	}

	li {
		line-height: 1.5rem;
	}
}
