.csd-theme-dark {
	--cs-data-table-header-bg: #{transparentize($cs-white, 0.95)};
	--cs-data-table-header-c: #{$cs-white};
	--cs-data-table-row-bg: #212121;
	--cs-data-table-cell-c: #{transparentize($cs-white, 0.2)};
	--cs-data-table-br: var(--csd-preview-br);
}

.csd-table {
	--cs-data-table-br: var(--csd-preview-br);

	.csd-table-name * {
		font-weight: 700;
	}

	&.csd-table-section {
		margin: 0 -1rem -1rem;
		width: calc(100% + 2rem) !important;
		border-radius: 0 0 0.5rem 0.5rem;

		@at-root .csd-section-transparent & {
			border-radius: 0.5rem;
			box-shadow:
				0 1px 3px var(--csd-shadow-light),
				0 1px 2px var(--csd-shadow-medium);

			.cs-data-table-body {
				border-top: none !important;
			}
		}

		.cs-data-table-row-wrapper:last-child > .cs-data-table-row {
			border-bottom: none;
		}
	}

	.csd-inline-code {
		display: block;

		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}

		.cs-icon {
			margin-block-end: -0.25rem;
		}
	}

	.cs-tooltip-wrapper:not(:last-child) > .csd-inline-code {
		margin-bottom: 0.5rem;
	}
}
