.csd-theme-light {
	--csd-section-bg: #{$cs-white};
	--csd-heading-c: #{$cs-black};
	--csd-chip-c: #{$cs-white};
}

.csd-theme-dark {
	--csd-section-bg: #242424;
	--csd-heading-c: #{$cs-white};
	--csd-chip-c: #{$cs-black};
}

.csd-header-wrapper {
	position: sticky;
	top: 0;
	padding: 1rem 1rem 0;
	margin-bottom: 0.5rem;
	z-index: 4;
	@include sbg(--csd-app-body-bg);

	.csd-header {
		height: 3rem;
		display: flex;
		align-items: center;
		border-radius: 0.5rem;
		background-color: var(--csd-section-bg);
		background-position: top right;
		box-shadow:
			0 1px 3px var(--csd-shadow-light),
			0 1px 2px var(--csd-shadow-medium);

		h1 {
			padding: 0.5rem 1rem !important;
		}

		.cs-tab-group {
			border-bottom: none;

			.cs-tab-wrapper {
				height: auto;
				line-height: normal;

				.cs-tab {
					height: auto;
					padding: 1rem 1rem;

					.cs-icon {
						height: 1rem;
						width: 1rem;
						margin-block-start: -0.25rem;
						fill: var(--csd-header-tab-icon-c);

						+ .cs-tab-name {
							margin-inline-start: 0.25rem;
						}
					}
				}

				.cs-tab:hover::after {
					height: 0.1875rem !important;
				}
			}
		}
	}

	.csd-header-fade {
		z-index: -1;
		content: "";
		display: block;
		height: 1rem;
		left: 0;
		right: 0;
		bottom: -1rem;
		position: absolute;
		background-image: linear-gradient(180deg, var(--csd-app-body-bg), var(--csd-app-body-bg) 0.25rem, transparent 1rem);
	}

	.csd-header-accessible {
		display: flex;
		padding-inline-end: 1rem;

		.cs-icon {
			margin-inline-end: 0.5rem;
		}

		.cs-chip {
			color: var(--csd-chip-c);
		}

		@media screen and (max-width: 1200px) {
			.cs-chip {
				display: none;
			}

			.cs-icon {
				margin-inline-end: 0;
			}
		}
	}
}

.csd-sidebar-wrapper-closed + .components-preview > .csd-sidebar-wrapper-closed + .csd-page > .csd-header-wrapper .csd-heading {
	padding-inline-start: 3rem !important;
}