.app-main-header {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	position: relative;
	z-index: 5;
	height: 4rem;
	@include sbg(--csd-app-header-bg);
	box-shadow:
		0 1px 3px var(--csd-shadow-light),
		0 1px 2px var(--csd-shadow-medium);

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;

		.main-header-tab {
			display: flex;

			a {
				display: flex;
				align-items: center;
				text-decoration: none;
				padding: 0.75rem 1.25rem;
				font-size: 1.25rem;
				cursor: pointer;
				white-space: nowrap;
				@include sc(--csd-header-tab-c);
				@include css4 {
					border-top: 5px solid cvar(--csd-transparent);
					border-bottom: 5px solid cvar(--csd-transparent);
				}

				&:focus-visible {
					outline: none;
					@include css4 {
						box-shadow: 0 0 3px cvar(--csd-colors-grid-focus-shadow);
					}
				}

				&.main-header-link-dropdown {
					padding: 0;

					.cs-dropdown-wrapper {
						height: 100%;

						.cs-btn {
							height: 100%;
							padding: 0.75rem 1rem 0.75rem 1.25rem;

							.cs-icon {
								width: 1.5rem;
								height: 1.5rem;
								margin-left: 0.5rem;
								@include sf(--csd-header-dropdown-icon-c);
							}

							.cs-btn-label {
								font-size: 1.25rem;
								@include sc(--csd-header-tab-c);
							}

							&::before, &::after {
								display: none;
							}

							&:hover .cs-btn-label {
								filter: brightness(1);
							}
						}
					}
				}

				.cs-chip {
					font-size: 0.6875rem;
					letter-spacing: 1px;
					text-transform: none;
					margin-left: 1rem;

					&.black-text {
						@include sc(--csd-chip-demo-c);
					}
				}

				&:hover {
					@include sbg(--csd-header-tab-hover-bg);
				}

				&.active-main-header-tab {
					@include sc(--csd-header-tab-active-alt-c);
					@include css4 {
						border-bottom: 5px solid cvar(--csd-header-tab-active-c);
					}
				}
			}
		}
	}

	&-right {
		display: flex;
		align-items: center;
	}

	img {
		padding: 0 1rem;
	}
}

.cs-dropdown-outer-item-wrapper.cs-demo-header-dropdown-wrapper {
    padding-top: 0.5rem;

	.cs-dropdown-item-wrapper {
		@include sbg(--csd-header-dropdown-bg);
		@include css4 {
			border: 1px solid cvar(--csd-header-dropdown-br);
		}

		.cs-divider {
			@include css4 {
				border-bottom: 1px solid cvar(--csd-header-dropdown-divider-br);
			}
		}

		.main-header-dropdown-btn {
			line-height: 2;
			text-decoration: none;
			width: 100%;
			padding: 0.25rem 1.25rem;
			height: 2.5rem;

			&::before {
				@include sbg(--csd-header-dropdown-btn-bg);
			}

			&:hover::before {
				@include sbg(--csd-header-dropdown-btn-hover-bg);
			}

			.cs-btn-label {
				font-size: 1rem;
				@include sc(--csd-header-dropdown-c);
			}
		}
	}
}

@media only screen and (max-width: 1330px) {
	.app-main-header {
		height: 3rem;

		ul .main-header-tab a {
			padding: 0.5rem 0.75rem;
			font-size: 1rem;

			&.main-header-link-dropdown .cs-dropdown-wrapper .cs-btn {
				padding: 0.5rem 0.25rem 0.5rem 0.75rem;

				.cs-icon {
					width: 1rem;
					height: 1rem;
					margin-left: 0.375rem;
				}

				.cs-btn-label {
					font-size: 1rem;
				}
			}
		}
	}

	.cs-dropdown-outer-item-wrapper.cs-demo-header-dropdown-wrapper .cs-dropdown-item-wrapper .main-header-dropdown-btn {
		padding: 0.25rem 1rem;
		height: 2rem;

		.cs-btn-label {
			font-size: 0.875rem;
		}
	}
}

@media only screen and (max-width: 1100px) {
	.app-main-header ul .main-header-tab a .cs-chip {
		display: none;
	}
}