.components-list-wrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	transition: 0.4s;
	overflow: visible;
	z-index: 2;
	position: relative;
	@include sbg(--csd-components-list-wrapper-bg);
	@include css4 {
		box-shadow: 0 1px 5px cvar(--csd-shadow-dark);
	}

	.sidebar-toggle.cs-btn.cs-btn {
		z-index: 10;
		position: absolute;
		top: 1.25rem;
		left: 0.75rem;

		&:active::before,
		&::before {
			@include sbg(--csd-components-list-wrapper-bg);
		}

		&:hover {
			transform: scale(1.1);
		}

		&:focus {
			position: absolute;
		}
	}

	&.sidebar-open {
		min-width: 15rem;
		width: 15rem;
		max-width: 15rem;

		+ .components-preview {
			transition: width 0.4s;
			width: calc(100% - 15rem);
		}
	}

	&.sidebar-closed {
		width: 0;
		min-width: 0;
		max-width: 0;
		position: relative;

		+ .components-preview {
			transition: width 0.4s;
			width: 100%;
		}
	}

	.components-list-search {
		margin: 4rem 1rem 1rem;
		position: relative;
		overflow-x: hidden;

		> .cs-icon {
			position: absolute;
			width: 1rem;
			height: 1rem;
			top: 0.75rem;
			left: 1rem;
			pointer-events: none;
			@include sf(--csd-icon-sidebar-fill);
		}

		input {
			display: inline-block;
			font-size: 1rem;
			line-height: 1.875rem;
			padding: 0 3rem;
			width: 100%;
			height: 2.5rem;
			border: none;
			border-radius: 0.25rem;
			@include sc(--csd-sidebar-search-field-c);
			@include sbg(--csd-sidebar-input-bg);

			&::placeholder {
				@include sc(--csd-sidebar-search-field-placeholder-c);
			}

			&:focus,
			&:active {
				outline: none;
				@include css4 {
					box-shadow: 0 1px 3px cvar(--csd-shadow-dark);
				}
			}
		}

		.cs-btn {
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
		}

		~ .components-list-inner .components-list {
			padding: 0;
		}
	}

	.components-list-inner {
		flex: 1;
		overflow-y: auto;
		overflow-x: hidden;

		&::-webkit-scrollbar {
			width: 1rem;
		}

		&::-webkit-scrollbar-thumb {
			background-clip: padding-box;
			border-radius: 0.5rem;
			@include css4 {
				background-color: cvar(--csd-scroll-thumb-bg);
				border: 4px solid cvar(--csd-transparent);
			}
		}
	}

	.components-list {
		margin: 0;
		padding: 0.5rem 0;
		list-style: none;

		.ui-component a {
			cursor: pointer;
			text-decoration: none;
			transition: background-color 100ms ease-in-out;
			display: flex;
			align-items: center;
			padding: 0.75rem 1.25rem;
			overflow: hidden;
			@include sc(--csd-sidebar-link-c);

			.ui-component-name {
				font-size: 1rem;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
			}

			&:hover {
				@include sc(--csd-sidebar-link-hover-c);
				@include sbg(--csd-sidebar-link-hover-bg);
			}

			&:focus-visible {
				outline: 0;
				text-decoration: underline;
				text-underline-offset: 0.125rem;
			}

			&.active-component {
				font-weight: 700;
				@include sbg(--csd-sidebar-link-active-bg);

				&:hover {
					@include sc(--csd-sidebar-link-hover-c);
				}
			}

			.cs-icon {
				margin-left: 0.25rem;
			}
		}

		.ui-component.info:first-of-type a {
			display: flex;
			justify-content: space-between;

			&::after {
				content: '';
				display: block;
				width: 1rem;
				height: 1rem;
				-webkit-mask: url('../images/info.svg') no-repeat 50% 50%;
				mask: url('../images/info.svg') no-repeat 50% 50%;
				-webkit-mask-size: cover;
				mask-size: cover;
				@include sbg(--csd-sidebar-info-bg);
			}
		}
	}
}

.prop-sidebar {
	&.release-notes-sidebar,
	&.accessibility-sidebar {
		@include sbg(--csd-components-list-wrapper-bg);

		.prop-list {
			@include sbg(--csd-components-list-wrapper-bg);

			div .prop-group .prop-name:hover {
				@include sbg(--csd-sidebar-link-hover-bg);
			}
		}

		.quick-links-search {
			margin-top: 1.25rem;
		}

		.quick-links-toggle {
			position: absolute;
			top: 1.25rem;
			left: 0.75rem;

			&:hover::before,
			&::before {
				@include sbg(--csd-components-list-wrapper-bg);
			}
		}
	}

	&.release-notes-sidebar,
	&.accessibility-sidebar,
	&.getting-started-sidebar {
		.prop-list .prop-group .prop-name {
			padding-inline-start: 0;

			a {
				border: none;
				font-weight: 400;
				padding-inline: 1.25rem
			}
		}
	}
}