/* COLORS */
$cs-black: #000000;
$cs-gray-dark-1: #080707;
$cs-gray-dark-2: #3e3e3c;
$cs-gray-dark-3: #444444;
$cs-gray-dark-4: #5e5d60;
$cs-gray-dark-5: #706e6b;
$cs-gray-dark-6: #747474;
$cs-gray-dark-7: #777f8b;
$cs-gray-medium-1: #999999;
$cs-gray-medium-2: #b0adab;
$cs-gray-medium-3: #c9c7c5;
$cs-gray-light-1: #d8d8d8;
$cs-gray-light-2: #dddbda;
$cs-gray-light-3: #dddddd;
$cs-gray-light-4: #ebebeb;
$cs-gray-light-5: #ecebea;
$cs-gray-light-6: #f2f3f3;
$cs-gray-light-7: #f8f8f8;
$cs-gray-light-8: #f4f6f9;
$cs-gray-light-9: #fdfdfd;
$cs-gray-light-10: #f3f2f2;
$cs-gray-light-11: #fafaf9;
$cs-blue-sf: #0070d2;
$cs-blue: #00abd3;
$cs-blue-dark-1: #16325c;
$cs-blue-dark-2: #1b3d71;
$cs-blue-dark-3: #54698d;
$cs-blue-dark-4: #164A85;
$cs-blue-medium-1: #295497;
$cs-blue-medium-2: #005fb2;
$cs-blue-medium-3: #0062b8;
$cs-blue-medium-4: #016fc0;
$cs-blue-medium-5: #1589ee;
$cs-blue-medium-6: #5eb4ff;
$cs-blue-light-1: #d8edff;
$cs-blue-light-2: #e3f3ff;
$cs-blue-light-3: #f0f8fc;
$cs-blue-light-4: #e4ebf6;
$cs-blue-light-5: #f5f9fd;
$cs-blue-light-6: #eef1f6;
$cs-green-dark-1: #1f7245;
$cs-green-dark-2: #04844b;
$cs-green-medium-1: #009540;
$cs-green-medium-2: #5bb85c;
$cs-green-light-1: #4bca81;
$cs-mint: #3cdbc0;
$cs-purple: #4a26ab;
$cs-purple-medium-1: #7f8de1;
$cs-orange-dark-1: #9a6319;
$cs-orange-medium-1: #ffa429;
$cs-orange-medium-2: #ffb75d;
$cs-orange-light-1: #fff2e2;
$cs-red-medium-1: #d81c2a;
$cs-red-medium-2: #c23934;
$cs-red-medium-3: #d9675d;
$cs-red-light-1: #fcedee;
$cs-white: #ffffff;

:root {
	--access-chip-c: #{$cs-white};
	--access-chip-bg: #{$cs-blue-sf};
	--access-chip-br: #{$cs-blue-sf};
	--access-chip-strong-em-br: #{$cs-orange-medium-2};
	--access-chip-strong-em-bg: #{$cs-orange-medium-2};
	--access-chip-strong-br: #{$cs-gray-dark-5};
	--access-chip-strong-bg: #{$cs-gray-dark-5};
	--access-link-c: #{$cs-blue-sf};
	--access-link-hover-c: #{$cs-purple};
	--access-link-active-c: #{$cs-purple-medium-1};
	--access-subtitle-c: #{$cs-purple};
	--access-table-header-c: #{$cs-white};
	--access-table-header-bg: #{$cs-purple};
	--access-table-header-br: rgba(255, 255, 255, 0.2);

	--app-body-bg: #{$cs-gray-light-5};
	--app-header-c: #{$cs-gray-dark-1};
	--app-header-bg: #{$cs-white};

	--button-preview-table-bg: #{$cs-white};
	--button-preview-cell-bg: #{$cs-purple};

	--code-preview-bg: #{$cs-gray-light-7};

	--colors-grid-focus-shadow: #{$cs-blue-sf};
	--colors-grid-bg: #{$cs-white};
	--colors-grid-c: #{$cs-gray-medium-1};
	--colors-grid-name-c: #{$cs-gray-dark-2};

	--components-list-wrapper-bg: #{$cs-gray-dark-3};
	--components-search-field-br: #{$cs-gray-dark-6};
	--components-api-bg: #{$cs-white};
	--components-modal-bg: #{$cs-white};
	--components-sidebar-bg: #{$cs-purple};
	--components-link-c: #{$cs-gray-dark-3};
	--components-link-hover-bg: #{$cs-purple};
	--components-link-hover-c: #{$cs-white};

	--criterion-link-decoration-c: #{$cs-blue-sf};

	--cs-chip-bg: #{$cs-mint};
	--cs-chip-demo-c: #{$cs-gray-dark-1};
	--cs-icon-sidebar-fill: #{$cs-white};
	--cs-icon-fill: #{$cs-gray-dark-5};
	--cs-btn-bg: #{$cs-white};
	--cs-transparent-bg: #{$cs-blue-dark-2};
	--cs-shadow-light: rgba($cs-black, 0.12);
	--cs-shadow-medium: rgba($cs-black, 0.24);

	--custom-bg: #{$cs-mint};
	--custom-br: #{$cs-mint};
	--custom-alt-bg: #{$cs-blue-medium-6};
	--custom-purple-bg: #{$cs-purple};

	--header-tab-c: #{$cs-gray-dark-3};
	--header-tab-active-c: #{$cs-purple};
	--header-tab-active-alt-c: #{$cs-gray-dark-1};
	--header-tab-active-bg: #{$cs-gray-light-6};

	--icons-search-field-bg: #{$cs-white};
	--icons-search-field-c: #{$cs-gray-dark-4};
	--icons-search-field-placeholder-c: #{$cs-gray-medium-1};
	--icons-container-bg: #{$cs-white};
	--icons-paragraph-c: #{$cs-gray-dark-2};
	--icons-custom-fill: #{$cs-mint};

	--important-chip-bg: #{$cs-mint};
	--important-chip-c: #{$cs-gray-dark-1};
	--neutral-chip-bg: rgba(255, 255, 255, 35%);
	--neutral-chip-c: #{$cs-gray-dark-5};

	--prop-link-c: #{$cs-blue-sf};
	--prop-inline-container-fill: #{$cs-mint};
	--prop-info-c: #{$cs-gray-dark-6};
	--prop-custom-bg: #{$cs-gray-light-3};
	--prop-custom-c: #{$cs-gray-dark-6};
	--prop-table-cell-br: #{$cs-gray-light-2};
	--prop-table-header-bg: #{$cs-purple};
	--prop-table-header-c: #{$cs-white};
	--prop-table-row-stripes-bg-light: #{$cs-white};
	--prop-table-row-stripes-bg-dark: #{$cs-gray-light-7};
	--prop-code-c: #{$cs-black};
	--prop-code-bg: #{$cs-gray-light-5};
	--prop-code-br: #{$cs-gray-light-1};
	--prop-code-custom-bg: #{$cs-white};

	--preview-chip-c: #{$cs-white};
	--preview-chip-br: #{$cs-blue-sf};
	--preview-chip-bg: #{$cs-blue-sf};
	--preview-chip-second-c: #{$cs-gray-medium-1};
	--preview-chip-second-bg: #{$cs-gray-light-11};
	--preview-chip-second-br: #{$cs-gray-medium-1};

	--preview-main-heading-title-c: #{$cs-black};
	--preview-main-heading-subtitle-c: #{$cs-gray-dark-6};

	--release-notes-code-snippet-bg: #{$cs-white};

	--req-table-bg: #{$cs-purple};
	--req-table-c: #{$cs-white};
	--req-table-before-c: #{$cs-gray-dark-1};

	--sidebar-search-field-c: #{$cs-white};
	--sidebar-search-field-bg: #{$cs-gray-dark-4};
	--sidebar-search-field-placeholder-c: #{$cs-gray-light-4};
	--sidebar-link-c: #{$cs-white};
	--sidebar-link-hover-bg: #{$cs-purple};
	--sidebar-link-hover-c: #{$cs-white};
	--sidebar-link-active-bg: #363a3b;
	--sidebar-info-bg: #{$cs-white};
	--sidebar-info-hover-bg: #{$cs-white};
	--sidebar-toggle-graphic-fill: #{$cs-white};

	--table-row-bg: #{$cs-white};
	--table-row-br: #{$cs-gray-light-3};
	--table-prop-api-bg: #{$cs-gray-light-5};
	--table-helper-bg: #{$cs-gray-light-6};
	--table-head-row-bg: #{$cs-purple};
	--table-head-row-c: #{$cs-white};
	--table-backlog-bg: #{$cs-gray-medium-1};

	--dropdown-purple-bg: #{$cs-purple};
	--spinner-black-bg: #{$cs-black};
	--image-black-bg: #{$cs-black};
	--api-method-c: #{$cs-gray-medium-1};
	--version-desc-bg: #{$cs-gray-light-8};
	--snippet-bg: #{$cs-gray-light-8};
	--divider-br: #{$cs-gray-medium-3};
}

/* Dark theme support
.cs-theme-dark {

}
 */
