/* CS COLORS STYLES */

.cs-colors {
	display: flex;
	flex-wrap: wrap;
	margin-left: -2rem;
	margin-top: -2rem;

	.cs-color {
		margin: 2rem 0 0 2rem;
		font-size: 0.875rem;
		border-radius: 0.25rem;
		outline: 0;
		overflow: hidden;
		&:focus {
			@include css4 {
				box-shadow: 0 0 3px	cvar(--cs-shadow-focus);
			}
		}
	}

	.cs-color-header {
		padding: 2rem;
	}

	.cs-color-body {
		padding: 1.25rem;
		min-width: 125px;
		text-align: center;
		@include sbg(--cs-color-body-bg);
		@include sc(--cs-color-body-c);
	}

	.cs-color-name {
		margin: 0 0 0.5rem 0;
		@include sc(--cs-color-name-c);
	}
}
