html,
body,
#root {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.cs-app-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.app-main-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 2;
	color: #080707;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(#000, 0.22);

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;

		.main-header-tab {
			a {
				text-decoration: none;
				padding: 0.5rem 1.25rem;
				font-size: 1.4rem;
				display: inline-block;
				cursor: pointer;
				color: rgba(#3e3e3c, 0.7);
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;

				&:hover {
					border-bottom: 5px solid #00abd2;
				}

				&.active-main-header-tab {
					color: rgba(#3e3e3c, 0.9);
					background: #f2f3f3;
					border-bottom: 5px solid #00abd2;
				}
			}

			&:first-child a {
				width: 15rem;
			}
		}
	}

	img {
		padding: 0 1rem;
	}
}

.app-body {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	overflow: auto;
	background: #ecebea;

	.components-list-wrapper {
		width: 1.5rem;
		display: flex;
		flex-direction: column;
		background: #444;
		transition: width 0.4s;

		&.sidebar-open {
			width: 15rem;
		}

		.components-list-search {
			padding: 0;
			position: relative;

			> .cs-icon {
				position: absolute;
				width: 1rem;
				height: 1rem;
				top: 0.875rem;
				left: 1rem;
				pointer-events: none;
				fill: #fff;
			}

			input {
				display: inline-block;
				font-size: 1rem;
				line-height: 1.875rem;
				padding: 0 2rem 0 2.75rem;
				width: 100%;
				height: 45px;
				border: none;
				color: #fff;
				background: rgba(#fff, 0.15);

				&::placeholder {
					color: rgba(#fff, 0.75);
				}

				&:focus, &:active {
					outline: none;
					border: none;
				}
			}

			.cs-btn {
				position: absolute;
				top: 1rem;
				right: 1rem;
				width: 1rem;
				height: 1rem;
				min-width: 1rem;

				.cs-btn-icon {
					width: 1rem;
					height: 1rem;
					min-width: 1rem;
				}

				&:active::after,
				&:focus::after {
					outline: none;
					box-shadow: none;
					border: none;
				}
			}

			~ .components-list-inner .components-list {
				padding: 0;
			}
		}

		.components-list-inner {
			flex: 1;
			overflow: auto;
		}

		.components-list {
			margin: 0;
			padding: 0.5rem 0;
			list-style: none;

			.ui-component a {
				display: block;
				padding: 0.5rem 1rem;
				cursor: pointer;
				text-decoration: none;
				word-break: break-all;
				color: #fff;

				&:hover {
					background: #00abd3;
				}

				&.active-component {
					background: #363a3b;
				}
			}
		}
	}

	.components-preview-wrapper {
		display: flex;
		flex: 1;
		position: relative;
		background: transparent;
		width: calc(100% - 15rem);

		.sidebar-toggle {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: -0.88rem;
			top: 2rem;
			width: 1.75rem;
			height: 1.75rem;
			border-radius: 50%;
			z-index: 10;
			cursor: pointer;
			transition: transform 0.2s;
			background: #00abd3;

			&:hover {
				transform: scale(1.1);
				transform-origin: center;
			}

			svg {
				width: 1rem;
				height: 1rem;
				margin: 0;
				fill: #fff;
			}
		}
	}

	.components-preview {
		position: relative;
		flex: 1;
		display: flex;
		box-shadow: 0 0 10px rgba(#000, 0.22);

		.preview-section-wrapper {
			display: flex;
			flex-direction: column;
			flex: 1;
			overflow-y: auto;
			border-right: 1px solid #ccc;

			.preview-heading {
				margin: 0 2rem;
				padding: 2rem 0;
				border-bottom: 1px solid #ccc;

				h1 {
					margin: 0.5rem 0;
					font-size: 3rem;
				}

				h2 {
					margin-top: 1rem;
					font-size: 1.25rem;
					font-weight: 400;
					color: #999;
				}
			}

			.property-section {
				padding: 2rem 2rem 0;

				.info-text {
					margin: 0 0 1rem;
					padding: 0;
					font-size: 1rem;
					width: 100%;
					max-width: 600px;
					color: #999;
				}

				&.custom {
					padding: 2rem;
					margin-top: 2rem;
					background: #ddd;

					.info-text {
						color: rgba(#706e6b, 0.8);
					}

					.chip-label {
						background: transparent;
					}
				}
			}

			.property-name {
				margin: 0 0 0.5rem 0;
				font-size: 1.375rem;
			}

			.component-name {
				margin: 1rem 0 0.5rem;
				font-size: 1.125rem;

				&:first-child {
					margin: 0 0 0.5rem;
				}
			}

			.component-version {
				display: flex;
				width: 100%;
				border-radius: 0.25rem;
				margin-bottom: 1rem;
				background: #fff;
				box-shadow: 1px 1px 3px rgba(#000, 0.1);

				.version-preview {
					width: 70%;
					flex: 1;
					overflow: auto;
					padding: 0.5rem;

					&.modal-preview {
						min-height: 30rem;
						flex: 1;
						transform: translate3d(0, 0, 0);

						.custom-class {
							background-color: pink;
						}
					}

					&.spinner-preview {
						position: relative;

						.custom-class {
							background-color: pink;
						}
					}

					&.header-preview {
						min-height: 10rem;
						padding: 0;

						.custom-class {
							background-color: pink;
						}
					}

					&.path-preview {
						min-height: 10rem;
						padding: 1rem;

						.custom-class {
							background-color: pink;
						}
					}

					&.table-preview {
						height: auto;

						.custom-class {
							border-top: 1px solid pink;
						}
					}

					&.pagination-preview {
						padding: 1rem;
					}

					&.checkbox-preview {
						padding: 1rem;

						.custom-class {
							border: 2px solid pink;
						}
					}

					&.toggle-preview {
						padding: 1rem;
						overflow: visible;

						.custom-class {
							border: 2px solid pink;
						}
					}

					&.radio-preview {
						padding: 1rem;
						overflow: visible;

						.custom-class {
							border: 2px solid pink;
						}
					}

					&.tooltip-preview {
						display: flex;
						justify-content: center;
						align-items: center;
						overflow: visible;

						.custom-class {
							background-color: pink;
						}
					}

					&.alert-preview {

						.custom-class {
							background-color: pink;
						}
					}

					&.toast-preview {

						.custom-class {
							background-color: pink;
						}
					}

					&.tab-preview {

						.custom-class {
							background-color: pink;
						}
					}

					&.button-preview,
					&.button-dropdown-preview {

						.blue-background {
							background-color: #16325c;
							padding: 0.5rem;
						}

						.custom-class {
							border: 3px solid pink;
						}
					}

					&.input-text-preview {
						overflow: visible;

						.custom-class {
							background-color: pink;
						}
					}

					&.input-number-preview {
						overflow: visible;

						.custom-class {
							background-color: pink;
						}
					}

					&.input-search-preview {
						overflow: visible;

						.custom-class {
							border: 3px solid pink;
						}
					}

					&.input-file-preview {
						overflow: visible;

						.custom-class {
							border: 3px solid pink;
						}
					}

					&.label-preview {
						overflow: visible;

						.custom-class {
							background-color: pink;
						}
					}

					&.textarea-preview {
						overflow: visible;

						.custom-class {
							background-color: pink;
						}
					}

					&.select-preview {
						overflow: visible;

						.custom-class {
							border: 3px solid pink;
						}
					}

					&.custom-select-preview {

						.custom-class {
							border: 3px solid pink;
						}
					}

					&.chip-preview {

						.custom-class {
							background-color: pink;
						}
					}

					&.card-preview {

						.custom-class {
							background-color: pink;
						}
					}

					&.section-preview {

						.custom-class {
							background-color: pink;
						}
					}

					&.progress-preview {

						.custom-class {
							background-color: pink;
						}
					}

					&.icon-component-preview {

						.custom-class {
							color: pink;
						}
					}
					&.button-group-preview {

						.custom-class {
							border: 3px solid pink;
						}
					}
				}

				&:last-child {
					margin-block-end: 0;
				}
			}
		}

		.prop-sidebar {
			flex: 1;
			padding: 2rem;
			max-width: 16rem;
			overflow-y: auto;

			h3 {
				margin-block-end: 1rem;
				font-size: 1.375rem;
			}

			.prop-group {
				margin-block-end: 1rem;

				h4 {
					margin-block-end: 0.25rem;
					font-size: 1.125rem;

					a {
						color: #0070d2 !important;
						text-decoration: none !important;
						font-weight: 700;
					}
				}

				span {
					display: block;
					padding: 0.25rem 0 0 1rem;

					.custom-class {
						fill: pink;
					}

					a {
						color: #0070d2 !important;
						text-decoration: none !important;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&.icons {
			padding: 0;
			flex-direction: column;
		}

		&.colors {
			padding: 1rem;
			flex-direction: column;
		}

	}

	/* COMPONENT CODE SNIPPET */
	.version-description {
		border-radius: 0 0.25rem 0.25rem 0;
		width: 30%;
		overflow-x: auto;
		background: #f5f2f0;
	}
	.code-snippet {
		margin: 0 !important;
		border-radius: 0 0.25rem 0.25rem 0;

		code {
			font-family: monospace;
		}
	}

	/* COMPONENT PROPERTIES TABLE */
	.table-wrapper {
		padding: 2rem;
	}

	.table-wrapper-alt {
		padding-top: 0;
	}

	.table-row {
		display: flex;
		background: #fff;
		border-bottom: 1px solid #d8d8d8;

		.table-cell {
			display: flex;
			flex: 1;
			flex-wrap: wrap;
			padding: 0.5rem 1rem;
			overflow: hidden;
			white-space: normal;

			&:first-child {
				flex: 0 1 15rem;
			}

			.prop-option {
				margin: 0.1rem 0.5rem 0.1rem 0;
				padding: 0 0.25rem;
				background: #ecebea;
				display: inline-table;
			}
		}
	}

	.table-header .table-row {
		background: #00abd3;
		color: #fff;

		.table-cell {
			padding: 0.25rem 1rem;
		}
	}

	.backlog-table-wrapper .table-header .table-row {
		background: #999;
	}

	.chip-label {
		display: inline-block;
		margin-bottom: 0.25rem;
		padding: 0.25rem 0.5rem;
		border-radius: 15rem;
		font-size: 0.8rem;
		line-height: 1;
		margin-right: 0.3rem;
		color: #999;
		background: rgba(#fff, 0.34);
		border: 1px solid #999;
	}

	/* CS COLORS PREVIEW */
	.cs-colors {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;
		align-items: start;

		.cs-color {
			font-size: 0.875rem;
			border-radius: 0.25rem;
			outline: 0;
			overflow: hidden;
			&:focus {
				box-shadow: 0 0 3px #0070d2;
			}
		}

		.cs-color-header {
			padding: 2rem;
		}

		.cs-color-body {
			padding: 0.75rem;
			min-width: 125px;
			font-size: 0.875rem;
			border-radius: 0 0 0.25rem 0.25rem;
			overflow: hidden;
			box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
			text-align: center;
			background: #fff;
			color: #999;

			h4 {
				display: block;
			}
		}

		.cs-color-header {
			padding-top: 60%;
		}

		.cs-color-name {
			margin: 0 0 0.5rem 0;
			width: 100%;
			font-weight: normal;
			color: #080707;
		}
	}

	@media only screen and (min-width: 1100px) {
		.cs-colors {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}

	@media only screen and (min-width: 1350px) {
		.cs-colors {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}

	@media only screen and (min-width: 1600px) {
		.cs-colors {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}

	@media only screen and (min-width: 1750px) {
		.cs-colors {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}

	@media only screen and (min-width: 1900px) {
		.cs-colors {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}
	/* END OF COLOR PREVIEW */

	/* ICONS PREVIEW */
	.icons {
		overflow: hidden;

		.icons-search-wrapper {
			position: relative;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			background: #fff;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);

			> .cs-icon {
				position: absolute;
				width: 1rem;
				height: 1rem;
				top: 1rem;
				left: 1rem;
				pointer-events: none;
				fill: #706e6b;
			}

			.icons-search {
				width: 100%;
				padding: 0.5rem 2.75rem;
				height: 3rem;
				border: none;
				font-size: 1rem;
				color: rgba(54, 58, 59, 0.780392);
				background: transparent;

				&::placeholder {
					color: rgba(54, 58, 59, 0.5);
				}

				&:focus, &:active {
					outline: none;
					border: none;
				}
			}

			.cs-btn {
				position: absolute;
				top: 1rem;
				right: 1rem;
				width: 1rem;
				height: 1rem;
				min-width: 1rem;

				.cs-btn-icon {
					width: 1rem;
					height: 1rem;
					min-width: 1rem;
					fill: #706e6b;
				}

				&:active::after,
				&:focus::after {
					outline: none;
					box-shadow: none;
					border: none;
				}
			}
		}

		.icons-preview-wrapper {
			overflow: auto;
		}

		.icons-preview {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-column-gap: 1rem;
			grid-row-gap: 1rem;
			align-items: start;
			padding: 1rem;
			margin: 0;

			> div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 128px;
				padding: 1rem;
				border-radius: 0.25rem;
				background: #fff;

				> div {
					padding-bottom: 1rem;

					svg {
						display: block;
						width: 2rem;
						height: auto;
						max-height: 2rem;

						g, path {
							fill: #706e6b;
						}
					}
				}

				p {
					font-size: 0.8125rem;
					margin: 0;
					overflow: hidden;
					word-break: break-all;
					text-align: center;
					color: #363a3b;
				}
			}
		}

		@media only screen and (min-width: 1250px) {
			.icons-preview {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			}
		}

		@media only screen and (min-width: 1400px) {
			.icons-preview {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			}
		}

		@media only screen and (min-width: 1650px) {
			.icons-preview {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			}
		}

		@media only screen and (min-width: 1800px) {
			.icons-preview {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			}
		}
	}
}

.cs-btn-image {
	display: block;
	padding: 2rem 2rem 0;
	width: auto;
	height: auto;
}
