@charset "UTF-8";

$font-salesforce: "Salesforce Sans";
$font-icon: "cs-dm";
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

@font-face {
	font-family: "Salesforce Sans";
	src: url("./../fonts/SalesforceSans-Light.woff") format("woff"); /* Modern Browsers */
	font-weight: $font-weight-light;
	font-style: normal;
}

@font-face {
	font-family: "Salesforce Sans";
	src: url("./../fonts/SalesforceSans-Regular.ttf");
	src: url("./../fonts/SalesforceSans-Regular.woff") format("woff"),
		/* Modern Browsers */ url("./../fonts/SalesforceSans-Regular.ttf")
			format("truetype"); /* Safari, Android, iOS */
	font-weight: $font-weight-normal;
	font-style: normal;
}

@font-face {
	font-family: "Salesforce Sans";
	src: url("../fonts/SalesforceSans-Bold.ttf");
	src: url("../fonts/SalesforceSans-Bold.woff") format("woff"),
		/* Modern Browsers */ url("../fonts/SalesforceSans-Bold.ttf")
			format("truetype"); /* Safari, Android, iOS */
	font-weight: $font-weight-bold;
	font-style: normal;
}

@font-face {
	font-family: "cs-dm";
	src: url("../fonts/cs-dm/fonts/cs-dm.eot");
	src: url("../fonts/cs-dm/fonts/cs-dm.eot?#iefix") format("embedded-opentype"),
		url("../fonts/cs-dm/fonts/cs-dm.woff") format("woff"),
		url("../fonts/cs-dm/fonts/cs-dm.ttf") format("truetype"),
		url("../fonts/cs-dm/fonts/cs-dm.svg#cs-dm") format("svg");
	font-weight: normal;
	font-style: normal;
}

*[class^="icon-"],
*[class*=" icon-"] {
	font-family: $font-icon;
}

/* Reusable icon class names */
.icon-chevrondown:before {
	content: "\61";
}
.icon-chevronleft:before {
	content: "\62";
}
.icon-chevronright:before {
	content: "\63";
}
.icon-chevronup:before {
	content: "\64";
}
.icon-add:before {
	content: "\65";
}
.icon-check:before {
	content: "\66";
}
.icon-close:before {
	content: "\67";
}
.icon-clear:before {
	content: "\68";
}
.icon-delete:before {
	content: "\72";
}
.icon-edit:before {
	content: "\73";
}
.icon-down:before {
	content: "\6d";
}
.icon-error:before {
	content: "\6c";
}
.icon-filterlist:before {
	content: "\74";
}
.icon-info:before {
	content: "\69";
}
.icon-left:before {
	content: "\6e";
}
.icon-right:before {
	content: "\6f";
}
.icon-rows:before {
	content: "\71";
}
.icon-success:before {
	content: "\6a";
}
.icon-up:before {
	content: "\70";
}
.icon-warning:before {
	content: "\6b";
}
.icon-description:before {
	content: "\75";
}
.icon-moneybag:before {
	content: "\76";
}
.icon-event:before {
	content: "\77";
}
.icon-new-lead:before {
	content: "\78";
}
.icon-undo:before {
	content: "\79";
}
.icon-like:before {
	content: "\7a";
}
.icon-dislike:before {
	content: "\41";
}
.icon-change-record-type:before {
	content: "\42";
}
.icon-negotiate:before {
	content: "\44";
}
.icon-save-negotiate:before {
	content: "\45";
}
.icon-approval:before {
	content: "\43";
}
.icon-arrowup:before {
	content: "\46";
}
.icon-arrowdown:before {
	content: "\47";
}
