@import "theme";
@import "font";
@import "settings/overflow";
@import "settings/z-index";

@import "checkbox";
@import "cs-table";
@import "pagination";
@import "table-filter";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--webkit-font-smoothing: antialiased;
	font-family: $font-salesforce;
}

body {
	margin: 0;
}

.error-text {
	color: red;
}

.app-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.cs-entire-table-wrapper {

	> .cs-table:first-child > thead > tr > .cs-table-header {
		top: 0;
	}

	> .cs-pagination-wrapper:first-child {
		top: 0;

		+ .cs-table > thead > tr > .cs-table-header {
			top: 4rem;
		}
	}

	> .table-filter-wrapper:first-child {
		top: 0;

		+ .cs-pagination-wrapper {
			top: 18px;

			+ .cs-table > thead > tr > .cs-table-header {
				top: 82px;
			}
		}

		+ .cs-table > thead > tr > .cs-table-header {
			top: 18px;
		}
	}
}