/* CS-FORM */
.cs-form {
	display: flex;
	flex-direction: column;
	flex: 1;
	.csf-error-msg {
		margin-bottom: 0.25rem;
	}
	.csf-section {
		width: 100%;
		.cs-section-body {
			display: flex;
			flex-wrap: wrap;
			align-items: baseline;
			width: 100%;
			.csf-field-wrapper {
				display: flex;
				padding: 0.5rem;
				width: var(--csf-field-width);
				&:not(.csf-field-wrapper-custom) > * {
					flex: 1;
					max-width: 100%;
				}
				&-custom {
					align-self: center;
				}
				.cs-label-wrapper {
					max-width: 100%;
				}
			}
			.csf-field-new-line {
				display: contents;
				&::before {
					content: '';
					width: 100%;
					height: 0;
				}
			}
		}
	}
}

