/* BUTTON STYLING */
.cs-btn {
	display: inline-flex;
	padding: 0 1rem 0 0;
	margin: 0 0.2rem;
	height: 2rem;
	font-weight: normal;
	cursor: pointer;
	border-radius: 0.25rem;
	user-select: none;
	@include sbg(--button-bg);
	@include css4 {
		border: 1px solid cvar(--button-br);
	}
	span {
		@include sc(--button-c);
		display: inline-flex;
		height: calc(2rem - 2px);
		align-items: center;
		justify-content: center;
		&.btn-icon {
			min-width: 2rem; // IE11 Support
			width: 2rem;
			font-size: 1rem;
		}
		&.btn-label {
			font-size: 0.8125rem;
			white-space: nowrap;
		}
	}
	&:hover {
		@include sbg(--button-bg, $gray-light-19);
	}
	&:focus {
		outline: none;
		position: relative;
		z-index: $z-index-button;
		@include css4 {
			box-shadow: 0 0 3px cvar(--button-c);
		}
	}
	&:active {
		@include css4 {
			--button-br: #{var(--main-c)};
			border: 1px solid cvar(--button-br, var(--main-c));
		}
	}
	&.disabled, &[disabled="disabled"], &[disabled] {
		cursor: default;
		box-shadow: none;
		@include sbg(--button-bg, $white);
		@include css4 {
			--button-br: #{$gray-light-6};
			border-color: cvar(--button-br, $gray-light-6);
		}
		span {
			@include sc(--button-c, $gray-light-5);
		}
	}
	&.btn-inverse {
		@include sbg(--button-bg, var(--main-c));
		span {
			@include sc(--button-c, $white);
		}
		&:hover {
			@include bgd(var(--button-bg), 0.15, var(--main-c));
		}
		&:focus {
			@include css4 {
				border: 1px solid cvar(--button-c);
			}
		}
		&:active {
			@include bgd(var(--button-bg), 0.25, var(--main-c));
		}
		&.disabled, &[disabled="disabled"], &[disabled] {
			@include sbg(--button-bg, $gray-medium-11);
		}
	}
	&.btn-highlight {
		@include css4 {
			--button-br: #{var(--main-c)};
			border-color: cvar(--button-br, var(--main-c));
		}
	}
	&.btn-transparent {
		background: transparent;
		border: 1px solid transparent;
		&:hover span {
			@include sc(--button-c, cvar(--button-hover-alt));
		}
		&:focus {
			@include css4 {
				box-shadow: 0 0 3px cvar(--main-c);
			}
		}
		&:active {
			@include css4 {
				--button-br: #{var(--main-c)};
				border: 1px solid cvar(--button-br, var(--main-c));
			}
		}
		&.btn-disabled, &.btn-disabled:hover, &.btn-disabled:focus {
			cursor: default;
			border-color: transparent;
			box-shadow: none;
			span {
				@include sc(--button-c, var(--main-br));
			}
		}
	}
	&.no-icon {
		padding: 0 1rem;
		.btn-icon {
			display: none;
		}
	}
	&.icon-only {
		justify-content: center;
		min-width: 2rem; // IE11 Support
		padding: 0;
		span {
			@include sc(--button-c, $gray-dark-9);
		}
		&:hover {
			@include sc(--button-c, cvar(--main-c));
		}
		.btn-label {
			display: none;
		}
	}
	&.btn-wide {
		display: flex;
		width: 100%;
		padding-right: 1.5rem;
		margin-left: 0;
		.btn-label {
			flex: 1;
			display: inline-block;
			text-align: center;
			line-height: calc(2rem - 2px);
			@include overflow-ellipsis;
		}
		&.no-icon {
			padding: 0 1rem;
		}
	}
	/* SPECIFIC BUTTONS */
	&.expand-btn {
		transition: all 100ms linear;
		font-size: 1rem;
		@include sc(--button-icon-c);
		.btn-icon::before {
			position: relative;
			top: 2px;
		}
		&.expanded {
			transform: rotate(90deg);
		}
	}
}
.btn-group {
	display: inline-flex;
	margin: 0.25rem 0.2rem;
	.cs-btn {
		margin: 0;
		margin-left: -1px;
		border-radius: 0;
		&:first-child {
			border-top-left-radius: 0.25rem;
			border-bottom-left-radius: 0.25rem;
		}
		&:last-child {
			border-top-right-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;
		}
	}
	&.navigation {
		.cs-btn:last-child {
			padding: 0 0 0 1rem;
		}
	}
}


/* ACTION ROW */
#root .action-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1rem 1rem 2rem;
	@include sbg(--light-bg);
	@include css4 {
		border-bottom: 1px solid cvar(--main-br);
	}
	.left-group, .right-group {
		display: flex;
		align-items: center;
	}
	.icon-only {
		margin: 0 0.25rem;
		&:first-child {
			margin-left: 0.5rem;
		}
	}
	.no-icon.btn-transparent {
		padding: 0 0.5rem;
	}
}


/* PAGINATION */
.pagination-wrapper {
	display: flex;
	justify-content: flex-end;
	padding: 0.5rem 2rem;
	background: $white;
	border-top: 1px solid $gray-light-6;
	.pagination-buttons-wrapper {
		display: flex;
		.navigation-button, .pager-button, .pager-select {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2rem;
			min-width: 2rem;
			margin: 0 0 0 -2px;
			padding: 0;
			border-radius: 0;
			&:first-child {
				border-top-left-radius: 0.25rem;
				border-bottom-left-radius: 0.25rem;
			}
			&:last-child {
				border-top-right-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;
			}
			&[disabled] {
				@include sc(--button-c-disabled);
			}
			&:focus, &:active {
				position: relative;
				z-index: $z-index-button;
			}
		}
		.navigation-button {
			@include sc(--button-icon-c);
			font-size: 0.75rem;
			&:first-child::before {
				position: relative;
				right: 1px;
			}
			&:last-child::before {
				transform: rotate(180deg);
			}
		}
		.pager-button.pager-selected {
			@include sbg(--button-bg-alt);
			@include sc(--font-inverse-c);
			@include css4 {
				border: 1px solid cvar(--button-bg-alt);
			}
		}
		.pager-select {
			padding: 0 0.5rem;
			text-indent: 2px;
		}
	}
	.page-size-container {
		margin-left: 1rem;
		max-width: 4rem;
	}
}