/* GRID CELL STATES */

/* ANIMATIONS */
@keyframes success-pseudo {
	0% {
		opacity: 0;
	}
	33%, 66% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes success-border {
	0% {
		border: 2px dashed transparent;
	}
	33%, 66% {
		@include css4 {
			border: 2px dashed cvar(--csgrid-row-cell-success-br);
		}
	}
	100% {
		border: 2px dashed transparent;
	}
}

.cs-grid_app-wrapper {
	.ag-cell-data-changed {
		animation: success-border 1s;
		border: 2px dashed transparent;
		@include sbg(--csgrid-transparent);

		.cs-grid_cell-content {
			/* SUCCESS ICON ANIMATION */
			&::before {
				animation: success-pseudo 1s;
				content: "\74";
				font-family: 'cs-grid';
				font-size: 0.9rem;
				position: absolute;
				right: 0.5625rem;
				align-self: center;
				opacity: 0;
				@include sc(--csgrid-row-cell-success-icon-bg);
			}

			/* CELL TEXT CONTENT SPACING */
			> span,
			.cs-tooltip-wrapper > span {
				padding-right: 0.75rem;
			}
		}

		/* HIDE ACTION BUTTONS ON LOOKUP SUCCESS */
		.cs-grid_cell-content-lookup.select-wrapper {
			.select-wrapper-actions {
				display: none;
			}
		}

		/* DATE/LOOKUP/PICKLIST FIELDS */
		.cs-grid_cell-content-date::before,
		.cs-grid_cell-content-lookup::before,
		.cs-grid_cell-content-lookup::before,
		.cs-grid_cell-content-picklist::before {
			right: 1.75rem;
		}
	}

	.ag-theme-balham {
		.ag-header-cell::after,
		.ag-header-group-cell::after {
			margin-top: 0;
			top: 0;
			height: 35px;
			width: 0;
			@include css4 {
				border-right: 1px solid cvar(--csgrid-input-br);
			}
		}

		.read-only-cell {
			@include sc(--csgrid-checkbox-disabled-checked-br);
		}

		.ag-cell.read-only-cell-wrapper:focus {
			background: rgba(0,0,0,0.05) !important;

			&.ag-cell-focus {
				border: 2px solid transparent;
			}
		}

		.ag-ltr .ag-has-focus.ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
			@include css4 {
				border: 2px dashed cvar(--csgrid-edit-br);
			}
		}

		.ag-cell {
			padding-right: 0.75rem;
			padding-left: 0.75rem;
			border: 2px solid transparent;
		}

		.ag-cell .ag-react-container {

			input[type="number"] {
				width: 100% !important;
			}

			> span {
				width: 100%;
				display: flex;

				> span,
				.cs-tooltip-wrapper > span {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 100%;
				}
			}
		}

		.ag-cell,
		.ag-cell.ag-cell-inline-editing,
		.ag-cell.ag-cell-not-inline-editing {
			display: flex;
			align-items: center;
			height: 100%;
			border-radius: 0;
			background: transparent;
			&:not(.cs-grid_custom-class):not(.ag-cell-data-changed)  {
				z-index: var(--z-index-cell);
				@include sbg(--csgrid-transparent);
			}

			.ag-react-container {
				display: flex;
				align-items: center;
				height: 42px;
				border: none !important;
				border-radius: 0 !important;
				box-shadow: none !important;
				outline: none !important;

				input {
					//border: none !important;
					height: 42px;
					font-size: 0.75rem;
					line-height: 26px;
					padding-bottom: 1px;
					//padding: 0 0.75rem 1px;
					@include sbg(--csgrid-transparent);
				}
			}

			.ag-input-text-wrapper input {
				border: none !important;
				height: 50px;
				font-size: 0.75rem;
				line-height: 26px;
				padding-bottom: 1px;
				@include sbg(--csgrid-transparent);
			}

			&:focus:not(.read-only-cell-wrapper).ag-cell-focus.ag-cell-focus {
				@include css4 {
					border: 2px dashed cvar(--csgrid-edit-br);
				}
			}
		}

	}

	.cs-grid_number-inner,
	.cs-grid_text-inner {
		width: 90% !important;
		border: none !important;
		border-radius: 0 !important;
		box-shadow: none !important;
		outline: none !important;
		padding: 0 !important;
	}
}

/* ICON FIELD STYLES */
.cs-grid_icon-cell {
	&.cs-grid_icon-cell-tooltip > .cs-tooltip-wrapper > * + *,
	&:not(.cs-grid_icon-cell-tooltip) > * + * {
		margin-left: 0.5rem;
	}
}