.react-datepicker__tab-loop {
	position: relative;

	.react-datepicker-popper {
		position: fixed !important;
		top: unset !important;
		left: unset !important;
		will-change: unset !important;
		transform: unset !important;
	}
}

.date-attribute .cs-datepicker {

	.react-datepicker-wrapper input {
		height: 2.5rem;
	}

	.cs-icon.cs-datepicker-icon {
		bottom: 0.8125rem;
	}
}