.react-datepicker__tab-loop {
	position: relative;

	.react-datepicker-popper {
		position: fixed !important;
		top: unset !important;
		left: unset !important;
		will-change: unset !important;
		transform: unset !important;
	}
}