//.cs-grid_search-wrapper {
//    padding: 0.5rem;
//    min-width: 240px;
//}
//.cs-grid_app-wrapper .ag-theme-balham .ag-cell.ag-cell-inline-editing {
//	padding: 0;
//	.cs-selected-input-option {
//		height: 42px;
//		line-height: 42px;
//	}
//}
.cs-grid_lookup-grid {
	height: 10rem;
	min-width: 240px;

	.ag-root-wrapper .ag-root-wrapper-body .ag-root {
		border: none;
		border-top: 1px solid cvar(--csgrid-row-br);

		.ag-row {
			&:hover {
				@include sbg(--csgrid-row-lookup-cell-hover-bg);

				.ag-cell {
					background: transparent !important;
				}
			}

			&.ag-row-selected .ag-cell {
				@include sc(--csgrid-row-lookup-cell-hover-c);
				@include sbg(--csgrid-row-lookup-selected-bg);
			}

			/* CELL */
			.ag-cell {
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				max-width: 100%;
			}
		}
	}
}