.cs-grid_app-wrapper {

	.ag-react-container {
		width: 100%;

		.select-wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;

			> span {
				display: block;
				min-width: 2rem;
			}

			&:after {
				content: "g";
				font-size: 1rem;
				pointer-events: none;
				margin-left: 0.5rem;
				@include sc(--csgrid-container-after-c);
			}

			// Actions
			.select-wrapper-actions {
				align-items: center;
				display: flex;
				margin-left: auto;

				+ .cs-tooltip-wrapper {
					margin-left: 0.25rem;
				}
			}
		}
	}

	.cs-grid_picklist-search-wrapper {
		width: 100%;
		@include css4 {
			border-bottom: 1px solid cvar(--csgrid-popup-br);
		}
	}

	.ag-popup-editor.ag-popup-editor {
		display: flex;
		min-width: 0;
		max-width: 800px;
		max-height: 340px;
		border-radius: 0.25rem;
		overflow: hidden !important;
		border-radius: 0.25rem;
		@include css4 {
			border: 1px solid cvar(--csgrid-popup-br);
			box-shadow: 0 2px 3px 0 cvar(--csgrid-popup-box);
		}

		> .ag-react-container > div {
			display: block;
		}

		> div {
			box-shadow: none;

			> div {
				width: 100%;
			}
		}

		.picklist-header {
			display: flex;
			align-items: center;
			padding: 0.4rem 0.5rem 0.4rem 0.6rem;
		}

		.picklist-list {
			min-width: 240px;
			width: 100%;
			display: flex;
			flex-direction: column;
			overflow: auto;

			.picklist-list-item {
				position: relative;
				display: flex;
				align-items: center;
				padding: 0.4rem 0.5rem 0.4rem 0.6rem;
				cursor: pointer;
				@include css4 {
					border-bottom: 1px solid cvar(--csgrid-picklist-br);
				}

				&:hover {
					@include sbg(--csgrid-picklist-hover-bg)
				}

				&.selected {
					@include sc(--csgrid-picklist-selected-c);
					@include sbg(--csgrid-picklist-selected-bg);

					&:after {
						display: block;
						content: "";
						height: 0.25rem;
						width: 0.5rem;
						position: absolute;
						top: 50%;
						right: 0.6rem;
						transform: translateY(-50%) rotate(-45deg);
						@include css4 {
							border-bottom: 2px solid cvar(--csgrid-picklist-tick-br);
							border-left: 2px solid cvar(--csgrid-picklist-tick-br);
						}
					}
				}
				> span[class^="icon-"] {
					display: flex;
					margin-right: 0.25rem;
				}
			}
			.divider-horizontal {
				width: 100%;
				height: 0;
				margin-block-start: 0.25rem;
				margin-block-end: 0.25rem;
				@include css4 {
					border-bottom: 1px solid cvar(--csgrid-picklist-divider-br);
				}
			}
		}
	}

	.cs-grid_popup-wrapper {
		display: flex !important;
		flex-direction: column;
		flex: 1;
	}
}

