.cs-grid_app-wrapper {

	.row-menu-wrapper {
		display: flex;
		height: 2rem;
		align-items: center;

		.icon-menu {
			display: flex;
			height: 2rem;
			align-items: center;
			background: none;
			border: 0;
			cursor: pointer;

			&:hover {
				@include sc(--csgrid-row-selection-icon-hover-c);
			}
		}
	}

	.ag-popup-editor.ag-popup-editor {
		overflow: visible;

		// Temporary fix for last row dropdown not to be hidden because of overflow
		// To remove once auto positioning is done inside CSDropdown
		.cs-dropdown-wrapper {
			position: fixed;
		}
	}
}

