.cs-grid_app-wrapper {

	.row-menu-wrapper {
		display: flex;
		height: 2rem;
		align-items: center;

		.icon-menu {
			display: flex;
			height: 2rem;
			align-items: center;
			background: none;
			border: 0;
			cursor: pointer;

			&:hover {
				@include sc(--csgrid-row-selection-icon-hover-c);
			}
		}
	}

	.ag-popup-editor.ag-popup-editor {
		overflow: visible;

		.ag-row-selected {
			@include sc(--csgrid-secondary);
		}
	}
}