.specification-editor-table {
	flex: 1 1 0;
	overflow-y: auto;
	padding-bottom: 1rem;
	@include sbg(--main-bg);
	.table-error-message, .tab-error-message, .configuration-error-notification {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 0.8125rem;
		padding: 0.25rem 1rem 0.25rem 2.5rem;
		margin-bottom: 1rem;
		z-index: 999;
		@include sbg(--main-bg);
		@include sc(--font-c);
		@include css4 {
			box-shadow: 0 1px 2px 0 cvar(--shadow-light);
		}
		.icon-warning {
			display: flex;
			align-items: center;
			position: relative;
			top: 1px;
			font-size: 0.95rem;
			margin-right: 0.5rem;
			@include sc(--form-tooltip-warning-bg);
		}
	}
	.table-error-message {
		position: sticky;
		top: 0;
		z-index: $z-index-error-message;
	}
	.configuration {
		border-radius: 0.25rem;
		margin: 0 1rem 0.5rem 1rem;
		@include css4 {
			border: 1px solid cvar(--main-br);
			box-shadow: 0 1px 2px 0 cvar(--shadow-light);
		}
		&:first-child {
			margin-top: 1rem;
		}
		.configuration-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 1rem;
			height: 3rem;
			border-top-right-radius: 0.25rem;
			border-top-left-radius: 0.25rem;
			cursor: pointer;
			@include sbg(--table-bg);
			&:hover {
				.buttons-title-wrapper h2 {
					@include sc(--font-highlight);
				}
			}
			.buttons-title-wrapper {
				display: flex;
				align-items: center;
				.checkbox-round, .expand-btn {
					margin: 0 0.25rem;
					&:first-child {
						margin-left: 0.5rem;
					}
				}
				.expand-btn {
					font-size: 1rem;
					&:before {
						position: relative;
						top: 2px;
					}
				}
				h2 {
					font-size: 1.125rem;
					margin-left: 0.25rem;
					@include sc(--table-c);
				}
			}
			/* TEMPORARY UNTIL TABS ARE RETURNED */
			.configuration-error-notification {
				background: none;
				box-shadow: none;
				width: 1rem;
				padding: 0;
				margin: 0;
			}

			.tabs-price-wrapper {
				display: flex;
				align-items: center;
				.separator {
					height: 1.5rem;
				}
				.configuration-price {
					margin: 0 0.5rem 0 2rem;
					.currency {
						margin-right: 0.25rem;
					}
				}
			}
		}
		.configuration-body {
			border-bottom-left-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;
			@include sbg(--light-bg);
			@include css4 {
				border-top: 1px solid cvar(--main-br);
			}
			.tab-error-message {
				margin-bottom: 0;
				padding-left: 1.5rem;
				box-shadow: none;
				.icon-warning {
					font-size: 0.9rem;
				}
			}
			.attributes-wrapper {
				display: flex;
				flex-wrap: wrap;
				padding: 1rem;
				.additional-product-container {
					padding: 0 0.5rem;
					margin-bottom: 0.5rem;
					width: 25%;
					.element-label {
						display: flex;
						font-size: 0.75rem;
						line-height: 1.5;
						margin-left: 1px;
						position: relative;
						@include overflow-ellipsis;
						@include sc(--form-label-c);
					}
				}
				.bulk-edit {
					pointer-events: none;
				}
			}
		}
		&.collapsed {
			margin-bottom: 0.25rem;
			.configuration-header {
				border-bottom-right-radius: 0.25rem;
				border-bottom-left-radius: 0.25rem;
			}
			.configuration-body {
				display: none;
			}

		}
	}
}