.ag-react-container .cs-tooltip-wrapper:first-child {
	margin: 0;
}

.cs-tooltip-wrapper {
	margin-left: auto;
	align-items: center;
	display: inline-flex;
	position: relative;
}

.cs-tooltip-wrapper.cs-tw-info.cs-tooltip-style-position-fixed {
	width: 100%;
	height: 26px;
}