@import "settings/overflow-ellipsis";

@import "theme";
@import "font";
@import "quick-filter";
@import "pagination";
@import "boolean";
@import "cell";
@import "picklist";
@import "datepicker";
@import "lookup";
@import "tooltip";
@import "filter";
@import "row-selection";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

.cs-grid_pagination-wrapper,
.cs-grid_quick-filter-wrapper,
.cs-grid_app-wrapper {

	.ag-theme-balham {
		font-weight: 400;
		font-size: 0.8125rem;
		line-height: 1;
		font-family: Salesforce Sans, Arial, sans-serif;
		@include sc(--csgrid-theme-c);
		@include sbg(--csgrid-theme-bg);

		&.cs-grid_main {
			height: 400px;
		}

		.ag-root {
			@include css4 {
				border: 1px solid cvar(--csgrid-row-br);
			}

			.ag-header {
				height: 35px !important;
				min-height: 35px !important;
				font-size: 0.75rem;
				font-weight: 400;
				@include sbg(--csgrid-header-row-bg);
				@include sc(--csgrid-header-row-c);
				@include css4 {
					border-bottom: 1px solid cvar(--csgrid-row-br);
				}

				.ag-header-row {
					height: 35px !important;
					min-height: 35px !important;

					.ag-header-cell {
						border: none;
						@include sbg(--csgrid-header-cell-bg);

						.cs-grid_header-inner {
							width: 100%;
						}

						.icon-menu {
							display: flex;
						}

						.ag-react-container > div {
							display: flex;
							justify-content: flex-start;
							align-items: center;

							> span:not(.btn-icon):not(.customHeaderMenuButton):not(.ag-filter-icon) {
								display: block;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								width: 100%;
								margin: 0;
								padding-right: 0.5rem;
							}

							.customHeaderMenuButton,
							.ag-filter-icon {
								margin-right: 0.25rem;
							}

							.btn-icon {
								margin: 0;
								display: block;
								padding-top: 4px;
							}
						}
					}
				}
			}

			.ag-header-select-all,
			.ag-header-select-all span {
				margin: 0 !important;
			}

			/* enable basic browser text selection in grid cells */
			.ag-cell-focus {
				-webkit-user-select: text;
				-moz-user-select: text;
				-ms-user-select: text;
				user-select: text;
			}
		}

		.ag-selection-checkbox {
			display: flex;
			margin-left: -2px;

			+ .ag-cell-value .ag-react-container {
				display: inline-flex;
			}
		}

		.row-selection-icons-item {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			position: relative;
			padding: 0;
			margin: 0;
			min-width: 2rem; // IE11 Support
			height: 2rem;
			cursor: pointer;
			border-radius: 0;
			user-select: none;
			border: none;
			background: none;
			text-decoration: none;

			&::before, &::after { // Background and border
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				border-radius: 0;
				pointer-events: none;
			}

			&::before {
				@include sbg(--csgrid-button-bg);
				clip-path: inset(1px 1px 1px 1px); // Fix for background overflowing borders
			}

			&::after {
				@include css4 {
					border: 1px solid cvar(--csgrid-button-br);
				}
			}

			.icon-menu,
			.cs-btn-icon {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: calc(2rem - 2px);
				min-width: calc(2rem - 2px);
				width: calc(2rem - 2px);
				z-index: 2;
				pointer-events: none;
				border-radius: 0;
				border: none;
				background: none;

				span {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 1rem;
					width: 1rem;
					transition: transform ease 100ms;
					padding-top: 1px;

					&::before {
						@include sc(--csgrid-button-c);
					}
				}
			}

			.icon-menu {
				pointer-events: all;
			}

			&:hover::before {
				@include sbg(--csgrid-button-hover-bg);
			}

			&:focus-within,
			&:focus {
				outline: none;
				position: relative;
				z-index: 1;
				&::after {
					@include css4 {
						box-shadow: 0 0 3px cvar(--csgrid-button-box);
					}
				}
			}

			&:active::after {
				@include css4 {
					border: 1px solid cvar(--csgrid-button-active-br);
				}
			}

			&:hover .cs-btn-icon {
				@include sf(--csgrid-button-icon-hover-c);
			}

			&[disabled] {
				cursor: default;

				&:hover::before {
					@include sbg(--csgrid-button-bg);
				}

				.cs-btn-icon span::before {
					@include sc(--csgrid-button-disabled-c);
				}
			}

			&-menu:only-child {
				&::before {
					background: none;
				}
				&::after {
					border: none;
				}
			}
		}

		.row-selection-icons-item:not(:first-child) {
			margin-left: -1px;
		}

		.row-selection-icons-item:first-child {
			border-top-left-radius: 0.25rem;
			border-bottom-left-radius: 0.25rem;

			&::before,
			&::after {
				border-top-left-radius: 0.25rem;
				border-bottom-left-radius: 0.25rem;
			}
		}

		.row-selection-icons-item:last-child {
			border-top-right-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;

			&::before,
			&::after {
				border-top-right-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;
			}
		}

		.row-selection-icons-item:only-child {
			border-radius: 0.25rem;
		}

		.ag-checkbox-checked,
		.ag-icon.ag-icon-checkbox-checked,
		.ag-checkbox-unchecked,
		.ag-icon.ag-icon-checkbox-unchecked,
		.ag-checkbox-indeterminate,
		.ag-icon.ag-icon-checkbox-indeterminate {
			position: relative;
			width: 1rem;
			height: 1rem;
			border-radius: 0.125rem;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			position: relative;
			vertical-align: middle;
			cursor: pointer;
			@include sbg(--csgrid-checkbox-bg);
			@include css4 {
				border: 1px solid cvar(--csgrid-checkbox-br);
			}

			&:before {
				display: none;
			}

			&:active,
			&:focus {
				outline: 0;
				@include css4 {
					border: 1px solid cvar(--csgrid-checkbox-checked-br);
					box-shadow: 0 0 3px cvar(--csgrid-checkbox-checked-br);
				}
			}
		}

		.ag-checkbox-checked,
		.ag-icon.ag-icon-checkbox-checked {
			@include sc(--csgrid-secondary);
			@include sbg(--csgrid-checkbox-checked-bg);
			@include css4 {
				border: 1px solid cvar(--csgrid-checkbox-checked-br);
			}

			&:after {
				position: absolute;
				top: 0;
				font-size: 0.6125rem;
				height: 1rem;
				line-height: 1.5;
			}
		}

		.ag-checkbox-indeterminate,
		.ag-icon.ag-icon-checkbox-indeterminate {
			@include sc(--csgrid-secondary);
			@include sbg(--csgrid-checkbox-checked-bg);
			@include css4 {
				border: 1px solid cvar(--csgrid-checkbox-checked-br);
			}

			&:after {
				display: block;
				content: "";
				height: 0.25rem;
				width: 0.5rem;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -65%, 0);
				box-sizing: border-box;
				@include css4 {
					border-bottom: 2px solid cvar(--csgrid-secondary);
				}
			}
		}

		.ag-checkbox-checked > .ag-icon.ag-icon-checkbox-checked,
		.ag-checkbox-unchecked > .ag-icon.ag-icon-checkbox-unchecked,
		.ag-checkbox-indeterminate > .ag-icon.ag-icon.ag-icon-checkbox-indeterminate {
			display: none;
		}

		.ag-row-even,
		.ag-row-odd {
			@include sbg(--csgrid-row-bg);

			&.ag-row-hover {
				@include sbg(--csgrid-row-hover-bg);
			}
		}

		.ag-cell {
			padding-right: 0.75rem;
			padding-left: 0.75rem;
			overflow: visible;
			@include css4 {
				border: 2px solid cvar(--csgrid-transparent);
			}
		}

		.ag-cell-value {
			overflow: visible;
		}

		.ag-cell .ag-react-container {

			input[type="number"] {
				width: 100% !important;
			}

			> span {
				width: 100%;
				display: flex;

				> span, .cs-tooltip-wrapper > span {
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 100%;
				}
			}
		}

		.ag-cell,
		.ag-cell.ag-cell-inline-editing,
		.ag-cell.ag-cell-not-inline-editing {
			display: flex;
			align-items: center;
			height: 100%;
			border-radius: 0;
			background: transparent;
			&:not(.cs-grid_custom-class):not(.ag-cell-data-changed)  {
				z-index: 10;
				@include sbg(--csgrid-transparent);
			}

			.ag-react-container {
				display: flex;
				align-items: center;
				height: 42px;
				border: none !important;
				border-radius: 0 !important;
				box-shadow: none !important;
				outline: none !important;

				input:not(.cs-grid_checkbox) {
					border: none !important;
					height: 42px;
					font-size: 0.75rem;
					line-height: 26px;
					padding-bottom: 1px;
					padding: 0 0.75rem 1px;
					@include sbg(--csgrid-transparent);
				}
			}

			.ag-input-text-wrapper input {
				border: none !important;
				height: 50px;
				font-size: 0.75rem;
				line-height: 26px;
				padding-bottom: 1px;
				@include sbg(--csgrid-transparent);
			}

			&:focus:not(.read-only-cell-wrapper).ag-cell-focus.ag-cell-focus {
				@include css4 {
					border: 2px dashed cvar(--csgrid-main);
				}
			}
		}
	}

	.ag-theme-balham .ag-header-cell::after,
	.ag-theme-balham .ag-header-group-cell::after {
		margin-top: 0;
		top: 0;
		height: 35px;
		width: 0;
		@include css4 {
			border-right: 1px solid cvar(--csgrid-input-br);
		}
	}

	.ag-row.ag-row {

		&:not(.ag-row-first) {
			@include css4 {
				border-color: #ddd;
			}
		}

		&:hover {
			z-index: 1;
		}

		&-selected {
			@include sbg(--csgrid-row-selected-bg);
		}
	}

	.ag-react-container {
		display: flex;
		flex: 1;
		min-width: 0;

		> div,
		> span {
			display: flex;
			align-items: center;
		}
	}

	.cs-grid_popup-wrapper {
		display: flex !important;
		flex-direction: column;
		flex: 1;
	}

	.read-only-cell {
		@include sc(--csgrid-checkbox-disabled-checked-br);
	}

	.cs-grid_number-inner,
	.cs-grid_text-inner {
		width: 90% !important;
		border: none !important;
		border-radius: 0 !important;
		box-shadow: none !important;
		outline: none !important;
		padding: 0 !important;
	}

	.ag-theme-balham .ag-cell.read-only-cell-wrapper:focus {
		background: rgba(0,0,0,0.05) !important;

		&.ag-cell-focus {
			@include css4 {
				border: 2px solid cvar(--csgrid-transparent) !important;
			}
		}
	}

	.ag-filter-condition label input {
		border: none !important;
		box-shadow: none !important;
		border-radius: 50% !important;
		width: 1rem !important;
		height: 1rem !important;
		padding: 0 !important;
	}

	// Overrides for Firefox
	select::-moz-focus-inner {
		border: none;
	}

	select:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}
}

.ag-popup-editor .ag-row-selected {
	@include sc(--csgrid-secondary);
}

.ag-theme-balham .ag-ltr .ag-has-focus.ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
	@include css4 {
		border: 2px dashed cvar(--csgrid-main);
	}
}