.components-preview .preview-section-wrapper .component-example .component-preview {
	&.spinner-preview {
		position: relative;
		flex-basis: 10rem;

		.black-background {
			background-color: var(--spinner-black-bg);
		}

		.custom-class {
			background-color: var(--custom-bg);
		}
	}

	&.main-header-preview,
	&.main-header-left-preview {
		padding: 0;

		.custom-class {
			background-color: var(--custom-bg);
		}
	}

	&.path-preview {
		min-height: 10rem;
		padding: 1rem;

		.custom-class {
			background-color: var(--custom-bg);
		}
	}

	&.table-preview {
		height: auto;

		.custom-class {
			border-top: 1px solid var(--custom-br);
		}
	}

	&.pagination-preview {
		padding: 1rem;
	}

	&.checkbox-preview .custom-class {
		border: 2px solid var(--custom-br);
	}

	&.toggle-preview {
		padding: 1rem;
		overflow: visible;

		.custom-class {
			border: 3px solid var(--custom-br);
		}
	}

	&.radio-preview {
		padding: 1rem;
		overflow: visible;

		.custom-class {
			border: 2px solid var(--custom-br);
		}
	}

	&.tooltip-preview .custom-class {
		background-color: var(--custom-bg);
	}

	&.alert-preview {
		.custom-class {
			background-color: var(--custom-bg);
		}
	}

	&.toast-preview {
		.custom-class {
			background-color: var(--custom-bg);
		}
	}

	&.tab-preview {
		.custom-class {
			background-color: var(--custom-bg);
		}

		.custom-class-2 {
			background-color: var(--custom-alt-bg);
		}
	}

	&.sidebar-list-preview {
		.custom-class {
			background-color: var(--custom-bg);
		}
	}

	&.button-preview,
	&.dropdown-preview {
		.purple-background {
			background-color: var(--dropdown-purple-bg);
			padding: 0.5rem;
		}

		.custom-class {
			border: 3px solid var(--custom-br);
		}
	}

	&.dropdown-preview {
		overflow: visible;
	}

	&.input-text-preview {
		overflow: visible;

		.custom-class {
			border: 3px solid var(--custom-br);
		}
	}

	&.input-number-preview {
		overflow: visible;

		.custom-class {
			border: 3px solid var(--custom-br);
		}
	}

	&.input-search-preview {
		overflow: visible;

		.custom-class {
			border: 3px solid var(--custom-br);
		}
	}

	&.input-file-preview {
		overflow: visible;

		.custom-class {
			border: 3px solid var(--custom-br);
		}
	}

	&.label-preview {
		overflow: visible;

		.custom-class {
			background-color: var(--custom-bg);
		}
	}

	&.textarea-preview {
		overflow: visible;

		.custom-class {
			border: 3px solid var(--custom-br);
		}
	}

	&.select-preview {
		overflow: visible;

		.custom-class {
			border: 3px solid var(--custom-br);
		}
	}

	&.custom-select-preview {
		overflow: visible;

		.custom-class {
			border: 3px solid var(--custom-br);
		}
	}

	&.chip-preview {

		.custom-class {
			background-color: var(--custom-bg);
		}
	}

	&.card-preview {
		.custom-class {
			background-color: var(--custom-bg);
		}
	}

	&.section-preview {

		.custom-class {
			background-color: var(--custom-bg);
		}
	}

	&.progress-bar-preview {
		.custom-class {
			background-color: var(--custom-bg);
		}
	}

	&.progress-indicator-preview {
		.custom-class {
			background-color: var(--custom-bg);
		}
	}

	&.icon-preview {
		.custom-class {
			fill: var(--icons-custom-fill);
		}
	}

	&.image-preview {
		.black-background {
			background-color: var(--image-black-bg);
		}

		.custom-class {
			border: 3px solid var(--custom-br);
		}
	}

	&.button-group-preview {
		.custom-class {
			border: 3px solid var(--custom-br);
		}
	}

	&.divider-preview {
		.custom-class {
			border-color: var(--custom-br);
		}
	}

	&.datepicker-preview {
		overflow: visible;

		.custom-class input {
			background-color: var(--custom-bg);
		}
	}

	&.lookup-field-preview {
		overflow: visible;

		.custom-class {
			border: 3px solid var(--custom-br);
		}
	}

	&.slider-preview {
		margin-bottom: 1rem;

		.custom-class {
			border: 3px solid var(--custom-br);
		}
	}

	&.rendercsmodal-preview {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&.field-error-message-preview {
		position: relative;

		.cs-field-error-msg {
			top: 0.5rem;
		}
	}

	&.datetimepicker-preview {
		overflow: visible;

		.custom-class input {
			background-color: var(--custom-bg);
		}
	}
}

.cs-btn-type-preview {
	margin-block-end: 1rem;
	overflow-x: auto;
	min-height: 300px;

	.cs-table {
		min-width: fit-content;

		.cs-table-header {
			background-color: var(--button-preview-table-bg);
			height: 56px;

			.cs-table-cell {
				font-weight: 700;
				display: flex;
				align-items: center;
				padding: 0.75rem 0.5rem;
				font-size: 0.8125rem;
			}

			.cs-table-cell:first-child {
				padding-inline-start: 3rem;
				min-width: 220px;
			}
		}

		.cs-table-body {
			.cs-table-row {
				.cs-table-cell:first-child {
					padding-inline-start: 3rem;
					min-width: 220px;
				}

				&:last-child {
					.cs-table-cell:nth-child(2n+2) {
						background-color: var(--button-preview-cell-bg);
					}
				}
			}
		}

		.cs-table-cell {
			min-width: 160px;
		}
	}
}

.simulation-action-buttons {
	margin-top: 1rem;
}

.cs-modal-wrapper {
	&.custom-class {
		background-color: var(--custom-bg);
	}
}
.cs-modal-header,
.cs-modal-body,
.cs-modal-footer {
	&.custom-class {
		border: 3px solid var(--custom-purple-bg);
	}
}