.components-preview .preview-section-wrapper .component-example .component-demo {

	.custom {
		&-bg-purple {
			@include sbg(--csd-custom-bg-purple);
		}

		&-bg-mint {
			@include sbg(--csd-custom-bg-mint);
		}

		&-bg-blue {
			@include sbg(--csd-custom-bg-blue);
		}

		&-br-purple {
			@include css4 {
				border: 3px solid cvar(--csd-custom-br-purple);
			}
		}

		&-br-mint {
			@include css4 {
				border: 3px solid cvar(--csd-custom-br-mint);
			}
		}

		&-br-blue {
			@include css4 {
				border: 3px solid cvar(--csd-custom-br-blue);
			}
		}
	}

	&.CSSpinner-demo {
		position: relative;
		flex-basis: 10rem;

		.black-background {
			@include sbg(--csd-spinner-black-bg);
		}
	}

	&.CSButton-demo,
	&.CSDropdown-demo,
	&.CSButtonGroup-demo {
		.purple-background {
			padding: 1rem;
			@include sbg(--csd-dropdown-purple-bg);
		}
	}

	&.CSImage-demo .black-background {
		@include sbg(--csd-image-black-bg);
	}

	&.CSSidebar-demo,
	&.CSSidebarTab-demo {
		height: 600px;
		flex: none; // firefox fix: flex + height -> child with height 100% does not inherit height

		.sidebar-far-right {
			margin-left: auto;
		}
	}

	&.custom-select-preview {
		overflow: visible;
	}
}

.button-style-preview {
	margin: 2rem 3rem 1rem;
	min-height: 315px;
	overflow-x: auto;
	border-radius: 0.25rem;
	@include css4 {
		box-shadow:	0 1px 3px cvar(--csd-shadow-light), 0 1px 2px cvar(--csd-shadow-medium);
	}

	.cs-table {
		min-width: fit-content;
		border: none;
		border-radius: 0.25rem;

		.cs-table-header {
			height: 56px;
			@include sbg(--csd-button-preview-table-bg);

			.cs-table-cell {
				font-weight: 700;
				display: flex;
				align-items: center;
				padding: 1rem;
				font-size: 0.8125rem;
				@include sc(--csd-button-preview-c);
				@include sbg(--csd-button-preview-table-bg);
				@include css4 {
					border-bottom-color: var(--csd-button-preview-br);
				}
			}
		}

		.cs-table-body .cs-table-row {
			.cs-table-cell {
				padding: 1rem;
				@include sc(--csd-button-preview-c);
				@include sbg(--csd-button-preview-table-bg);
				@include css4 {
					border-top-color: var(--csd-button-preview-br);
				}
			}

			&:hover .cs-table-cell,
			&:focus .cs-table-cell {
				@include sbg(--csd-button-preview-table-bg);
			}

			&:last-child {
				.cs-table-cell:nth-child(2n+2) {
					@include sbg(--csd-button-preview-cell-bg);
				}
			}
		}

		.cs-table-cell {
			min-width: 160px;
		}
	}
}

.simulation-action-buttons {
	margin-top: 1rem;
}

.cs-modal-overlay {
	&.custom-bg-purple .cs-modal-wrapper {
		@include sbg(--csd-custom-bg-purple);
	}

	.cs-modal {
		.cs-modal-header.custom-bg-mint {
			@include sbg(--csd-custom-bg-mint);
		}

		.cs-modal-body.custom-br-purple {
			@include css4 {
				border: 3px solid cvar(--csd-custom-br-purple);
			}
		}

		.cs-modal-footer.custom-bg-blue {
			@include sbg(--csd-custom-bg-blue);
		}
	}
}
