.accessibility-conformance-section {
	margin-bottom: 3rem;

	.accessibility-criteria-list {
		padding: 0 3rem;

		a.criterion {
			margin-bottom: 0.25rem;
			text-decoration: underline;
			text-decoration-color: var(--csd-criterion-link-decoration-c);
			padding: 0;
			margin-left: 0.5rem;

			&:first-of-type {
				margin-left: 0;
			}

			span {
				font-size: 0.9375rem;
			}
		}
	}

	.accessibility-table-wrapper {
		margin-top: 1rem;
		margin: 0 3rem;

		.accessibility-table {
			display: block;
			width: 100%;
			max-width: 100%;
			border: none;
			border-radius: 0.25rem;
			@include css4 {
				box-shadow:	0 1px 3px cvar(--csd-shadow-light),	0 1px 2px cvar(--csd-shadow-medium);
			}

			.accessibility-table-body {
				display: table-row-group;

				.accessibility-table-row {
					display: table-row;

					.accessibility-table-cell {
						display: table-cell;
						padding: 0.75rem;
						@include sc(--csd-prop-table-c);
						@include sbg(--csd-prop-table-bg);
						@include css4 {
							border-top-color: cvar(--csd-prop-table-br);
						}

						&:first-child {
							vertical-align: top;
							@include sc(--csd-access-table-header-c);
							@include sbg(--csd-access-table-header-bg);
							@include css4 {
								border-top-color: cvar(--csd-access-table-header-br);
							}
						}

						&:last-child {
							width: 100%;
							max-width: 100%;
						}

						ul {
							list-style: unset;
							margin-left: 1rem;

							li {
								margin-bottom: 0.5rem;
								white-space: break-spaces;

								&:last-child {
									margin-bottom: 0;
								}

								.inline-code {
									margin-right: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
