.components-preview {
	width: 100%;
	max-width: -moz-available; // Fix firefox columns width responsively
	position: relative;
	flex: 1;
	display: flex;

	.preview-section-wrapper {
		order: -1;

		.demo-heading {
			margin: 1rem 0 0.5rem
		}

		h2.demo-heading {
			font-size: 1.5rem;
			font-weight: 700;
			padding: 0 3rem;
		}

		h3.demo-heading,
		h4.demo-heading {
			font-size: 1.25rem;
		}

		.cs-alert {
			margin-bottom: 0.5rem;
		}
	}

	&.icons {
		padding: 0;
		flex-direction: column;
	}

	&.colors {
		flex-direction: column;
		box-shadow: none;
		height: calc(100vh - 54px);
		overflow: auto;
	}

	.getting-started-list {
		background: transparent;
		border-left: 1px solid var(--divider-br);

		.ui-component a {
			color: var(--components-link-c);
			&:hover {
				background: var(--components-link-hover-bg);
				color: var(--components-link-hover-c);
			}
		}
	}

	.preview-section-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow-y: auto;

		> .cs-alert {
			margin: 3rem 3rem 0;
			width: auto;

			+ .cs-alert {
				margin-top: 0;
			}

			+ h2 {
				padding-block-start: 3rem;
			}
		}

		> h2 {
			padding: 2rem 3rem 0;
			font-size: 1.5rem;
			font-weight: 700;

			+ .property-section {
				padding-block-start: 1rem;
			}
		}

		.preview-heading + .component-preview-wrapper > h2,
		.cs-alert + .component-preview-wrapper > h2 {
			padding-block-start: 3rem;
		}

		.component-preview-wrapper > h2 {
			padding: 2rem 3rem 0;
			margin-block-start: 0;
		}

		.component-preview,
		.api-preview {
			padding: 0 3rem;
			margin-bottom: 2rem;

			.component-variants {
				padding-top: 0.5rem;
			}

			.component-info-text,
			.api-info-text {
				font-size: 0.875rem;
				margin-top: 0;
				margin-bottom: 0.5rem;
			}

			&.custom {
				padding: 2rem 3rem;
				margin-top: 3rem;
				margin-bottom: 0;
				background: var(--prop-custom-bg);
			}

			.component-example,
			.api-example {
				display: flex;
				flex-direction: column;
				border-radius: 0.25rem;
				margin: 0.5rem 0 1rem;
				background-color: var(--components-api-bg);
				box-shadow:
					0 1px 3px var(--cs-shadow-light),
					0 1px 2px var(--cs-shadow-medium);

				.component-demo,
				.api-demo {
					flex: 1;
					overflow: visible;
					padding: 1rem;
					margin-bottom: 0;

					&:last-child {
						margin-bottom: 0;
					}
				}

				.component-code {
					display: flex;
					max-height: 31.75rem;

					&:last-child {
						border-radius: 0 0 0.25rem 0.25rem;
					}

					code {
						padding: 1rem;
						height: 100%;

						&:first-child {
							border-right: 1px solid var(--divider-br);
						}
					}

					* {
						font-family: inherit;
						color: unset;
					}
				}
			}

			&.children {
				padding: 2rem 3rem;
				margin-top: 3rem;
				background: var(--prop-custom-bg);

				.info-text {
					color: var(--prop-custom-c);
				}
			}
		}
	}
}

.components-preview-wrapper {
	position: relative;
	display: flex;
	background: transparent;
	width: 100%;
	flex: 1;

	.sidebar-toggle {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		width: 1.875rem;
		height: 1.875rem;
		z-index: 10;
		border-radius: 50%;
		cursor: pointer;
		background: var(--components-sidebar-bg);
		transition: 0.4s;

		&:hover {
			transform: scale(1.1);
		}

		svg {
			width: 1rem;
			height: 1rem;
			margin: 0;
			fill: var(--sidebar-toggle-graphic-fill);
		}
	}
}
