// START LEGACY PROP TABLE
// IMPORTANT: Leave this in until the API Table has been revamped

.table-wrapper {
	padding: 2rem 2rem 2rem 3rem;

	.component-name {
		margin: 0.5rem 0 0.25rem;
	}
}

.table-wrapper-alt {
	padding-top: 0;
}

.table-row {
	display: flex;
	background: var(--table-row-bg);
	border-bottom: 1px solid var(--table-row-br);

	.table-cell {
		display: flex;
		flex: 1;
		flex-wrap: wrap;
		padding: 0.5rem 1rem;
		overflow: hidden;
		white-space: normal;

		&:first-child {
			flex: 0 1 15rem;
		}

		.prop-option,
		.api-arg {
			margin: 0.125rem 0.5rem 0.1rem 0;
			padding: 0 0.25rem;
			background: var(--table-prop-api-bg);
			display: inline-table;
		}
	}

	&.helper-prop-row {
		background: var(--table-helper-bg);

		.cs-tooltip-wrapper {
			height: 21px; // CSTooltip bug, remove after it is fixed
			margin-right: 0.25rem;
		}
	}
}

.table-header .table-row {
	background: var(--table-head-row-bg);
	color: var(--table-head-row-c);

	.table-cell {
		padding: 0.25rem 1rem;
	}
}

.backlog-table-wrapper .table-header .table-row {
	background: var(--table-backlog-bg);
}

// END LEGACY PROP TABLE
// START NEW PROP TABLE

.cs-app-wrapper .preview-section-wrapper .properties-table-wrapper {
	padding: 0 3rem 2rem;

	> h2 {
		padding-left: 0;
		padding-right: 0;
	}

	.properties-table {
		display: block;
		width: 100%;
		max-width: 100%;
		box-shadow: 0 1px 3px var(--cs-shadow-light), 0 1px 2px var(--cs-shadow-medium);
		border: none;
		border-radius: 0.25rem;

		&-header {
			border-radius: 0.25rem 0.25rem 0 0;
			color: var(--prop-table-header-c);
			background-color: var(--prop-table-header-bg);

			.properties-table-cell {
				&:first-child {
					border-top-left-radius: 0.25rem;
				}

				&:last-child {
					border-top-right-radius: 0.25rem;
				}
			}
		}

		&-body {
			display: table-row-group;
		}

		.properties-table-header,
		.properties-table-row {
			display: table-row;

			&.properties-table-row-inherited,
			&.properties-table-row-children {
				background: repeating-linear-gradient(45deg,
				var(--prop-table-row-stripes-bg-light), var(--prop-table-row-stripes-bg-light) 10px,
				var(--prop-table-row-stripes-bg-dark) 10px, var(--prop-table-row-stripes-bg-dark) 20px);
			}

			.properties-table-cell {
				display: table-cell;

				&:last-child {
					width: 100%;
					max-width: 100%;
					white-space: normal;
				}

				&:nth-child(2) .cs-tooltip-wrapper {
					margin: 0 auto;
				}
			}
		}
	}
}
