.components-preview {
	width: 100%;
	max-width: -moz-available; // Fix firefox columns width responsively
	position: relative;
	flex: 1;
	display: flex;

	.preview-section-wrapper {
		.demo-heading {
			margin: 1rem 0 0.5rem
		}

		h2.demo-heading {
			font-size: 1.5rem;
			font-weight: 700;
			padding: 0 3rem;
		}

		h3.demo-heading,
		h4.demo-heading {
			font-size: 1.25rem;
		}

		.cs-alert {
			margin-bottom: 0.5rem;
		}
	}

	&.icons {
		padding: 0;
		flex-direction: column;
	}

	&.colors {
		flex-direction: column;
		box-shadow: none;
		height: calc(100vh - 54px);
		overflow: auto;
	}

	.getting-started-list {
		@include sbg(--csd-transparent);
		@include css4 {
			border-left: 1px solid cvar(--csd-divider-br);
		}

		.ui-component a {
			@include sc(--csd-components-link-c);

			&:hover {
				@include sc(--csd-components-link-hover-c);
				@include sbg(--csd-components-link-hover-bg);
			}
		}
	}

	.preview-section-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow: visible;
		overflow-y: auto;

		> .cs-alert {
			margin: 2rem 3rem 0;
			width: auto;

			+ .cs-alert {
				margin-top: 0;
			}

			+ h2 {
				padding-block-start: 3rem;
			}
		}

		> h2 {
			padding: 2rem 3rem 0;
			font-size: 1.5rem;
			font-weight: 700;

			+ .property-section {
				padding-block-start: 1rem;
			}
		}

		.preview-heading + .component-preview-wrapper > h2,
		.cs-alert + .component-preview-wrapper > h2 {
			padding-block-start: 3rem;
		}

		.component-preview-wrapper > h2 {
			padding: 2rem 3rem 0;
			margin-block-start: 0;
		}

		.component-preview,
		.api-preview {
			padding: 0 3rem;
			margin-bottom: 2rem;

			.component-variants {
				padding-top: 0.5rem;
			}

			.component-info-text,
			.api-info-text {
				font-size: 0.875rem;
				margin-top: 0;
				margin-bottom: 0.5rem;
			}

			&.custom {
				padding: 2rem 3rem;
				margin-top: 3rem;
				margin-bottom: 0;
				@include sbg(--csd-prop-custom-bg);
			}

			.component-example,
			.api-example {
				display: flex;
				flex-direction: column;
				border-radius: 0.25rem;
				margin: 0.5rem 0 1rem;
				@include sbg(--csd-components-api-bg);
				@include css4 {
					box-shadow: 0 1px 3px cvar(--csd-shadow-light), 0 1px 2px cvar(--csd-shadow-medium);
				}

				.component-demo,
				.api-demo {
					flex: 1;
					overflow: visible;
					padding: 1rem;
					margin-bottom: 0;

					&:last-child {
						margin-bottom: 0;
					}
				}

				.component-code {
					display: flex;
					max-height: 31.75rem;

					&:last-child {
						border-radius: 0 0 0.25rem 0.25rem;
					}

					code {
						padding: 1rem;
						height: 100%;

						&:first-child {
							@include css4 {
								border-right: 1px solid cvar(--csd-divider-br);
							}
						}
					}

					* {
						font-family: inherit;
						color: unset;
					}
				}
			}

			&.children {
				padding: 2rem 3rem;
				margin-top: 3rem;
				@include sbg(--csd-prop-custom-bg);

				.component-info-text {
					@include sc(--csd-prop-custom-c);
				}
			}
		}
	}
}
