.cs-app-wrapper .preview-section-wrapper .properties-table-wrapper {
	padding: 0 3rem 2rem;

	> h2 {
		padding-left: 0;
		padding-right: 0;
	}

	.properties-table {
		display: block;
		width: 100%;
		max-width: 100%;
		border: none;
		border-radius: 0.25rem;
		@include css4 {
			box-shadow: 0 1px 3px cvar(--csd-shadow-light), 0 1px 2px cvar(--csd-shadow-medium);
		}

		&-header {
			border-radius: 0.25rem 0.25rem 0 0;

			.properties-table-cell {
				white-space: nowrap;
				@include sc(--csd-prop-table-header-c);
				@include sbg(--csd-prop-table-header-bg);

				&:first-child {
					border-top-left-radius: 0.25rem;
				}

				&:last-child {
					border-top-right-radius: 0.25rem;
					white-space: normal;
				}
			}
		}

		&-body {
			display: table-row-group;
		}

		.properties-table-header,
		.properties-table-row {
			display: table-row;
			@include sbg(--csd-prop-table-bg);

			&.properties-table-row-inherited {
				@include css4 {
					background: repeating-linear-gradient(
						59deg,
						cvar(--csd-prop-table-row-stripes-bg-light),
						var(--csd-prop-table-row-stripes-bg-light) 0.75rem,
						cvar(--csd-prop-table-row-stripes-bg-dark) 0.75rem,
						var(--csd-prop-table-row-stripes-bg-dark) 1.5rem
					);
				}
			}

			&.properties-table-row-special {
				@include sbg(--csd-prop-table-row-stripes-bg-dark);
			}

			.properties-table-cell {
				display: table-cell;
				white-space: nowrap;
				@include sc(--csd-prop-table-c);
				@include sbg(--csd-transparent);

				&:last-child {
					width: 100%;
					max-width: 100%;
					white-space: normal;
				}

				&:nth-child(2) .cs-tooltip-wrapper {
					margin: 0 auto;
				}
			}
		}

		.properties-table-header .properties-table-cell {
			@include css4 {
				border-bottom: 1px solid cvar(--csd-prop-table-br);
			}
		}

		.properties-table-row:not(:first-of-type) .properties-table-cell {
			@include css4 {
				border-top: 1px solid cvar(--csd-prop-table-br);
			}
		}
	}
}
