.prop-sidebar {
	flex: 1;
	padding-top: 1rem;
	max-width: 16rem;
	display: flex;
	flex-direction: column;

	.prop-sidebar-wrapper {
		overflow-y: auto;
		border-top: 1px solid var(--divider-br);
		padding-bottom: 1rem;

		h4 a {
			display: block;
			width: 100%;
			padding: 1rem;
			color: var(--prop-link-c);
			font-size: 1.125rem;
			font-weight: 700;
			text-decoration: none;
			border-bottom: 1px solid var(--divider-br);
			border-top: 1px solid var(--divider-br);

			&:first-child {
				border-top: none;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.prop-sidebar-bottom-group {
		margin-top: auto;
		border-top: 1px solid var(--divider-br);

		.prop-group:last-child h5 a {
			padding-bottom: 1rem;
		}
	}

	h3 {
		display: block;
		padding-left: 1rem;
		font-size: 1.375rem;
		font-weight: 700;
	}

	.cs-input-search-wrapper {
		display: block;
		padding: 1rem;
	}

	.prop-group {
		h5 a {
			display: block;
			width: 100%;
			font-size: 1rem;
			word-break: break-all;
			color: var(--prop-link-c);
			text-decoration: none;
			font-weight: 700;
			padding: 1rem 1rem 0;

			&:hover {
				text-decoration: underline;
			}
		}

		span {
			.custom-class {
				fill: var(--prop-inline-container-fill);
			}

			a {
				display: block;
				padding: 0 1rem 0.25rem 1.5rem;
				color: var(--prop-link-c);
				text-decoration: none;
				font-size: 0.9375rem;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
