.components-preview {
	width: 100%;
	max-width: -moz-available; // Fix firefox columns width responsively
	position: relative;
	flex: 1;
	display: flex;
	box-shadow: 0 1px 3px var(--cs-shadow-light), 0 1px 2px var(--cs-shadow-medium);

	&.icons {
		padding: 0;
		flex-direction: column;
	}

	&.colors {
		flex-direction: column;
		box-shadow: none;
		height: calc(100vh - 54px);
		overflow: auto;
	}

	.getting-started-list {
		background: transparent;
		border-left: 1px solid var(--divider-br);

		.ui-component a {
			color: var(--components-link-c);
			&:hover {
				background: var(--components-link-hover-bg);
				color: var(--components-link-hover-c);
			}
		}
	}

	.preview-section-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow-y: auto;
		border-right: 1px solid var(--divider-br);

		.chip-label {
			display: inline-block;
			margin-bottom: 0.25rem;
			padding: 0.25rem 0.5rem;
			border-radius: 15rem;
			font-size: 0.8rem;
			line-height: 1;
			margin-right: 0.3rem;
			color: var(--preview-chip-c);
			border: 1px solid var(--preview-chip-br);
			background: var(--preview-chip-bg);

			&-secondary {
				color: var(--preview-chip-second-c);
				background: var(--preview-chip-second-bg);
				border: 1px solid var(--preview-chip-second-br);
			}
		}

		.component-version,
		.api-version {
			display: flex;
			width: 100%;
			border-radius: 0.25rem;
			margin-bottom: 1rem;
			background: var(--components-api-bg);
			box-shadow: 0 1px 3px var(--cs-shadow-light), 0 1px 2px var(--cs-shadow-medium);

			.version-preview {
				width: 70%;
				flex: 1;
				overflow: auto;
				padding: 0.5rem;

				&:last-child {
					margin-block-end: 0;
				}

				&.modal-preview {
					flex: 1;
					transform: translate3d(0, 0, 0);
					background: var(--components-modal-bg);

					~ .version-description {
						max-height: unset;
					}
				}
			}
		}
	}
}

.components-preview-wrapper {
	position: relative;
	display: flex;
	background: transparent;
	width: 100%;
	flex: 1;

	.sidebar-toggle {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		width: 1.875rem;
		height: 1.875rem;
		z-index: 10;
		border-radius: 50%;
		cursor: pointer;
		background: var(--components-sidebar-bg);
		transition: 0.4s;

		&.sidebar-toggle-closed {
			transform: rotate(180deg);

			&:hover {
				transform: rotate(180deg) scale(1.1);
			}
		}

		&:hover {
			transform: scale(1.1);
		}

		svg {
			width: 1rem;
			height: 1rem;
			margin: 0;
			fill: var(--sidebar-toggle-graphic-fill);
		}
	}
}
