.preview-section-wrapper .preview-main-heading-wrapper {
	padding-bottom: 3rem;
	margin: 2rem 3rem 1rem;

	@include css4 {
		border-bottom: 1px solid cvar(--csd-divider-br);
	}

	.preview-main-heading-row {
		display: flex;
		margin-top: 1rem;

		h1 {
			margin: 0.5rem 0;
			font-size: 3rem;
			@include sc(--csd-preview-main-heading-title-c);
		}

		.preview-accessibility-status-wrapper {
			margin-left: auto;
			padding-left: 1rem;
			display: flex;
			align-items: center;

			svg {
				margin-right: 0.25rem;
			}

			span {
				font-size: 1rem;
			}
		}
	}

	h2.preview-main-heading-subtitle {
		flex: 1;
		font-size: 1.25rem;
		margin: unset;
		font-weight: 400;
		@include sc(--csd-preview-main-heading-subtitle-c);
	}

	> .cs-alert {
		margin: 3rem 0 0;
		width: auto;

		+ .cs-alert {
			margin-top: 1rem;
		}
	}

	+ .cs-btn-type-preview-wrapper + .property-section,
	+ .property-section {
		padding-block-start: 3rem;
	}
}
