// START LEGACY PROP TABLE
// IMPORTANT: Leave this in until the API Table has been revamped

.table-wrapper {
	padding: 2rem 2rem 2rem 3rem;

	.component-name {
		margin: 0.5rem 0 0.25rem;
	}
}

.table-wrapper-alt {
	padding-top: 0;
}

.table-row {
	display: flex;
	@include sbg(--csd-table-row-bg);
	@include css4 {
		border-bottom: 1px solid cvar(--csd-table-row-br);
	}

	.table-cell {
		display: flex;
		flex: 1;
		flex-wrap: wrap;
		padding: 0.5rem 1rem;
		overflow: hidden;
		white-space: normal;

		&:first-child {
			flex: 0 1 15rem;
		}

		.prop-option,
		.api-arg {
			margin: 0.125rem 0.5rem 0.1rem 0;
			padding: 0 0.25rem;
			display: inline-table;
			@include sbg(--csd-table-prop-api-bg);
		}
	}

	&.helper-prop-row {
		@include sbg(--csd-table-helper-bg);

		.cs-tooltip-wrapper {
			height: 21px; // CSTooltip bug, remove after it is fixed
			margin-right: 0.25rem;
		}
	}
}

.table-header .table-row {
	@include sc(--csd-table-head-row-c);
	@include sbg(--csd-table-head-row-bg);

	.table-cell {
		padding: 0.25rem 1rem;
	}
}

.backlog-table-wrapper .table-header .table-row {
	@include sbg(--csd-table-backlog-bg);
}

// END LEGACY PROP TABLE
// START NEW PROP TABLE

.cs-app-wrapper .preview-section-wrapper .properties-table-wrapper {
	padding: 0 3rem 2rem;

	> h2 {
		padding-left: 0;
		padding-right: 0;
	}

	.properties-table {
		display: block;
		width: 100%;
		max-width: 100%;
		border: none;
		border-radius: 0.25rem;
		@include css4 {
			box-shadow: 0 1px 3px cvar(--csd-shadow-light), 0 1px 2px cvar(--csd-shadow-medium);
		}

		&-header {
			border-radius: 0.25rem 0.25rem 0 0;

			.properties-table-cell {
				white-space: normal;
				@include sc(--csd-prop-table-header-c);
				@include sbg(--csd-prop-table-header-bg);

				&:first-child {
					border-top-left-radius: 0.25rem;
				}

				&:last-child {
					border-top-right-radius: 0.25rem;
				}
			}
		}

		&-body {
			display: table-row-group;
		}

		.properties-table-header,
		.properties-table-row {
			display: table-row;
			@include sbg(--csd-prop-table-bg);

			&.properties-table-row-inherited,
			&.properties-table-row-children {
				@include css4 {
					background: repeating-linear-gradient(45deg,
					cvar(--csd-prop-table-row-stripes-bg-light), var(--csd-prop-table-row-stripes-bg-light) 10px,
					cvar(--csd-prop-table-row-stripes-bg-dark) 10px, var(--csd-prop-table-row-stripes-bg-dark) 20px);
				}
			}

			.properties-table-cell {
				display: table-cell;
				white-space: normal;
				@include sc(--csd-prop-table-c);
				@include sbg(--csd-transparent);

				&:last-child {
					width: 100%;
					max-width: 100%;
					white-space: normal;
				}

				&:nth-child(2) .cs-tooltip-wrapper {
					margin: 0 auto;
				}
			}
		}

		.properties-table-header .properties-table-cell {
			@include css4 {
				border-bottom: 1px solid cvar(--csd-prop-table-br);
			}
		}

		.properties-table-row:not(:first-of-type) .properties-table-cell {
			@include css4 {
				border-top: 1px solid cvar(--csd-prop-table-br);
			}
		}
	}
}
