.preview-section-wrapper .preview-main-heading-wrapper {
	padding: 2rem 3rem 3rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--divider-br);

	.preview-main-heading-row {
		display: flex;
		margin-top: 1rem;

		h1 {
			margin: 0.5rem 0;
			font-size: 3rem;
			color: var(--preview-main-heading-title-c);
		}

		.preview-accessibility-status-wrapper {
			margin-left: auto;
			padding-left: 1rem;
			display: flex;
			align-items: center;

			svg {
				margin-right: 0.25rem;
			}

			span {
				font-size: 1rem;
			}
		}
	}

	h2.preview-main-heading-subtitle {
		flex: 1;
		font-size: 1.25rem;
		margin: unset;
		font-weight: 400;
		color: var(--preview-main-heading-subtitle-c);
	}

	+ .cs-btn-type-preview-wrapper + .property-section,
	+ .cs-alert + .property-section,
	+ .property-section {
		padding-block-start: 3rem;
	}
}
