.prop-sidebar {
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;
	transition: 0.4s;
	min-width: 15rem;
	width: 15rem;
	max-width: 15rem;
	overflow: hidden;
	@include sbg(--csd-prop-sidebar-bg);
	@include css4 {
		box-shadow: 0 1px 5px var(--csd-shadow-dark);
	}

	+ .components-preview {
		transition: width 0.4s;
		width: calc(100% - 15rem);
	}

	.quick-links-toggle {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2rem;
		height: 2rem;
		z-index: 9;
		border-radius: 50%;
		cursor: pointer;
		transition: transform 0.4s;
		position: absolute;
		top: 1rem;
		right: 0.5rem;

		&:hover {
			transform: scale(1.1);
		}

		svg {
			width: 1rem;
			height: 1rem;
			margin: 0;
			@include sf(--csd-sidebar-toggle-graphic-fill);
		}
	}

	&.quick-links-closed {
		width: 0;
		min-width: 0;
		max-width: 0;
		overflow: visible;

		+ .components-preview {
			width: 100%;
		}
	}

	.quick-links-search {
		margin: 4rem 1rem 1rem;
		position: relative;
		overflow: hidden;

		> .cs-icon {
			position: absolute;
			width: 1rem;
			height: 1rem;
			top: 0.75rem;
			left: 1rem;
			pointer-events: none;
			@include sf(--csd-icon-sidebar-fill);
		}

		input {
			display: inline-block;
			font-size: 1rem;
			line-height: 1.875rem;
			padding: 0 3rem;
			width: 100%;
			height: 2.5rem;
			border: none;
			border-radius: 0.25rem;
			@include sc(--csd-sidebar-search-field-c);
			@include sbg(--csd-sidebar-input-bg);

			&::placeholder {
				@include sc(--csd-sidebar-search-field-placeholder-c);
			}

			&:focus,
			&:active {
				outline: none;
				@include css4 {
					box-shadow: 0 1px 3px var(--csd-shadow-dark);
				}
			}
		}

		.cs-btn {
			position: absolute;
			top: 4.75rem;
			right: 2rem;
			width: 1rem;
			height: 1rem;
			min-width: 1rem;

			.cs-btn-icon {
				width: 1rem;
				height: 1rem;
				min-width: 1rem;
			}

			&:active::after,
			&:focus::after {
				outline: none;
				box-shadow: none;
				border: none;
			}
		}
	}

	.prop-list {
		flex: 1;
		overflow-y: auto;
		overflow-x: hidden;
		@include sbg(--csd-prop-sidebar-bg);
		@include custom-scrollbar;

		> div {
			.component-name {
				position: sticky;
				top: 0;
				z-index: 1;
				padding: 0.75rem 1.25rem;
				display: flex;
				align-items: center;
				transition: background-color 100ms ease-in-out;
				@include sbg(--csd-prop-sidebar-bg);

				&:hover {
					@include sbg(--csd-prop-sidebar-hover-bg);
				}

				a {
					font-size: 1rem;
					font-weight: 700;
					width: 100%;
					text-decoration: none;
					padding-inline-start: 0.5rem;
					text-decoration: none;
					white-space: nowrap;
					overflow-x: hidden;
					text-overflow: ellipsis;
					max-width: 100%;
					@include sc(--csd-sidebar-link-c);
				}
			}

			.prop-group {
				a {
					font-weight: 400;
					width: 100%;
					position: relative;
					display: flex;
					align-items: center;
					cursor: pointer;
					text-decoration: none;
					white-space: nowrap;
					overflow-x: hidden;
					text-overflow: ellipsis;
					max-width: 100%;
					transition: background-color 100ms ease-in-out;

					&:hover {
						@include sbg(--csd-prop-sidebar-hover-bg);
					}
				}

				.prop-name a {
					padding: 0.75rem 1.25rem;
					font-size: 0.8125rem;
					font-weight: 700;
					@include sc(--csd-sidebar-link-c);
				}

				.prop-variant a {
					padding: 0.75rem 1.25rem 0.75rem 2rem;
					font-size: 0.8125rem;
					@include sc(--csd-sidebar-link-c);
				}
			}
		}
	}

	.prop-sidebar-bottom-group {
		margin-top: auto;
		overflow: hidden;
		@include sbg(--csd-shadow-light);

		h4 {
			word-break: break-all;

			a {
				width: 100%;
				font-size: 1rem;
				display: flex;
				align-items: center;
				padding: 0.75rem 1.25rem;
				font-weight: 400;
				text-decoration: none;
				white-space: nowrap;
				overflow-x: hidden;
				text-overflow: ellipsis;
				max-width: 100%;
				@include sc(--csd-sidebar-link-c);
			}

			&:hover {
				@include sbg(--csd-shadow-medium);
			}

			&:last-child {
				@include sbg(--csd-shadow-light);

				&:hover {
					@include sbg(--csd-shadow-medium);
				}
			}
		}
	}
}