.preview-section-wrapper .property-section {
	padding: 2rem 3rem 0;

	.cs-alert {
		margin-bottom: 0.5rem;
	}

	.info-text {
		margin: 0 0 0.5rem;
		padding: 0;
		font-size: 1rem;
		width: 100%;
		max-width: 600px;
		color: var(--prop-info-c);
	}

	&.custom {
		padding: 3rem;
		margin-top: 2rem;
		background: var(--prop-custom-bg);

		.info-text {
			color: var(--prop-custom-c);
		}

		+ .properties-table-wrapper {
			padding-block-start: 3rem;
		}
	}

	.property-name {
		margin: 0 0 0.5rem 0;
		font-size: 1.375rem;
	}
}