// CS custom select
//
// CS custom select component.

.cs-custom-select {
	position: relative;

	.cs-custom-select-input {
		position: relative;

		.cs-custom-select-search-icon {
			bottom: 50%;
			pointer-events: none;
			position: absolute;
			right: 1rem;
			transform: translateY(50%);
		}
	}

	// Input
	.cs-input-text {
		@include input;

		// Square
		&.cs-input-text-square {
			border-radius: 0;
		}
	}
}

// Dropdown
.cs-custom-select-dropdown {
	border-radius: 0.25rem;
	font-size: 0.8125rem;
	list-style: none;
	margin-top: 0.25rem;
	min-width: 6rem;
	max-width: 20rem;
	padding: 0.25rem 0;
	position: absolute;
	width: 100%;
	z-index: $z-index-custom-select-dropdown;
	@include sbg(--cs-custom-select-dropdown-bg);
	@include css4 {
		border: 1px solid cvar(--cs-custom-select-dropdown-br);
		box-shadow: 0 2px 3px 0 cvar(--cs-custom-select-dropdown-shadow);
	}

	> li {
		cursor: pointer;
		padding: 0.5rem 0.75rem;
		outline: 0;

		> svg {
			margin-right: 0.5rem;
		}

		&:hover, &:focus {
			@include sbg(--cs-custom-select-dropdown-hover-bg);
		}
	}
}