.cs-alert {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	padding: 0.5rem 2rem 0.5rem 1rem;
	width: 100%;

	&.cs-alert-info {
		@include sbg(--cs-alert-info-bg);

		.cs-alert-link {
			@include sc(--cs-alert-info-c);
		}

		.cs-alert-text-wrapper {

			.cs-alert-text {
				@include sc(--cs-alert-info-c);
			}

			.cs-icon {
				@include sf(--cs-alert-info-fill);
			}
		}

		&.cs-alert-type-light {
			@include sbg(--cs-alert-info-light-bg);

			.cs-alert-text {
				font-weight: $font-weight-bold;
				@include sc(--cs-alert-info-light-c);
			}

			.cs-icon {
				@include sf(--cs-alert-info-light-fill);
			}

			.cs-alert-close {

				&:active {
					@include css4 {
						border: 1px solid cvar(--cs-alert-info-br);
					}
				}

				&:focus {
					@include css4 {
						box-shadow: 0 0 3px cvar(--cs-alert-info-box);
					}
				}
			}
		}
	}

	&.cs-alert-warning {
		@include sbg(--cs-alert-warning-bg);

		.cs-alert-link {
			@include sc(--cs-alert-warning-c);
		}

		.cs-alert-text-wrapper {

			.cs-alert-text {
				@include sc(--cs-alert-warning-c);
			}

			.cs-icon {
				@include sf(--cs-alert-warning-fill);
			}
		}

		.cs-alert-close {
			svg {
				@include sf(--cs-alert-warning-fill);
			}

			&:active {
				@include css4 {
					border: 1px solid cvar(--cs-alert-warning-fill);
				}
			}

			&:focus {
				@include css4 {
					box-shadow: 0 0 3px cvar(--cs-alert-warning-fill);
				}
			}
		}

		&.cs-alert-type-light {
			@include sbg(--cs-alert-warning-light-bg);

			.cs-alert-text {
				font-weight: $font-weight-bold;
				@include sc(--cs-alert-warning-light-c);
			}

			.cs-icon {
				@include sf(--cs-alert-warning-light-fill);
			}

			.cs-alert-close {

				&:active {
					@include css4 {
						border: 1px solid cvar(--cs-alert-warning-br);
					}
				}

				&:focus {
					@include css4 {
						box-shadow: 0 0 3px cvar(--cs-alert-warning-box);
					}
				}
			}
		}
	}

	&.cs-alert-error {
		@include sbg(--cs-alert-error-bg);

		.cs-alert-link {
			@include sc(--cs-alert-error-c);
		}

		.cs-alert-text-wrapper {

			.cs-alert-text {
				@include sc(--cs-alert-error-c);
			}

			.cs-icon {
				@include sf(--cs-alert-error-fill);
			}
		}

		&.cs-alert-type-light {
			@include sbg(--cs-alert-error-light-bg);

			.cs-alert-text {
				font-weight: $font-weight-bold;
				@include sc(--cs-alert-error-light-c);
			}

			.cs-icon {
				@include sf(--cs-alert-error-light-fill);
			}

			.cs-alert-close {

				&:active {
					@include css4 {
						border: 1px solid cvar(--cs-alert-error-br);
					}
				}

				&:focus {
					@include css4 {
						box-shadow: 0 0 3px cvar(--cs-alert-error-box);
					}
				}
			}
		}
	}

	&.cs-alert-offline {
		@include sbg(--cs-alert-offline-bg);

		.cs-alert-link {
			@include sc(--cs-alert-offline-c);
		}

		.cs-alert-text-wrapper {

			.cs-alert-text {
				@include sc(--cs-alert-offline-c);
			}

			.cs-icon {
				@include sf(--cs-alert-offline-fill);
			}
		}
	}

	.cs-alert-text-wrapper {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		min-height: 1.125rem;

		.cs-icon {
			width: 1rem;
			min-width: 1rem;
			height: 1rem;
			margin-right: 0.5rem;
			align-self: flex-start;
		}

		.cs-alert-text {
			font-size: 0.875rem;
			max-width: calc(100% - 2rem);
			line-height: normal;

			// Array of alerts
			+ .cs-alert-text::before {
				padding: 0 0.5rem;
				content: "\2022";
			}
		}
	}

	&.cs-alert-left .cs-alert-text-wrapper {
		display: block;
		padding: 0 1.5rem;
		position: relative;

		.cs-icon {
			position: absolute;
			left: 0;
			top: 0.0625rem;
			margin: 0;
		}

		.cs-alert-text {
			display: block;
			text-align: left;

			+ .cs-alert-text::before {
				content: none;
			}
		}
	}

	.cs-alert-link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	.cs-alert-close {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 1.5rem;
		height: 1.5rem;
		top: 0.3125rem;
		right: 0.75rem;
		padding: 0;
		border-radius: 0.25rem;
		cursor: pointer;
		-webkit-appearance: none;
		border: none;
		@include sbg(--cs-transparent);

		&:hover .cs-icon{
			opacity: 0.5;
		}

		svg {
			width: 0.875rem;
			height: 0.875rem;
			@include sf(--cs-alert-close-fill);
		}

		&:active {
			border: 1px solid cvar(--cs-alert-br);
		}

		&:focus {
			outline: none;
			@include css4 {
				box-shadow: 0 0 3px cvar(--cs-alert-box);

			}
		}
	}
}