// CS Section
//
// CS section component.

.cs-section {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;

	ul {
		list-style: none;
		padding: 0;
	}

	.cs-section-header {
		align-items: center;
		border-radius: 0.25rem;
		height: 1.75rem;
		display: flex;
		align-items: center;
		border-radius: var(--cs-section-border-radius, 0.25rem);
		--cs-section-background: var(--cs-section-header-bg, var(--cs-section-bg));
		@include sbg(--cs-section-background);

		.cs-section-title {
			font-size: 0.875rem;

			&:first-child {
				padding: 0 0.5rem;
			}
			&:nth-child(2) {
				margin-right: 0.5rem;
			}
		}

		.cs-section-button {
			align-items: center;
			cursor: pointer;
			display: flex;
			justify-content: flex-start;
			padding: 0 0.5rem;
			background: none;
			text-align: left;
			width: 100%;
			height: 100%;
			border-radius: inherit;

			&:focus {
				outline: 0;
			}

			&:focus-visible::after {
				@include css4 {
					box-shadow: 0 0 3px cvar(--cs-section-button-shadow);
				}
			}

			&:hover {
				@include sbg(--cs-section-hover-bg);
			}

			&:active {
				@include bgd(--cs-section-hover-bg, 0.02);
			}

			.cs-icon {
				margin-right: 0.5rem;
				transition: transform 0.2s;
			}

			.cs-btn-custom-content {
				display: flex;
				align-items: center;
			}

			&::before {
				border-radius: inherit;
				@include sbg(--cs-section-background);
			}

			&::after {
				border-radius: inherit;
				@include css4 {
					border: none;
				}
			}
		}

		&.cs-section-header-padding {
			padding: 0 0.75rem;
		}

		&.cs-section-header-error {
			@include sbg(--cs-section-header-error-bg);

			.cs-section-button {
				&::before {
					background: transparent;
				}

				&:active {
					@include bgd(--cs-section-header-error-hover, 0.02);
				}

				&:hover {
					@include sbg(--cs-section-header-error-hover);
				}

				&:focus-visible,
				&:focus::after {
					@include css4 {
						box-shadow: 0 0 3px cvar(--cs-section-header-error-shadow);
					}
				}
			}
		}
	}
}
