.cs-lookup-wrapper {
	display: flex;
	flex-direction: column;
	@include input-wrapper;
	@include invisible-input;

	&:focus-within .cs-blinking-cursor {
		display: none;
	}

	// TODO: remove when clear buttons get generic name across all form components
	.cs-lookup-clear-btn + .cs-custom-data-wrapper {
		margin-left: 0.25rem;
	}

	.cs-lookup-input-wrapper {
		display: flex;
		position: relative;

		.cs-lookup-value-wrapper {
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			padding-right: 0.25rem;
			@include overflow-ellipsis;

			.cs-lookup-value {
				font-size: 0.8125rem;
				pointer-events: none;
				@include overflow-ellipsis;
			}

			.cs-lookup-input {
				padding: 0;
				font-size: 0.8125rem;
				user-select: none;
				@include overflow-ellipsis;
				@include sc(--cs-input-c);
			}
		}

		&.cs-input-wrapper-read-only {
			.cs-lookup-value {
				cursor: auto;
				pointer-events: auto;
				width: 100%;
			}

			.cs-lookup-input {
				display: none;
			}
		}
	}

	.cs-input-type-indicator-icon {
		transition: transform 200ms ease-in-out;
		margin-right: 0.5rem;
	}

	&.cs-lookup-dropdown-open {
		.cs-lookup-value {
			position: absolute;
			left: 0;
			right: 0;
			@include sc(--cs-selected-input-option-c);
		}

		.cs-blinking-cursor {
			position: absolute;

			&:after {
				left: 0;
			}
		}
	}
}

.cs-lookup-dropdown {
	width: var(--cs-lookup-dropdown-width, max-content);
	border-radius: 0.25rem;
	max-width: Max(var(--cs-lookup-dropdown-width, 50rem), 50rem);
	min-width: var(--cs-lookup-dropdown-width);
	overflow-x: auto;
	@include css4 {
		border: 1px solid cvar(--cs-lookup-results-br);
	}

	.cs-data-table-header .cs-data-table-cell {
		border-top: none;
	}

	.cs-data-table-body .cs-data-table-row-wrapper:last-child .cs-data-table-cell {
		border-bottom: none;
	}

	.cs-lookup-dropdown-msg-wrapper {
		display: flex;
		align-items: center;
		padding: 0.5rem;
		pointer-events: none;
		@include sbg(--cs-lookup-dropdown-msg-bg);

		.cs-lookup-dropdown-msg-text {
			font-size: 0.8125rem;
			margin-left: 0.5rem;
			@include sc(--cs-lookup-dropdown-msg-c);
		}
	}

	.cs-lookup-load-more .cs-data-table-row {
		&:hover .cs-data-table-cell {
			cursor: default;
			box-shadow: none;
			@include sbg(--cs-lookup-dropdown-msg-inverse-bg);
		}

		.cs-data-table-cell {
			@include sbg(--cs-lookup-dropdown-msg-inverse-bg);

			.cs-lookup-dropdown-msg-wrapper {
				padding: 0;
				background-color: transparent;

				.cs-lookup-dropdown-msg-text {
					@include sc(--cs-lookup-dropdown-msg-inverse-c);
				}
			}
		}
	}
}
