
.cs-checkbox-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;

	&.cs-checkbox-label-left,
	&.cs-checkbox-label-right {
		flex-direction: row;
		align-items: center;

		.cs-label-wrapper {
			padding-bottom: 0;
		}
	}

	&.cs-checkbox-label-left .cs-label-wrapper {
		margin-right: 0.5rem;
	}

	&.cs-checkbox-label-right .cs-label-wrapper {
		order: 1;
	}

	.cs-checkbox-wrapper-inner {
		display: flex;
		flex-direction: row;
		align-items: center;

		.cs-tooltip-wrapper.cs-tw-error {
			margin-inline-start: 0.25rem;
		}
	}

	.cs-checkbox-group {
		display: inline-flex;
		width: fit-content;
		width: -moz-fit-content;

		.cs-checkbox {
			width: 1px;
			height: 1px;
			border: 0;
			clip: rect(0 0 0 0);
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;

			&:checked + .cs-checkbox-faux {
				&::after {
					display: block;
					content: "";
					height: 0.25rem;
					width: 0.5rem;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate3d(-50%, -50%, 0) rotate(-45deg);
					box-sizing: border-box;
					@include css4 {
						border-bottom: 2px solid cvar(--cs-checkbox-neutral-checked-br);
						border-left: 2px solid cvar(--cs-checkbox-neutral-checked-br);
					}
				}

				&.cs-checkbox-brand {
					@include sbg(--cs-checkbox-bg-brand);
					@include css4 {
						border: 1px solid cvar(--cs-checkbox-brand-focus-br);
					}

					&::after {
						@include css4 {
							border-bottom: 2px solid cvar(--cs-checkbox-brand-checked-br);
							border-left: 2px solid cvar(--cs-checkbox-brand-checked-br);
						}
					}
				}
			}

			&:indeterminate + .cs-checkbox-faux {

				&::after {
					display: block;
					content: "";
					width: 0.5rem;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate3d(-50%, -50%, 0) rotate(0deg);
					@include css4 {
						border-bottom: 2px solid cvar(--cs-checkbox-neutral-indeterminate-br);
					}
				}

				&.cs-checkbox-brand {
					@include sbg(--cs-checkbox-bg-brand);
					@include css4 {
						border: 1px solid cvar(--cs-checkbox-brand-focus-br);
					}

					&::after {
						@include css4 {
							border-bottom: 2px solid cvar(--cs-checkbox-brand-indeterminate-br);

						}
					}
				}
			}

			&:hover + .cs-checkbox-faux {
				@include css4 {
					box-shadow: 0 0 2px cvar(--cs-checkbox-focus-box);
				}
			}

			&:active + .cs-checkbox-faux {
				@include css4 {
					border: 1px solid cvar(--cs-checkbox-focus-br);
				}
			}

			&:focus + .cs-checkbox-faux {
				outline:0;
				@include css4 {
					box-shadow: 0 0 3px cvar(--cs-checkbox-focus-box);
					border: 1px solid cvar(--cs-checkbox-focus-br);
				}
			}

			&:disabled + .cs-checkbox-faux {
				cursor: default;
				@include sbg(--cs-checkbox-disabled-bg);
				@include css4 {
					border: 1px solid cvar(--cs-checkbox-disabled-br);
				}
			}

			&:disabled:hover + .cs-checkbox-faux,
			&:disabled:focus + .cs-checkbox-faux {
				box-shadow: none;
			}

			&:disabled:checked + .cs-checkbox-faux {
				&::after {
					@include css4 {
						border-bottom: 2px solid cvar(--cs-checkbox-disabled-checked-br);
						border-left: 2px solid cvar(--cs-checkbox-disabled-checked-br);
					}
				}
			}

			&-read-only {
				+ .cs-checkbox-faux {
					cursor: default;
					@include sbg(--cs-checkbox-disabled-bg);
					@include css4 {
						border: 1px solid cvar(--cs-checkbox-disabled-br);
					}
				}
				&:hover + .cs-checkbox-faux,
				&:focus + .cs-checkbox-faux {
					box-shadow: none;
					@include css4 {
						border: 1px solid cvar(--cs-checkbox-disabled-br);
					}
				}
				&:focus-visible + .cs-checkbox-faux {
					@include css4 {
						box-shadow: 0 0 3px cvar(--cs-checkbox-focus-box);
					}
				}
				&:active + .cs-checkbox-faux {
					@include css4 {
						border: 1px solid cvar(--cs-checkbox-disabled-br);
					}
				}
				&:checked + .cs-checkbox-faux {
					&.cs-checkbox-brand {
						@include sbg(--cs-checkbox-disabled-bg);
						@include css4 {
							border: 1px solid cvar(--cs-checkbox-disabled-br);
						}

						&::after {
							@include css4 {
								border-bottom: 2px solid cvar(--cs-checkbox-neutral-checked-br);
								border-left: 2px solid cvar(--cs-checkbox-neutral-checked-br);
							}
						}
					}
				}
			}

			&.cs-checkbox-error {
				+ .cs-checkbox-faux {
					@include css4 {
						border: 1px solid cvar(--cs-checkbox-error-br);
					}
				}
				&:hover + .cs-checkbox-faux {
					@include css4 {
						box-shadow: 0 0 2px cvar(--cs-checkbox-error-focus-shadow);
					}
				}
				&:focus + .cs-checkbox-faux {
					@include css4 {
						box-shadow: 0 0 3px cvar(--cs-checkbox-error-focus-shadow);
						border: 1px solid cvar(--cs-checkbox-error-br);
					}
				}
				&:active + .cs-checkbox-faux {
					@include css4 {
						box-shadow: 0 0 5px cvar(--cs-checkbox-error-active-shadow);
					}
				}
			}
		}

		.cs-checkbox-faux {
			width: 1rem;
			height: 1rem;
			display: inline-block;
			position: relative;
			vertical-align: middle;
			cursor: pointer;
			border-radius: var(--cs-checkbox-border-radius, 0.125rem);
			@include sbg(--cs-checkbox-bg-neutral);
			@include css4 {
				border: 1px solid cvar(--cs-checkbox-br);
			}
		}
	}
}

// Options
.cs-checkbox-options {
	display: flex;
	padding-left: 0.25rem;

	.cs-custom-data-item {
		align-items: center;
		display: flex;

		&:not(:last-child),
        > *:not(:last-child) {
            margin-right: 0.25rem;
        }
	}
}
