// CS Input Text
//
// CS text input component.
.cs-input-text-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	--cs-input-text-border-radius-value: var(--cs-input-text-border-radius);
	--cs-input-text-options-spacing-value: var(--cs-input-text-options-spacing);

	.cs-tooltip-wrapper.cs-tw-error {
		position: absolute;
		right: var(--cs-input-text-options-spacing-value);
		top: 0.5625rem;
	}

	> .cs-label-wrapper ~ .cs-tooltip-wrapper.cs-tw-error {
		top: 1.75rem;
	}

	.cs-input-text-wrapper-inner {
		position: relative;
	}

	.cs-input-text {
		@include input;
		border-radius: var(--cs-input-text-border-radius-value, 0.25rem);
		padding-right: var(--cs-input-text-options-spacing-value);

		&:read-only:focus-visible {
			@include css4 {
				box-shadow: 0 0 0.1875rem cvar(--cs-input-shadow);
			}
		}

		&.cs-input-text-errorTooltip {
			padding-right: calc(var(--cs-input-text-options-spacing-value) + 1.25rem);
		}
	}
}

// Options
.cs-input-text-options {
	bottom: 50%;
	display: flex;
	position: absolute;
	right: 0.5rem;
	transform: translateY(50%);

	.cs-input-text-option {
		align-items: center;
		display: flex;

		&:not(:last-child),
        > *:not(:last-child) {
            margin-right: 0.25rem;
        }
	}
}