.cs-custom-select-wrapper {
	position: relative;
	--cs-custom-select-options-spacing-value: calc(var(--cs-custom-select-options-spacing) + 0.25rem);

	.cs-tw-error {
		position: absolute;
		right: calc(var(--cs-custom-select-options-spacing-value) + 1.75rem);
		top: 50%;
		transform: translateY(-50%);
	}

	> .cs-label-outer-wrapper ~ .cs-tw-error {
		top: 1.75rem;
	}

	&.cs-custom-select-wrapper-read-only .cs-label-wrapper {
		pointer-events: none;
	}

	.cs-custom-select-input-wrapper {
		display: flex;
		font-size: 0.8125rem;
		line-height: 1.875rem;
		min-height: 2rem;
		transition: border 100ms ease-in-out, background-color 100ms ease-in-out;
		width: 100%;
		position: relative;
		padding: 0 3.5rem 0 0;
		border-radius: var(--cs-custom-select-border-radius, 0.25rem);
		cursor: text;
		@include overflow-ellipsis;
		@include sbg(--cs-input-bg);
		@include css4 {
			border: 1px solid cvar(--cs-input-br);
		}

		&:focus-within,
		&.cs-custom-select-dropdown-visible {
			outline: 0;
			@include css4 {
				border-color: cvar(--cs-input-active-br);
				box-shadow: 0 0 0.1875rem cvar(--cs-input-shadow);
			}
		}

		&:focus-within .cs-blinking-cursor {
			display: none;
		}

		&.cs-custom-select-input-wrapper-error {
			@include css4 {
				border: 1px solid cvar(--cs-input-error-br);
			}

			&:focus-within,
			&.cs-custom-select-dropdown-visible {
				@include css4 {
					border-color: cvar(--cs-input-error-c);
					box-shadow: 0 0 3px cvar(--cs-input-error-shadow);
				}
			}
		}

		&.cs-custom-select-input-wrapper-multiselect {
			.cs-custom-select-items {
				padding: 0.125rem 0 0.125rem 0.5rem; // Space is 0.25rem, half the field padding, half the item margin - needed when there are multiple rows of items
			}

			.cs-custom-select-value-wrapper {
				position: relative;
				margin-left: 0;
			}
		}

		&.cs-custom-select-input-wrapper-disabled {
			cursor: default;
			user-select: none;
			@include sbg(--cs-input-disabled-bg);
			@include css4 {
				border-color: cvar(--cs-input-disabled-br);
			}
		}

		&.cs-custom-select-input-wrapper-read-only {
			cursor: default;
			pointer-events: none;
			padding-left: 0;
			border: none;

			.cs-custom-select-items {
				padding-left: 0;

				.cs-custom-select-value-wrapper {
					margin-left: 0;
				}
			}
		}
	}

	.cs-custom-select-value-wrapper {
		position: absolute;
		margin-left: 0.25rem;
		pointer-events: none;
		font-size: 0.8125rem;
		line-height: 1rem;
		@include overflow-ellipsis;
	}

	.cs-custom-select-input {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		input {
			border: none;
			outline: none;
			width: 100%;
			height: 100%;
			padding-right: 3rem;
			padding-left: 0.75rem;
			margin-left: 0.25rem;
			overflow: hidden;
			text-overflow: ellipsis;
			background: inherit;
			font-size: 0.8125rem;
		}

		&.cs-custom-select-input-error-tooltip {
			padding-inline-end: 4rem;

			~ .cs-custom-select-clear {
				right: calc(var(--cs-custom-select-options-spacing-value) + 2.75rem);
			}
		}
	}

	.cs-custom-select-value {
		position: relative;
		user-select: none;

		&.cs-custom-select-dropdown-visible {
			@include sc(--cs-selected-input-option-c);
		}
	}

	.cs-custom-select-icon {
		position: absolute;
		right: 0.5rem;
		align-self: center;
		pointer-events: none;
		transition: transform 200ms ease-in-out;
	}

	.cs-custom-select-clear {
		position: absolute;
		align-self: center;
		right: 1.625rem;

		&-options {
			right: calc(var(--cs-custom-select-options-spacing) + 2rem);
		}
	}

	.cs-custom-select-items {
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		max-width: 100%;
		padding: 0.25rem 0 0.25rem 0.5rem;

		.cs-custom-select-item-multiselect {
			display: inline-flex;
			align-items: center;
			justify-content: space-between;
			min-width: 2.25rem;
			height: 1.375rem;
			border-radius: 0.25rem;
			padding: 0 0.25rem 0 0.5rem;
			margin: 0.125rem 0.25rem 0.125rem 0;
			position: relative;
			font-size: 0.8125rem;
			z-index: var(--z-index-custom-select-values);
			@include sbg(--cs-option-ms-item-selected-bg);
			@include css4 {
				border: 1px solid cvar(--cs-option-ms-item-selected-br);
			}

			&:hover {
				@include sbg(--cs-option-ms-item-selected-hover);
			}

			&:focus-within {
				outline: 0;
				@include css4 {
					border: 1px solid cvar(--cs-option-ms-item-selected-focus);
					box-shadow: 0 0 3px cvar(--cs-option-ms-item-selected-shadow);
				}
			}

			.cs-custom-select-option-value {
				line-height: initial;
				@include overflow-ellipsis;
			}
		}

		.cs-custom-select-input {
			position: relative;
			display: inline-flex;
			flex: 1;
			flex-shrink: 0;

			input {
				padding: 0;
			}
		}
	}
}

.cs-custom-select-dropdown-wrapper {
	width: 100%;

	.cs-custom-select-dropdown {
		border-radius: 0.25rem;
		font-size: 0.8125rem;
		list-style: none;
		max-height: 15rem;
		overflow-y: auto;
		scroll-snap-type: y proximity;
		padding: 0.25rem 0;
		@include sbg(--cs-custom-select-dropdown-bg);
		@include css4 {
			border: 1px solid cvar(--cs-custom-select-dropdown-br);
			box-shadow: 0 2px 3px 0 cvar(--cs-custom-select-dropdown-shadow);
		}

		&:not(:only-child) {
			border-bottom: none;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.cs-custom-select-no-data {
			display: flex;
			align-items: center;
			padding: 0.5rem;

			.cs-custom-select-no-data-text {
				@include sc(--cs-custom-select-no-data-c);
				margin-left: 0.5rem;
			}
		}

		.cs-custom-select-option {
			cursor: pointer;
			padding: 0.5rem 0.75rem;
			outline: 0;
			display: flex;
			transition: all 100ms ease-in-out;
			scroll-snap-align: end;
			scroll-margin-bottom: 2rem;

			&:hover,
			&:focus {
				@include sbg(--cs-custom-select-dropdown-hover-bg);
			}

			&.cs-custom-select-option-selected {
				@include sbg(--cs-option-list-item-selected-bg);

				&:hover,
				&:focus {
					@include bgd(--cs-option-list-item-selected-bg, 0.02);
				}
			}

			> svg {
				margin-right: 0.5rem;
			}

			.cs-custom-select-option-value {
				@include overflow-ellipsis;
			}

			.cs-custom-select-option-check-icon {
				display: flex;
				justify-content: center;
				width: 1.5rem;
				margin-right: 0.25rem;
			}
		}
	}

	.cs-custom-select-dropdown-action-wrapper {
		.cs-custom-select-dropdown-action {
			width: 100%;

			&:before {
				border-radius: 0 0 0.25rem 0.25rem;
			}

			&:after {
				border-radius: 0 0 0.25rem 0.25rem;
				border: 1px solid cvar(--cs-custom-select-dropdown-br);
			}

			&:not(:last-child):not(:only-child):before,
			&:not(:last-child):not(:only-child):after {
				border-radius: 0;
				border-bottom: none;
			}

			&:hover,
			&:focus {
				&:before {
					@include sbg(--cs-custom-select-dropdown-hover-bg);
				}

				&:after {
					box-shadow: none;
				}
			}
		}
	}
}


.cs-custom-select-options {
	bottom: 50%;
	display: flex;
	position: absolute;
	right: 1.75rem;
	transform: translateY(50%);

	.cs-custom-data-item {
		align-items: center;
		display: flex;

		&:first-child {
			margin-right: 0.125rem;
		}

		& > *:not(:last-child) {
			margin-right: 0.25rem;
		}
}
}
