@mixin cs-slider-range-track {
	width: 100%;
	height: 0.25rem;
	cursor: pointer;
	border-radius: 0.25rem;
	@include sbg(--cs-slider-range-track-bg);
}

@mixin cs-slider-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 0;
	cursor: pointer;
	@include sbg(--cs-slider-range-thumb-bg);
	@include css4{
		box-shadow: 0 2px 3px cvar(--cs-slider-range-thumb-shadow);
	}

	&:hover {
		@include sbg(--cs-slider-range-thumb-hover-bg);
	}
}

.cs-slider-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	width: var(--cs-slider-width, 100%);

	.cs-slide-range {
		word-wrap: break-word;
		@include sc(--cs-slider-range-c);
		font-size: 0.75rem;
	}

	.cs-slider-group {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		padding-block-start: 0.5rem;
		padding-block-end: 1.5rem;

		.cs-slider {
			-webkit-appearance: none;
			appearance: none;
			@include sbg(--cs-transparent);
			margin: 0;
			width: 100%;

			&:focus {
				outline: 0;
			}

			// Webkit
			&::-webkit-slider-runnable-track {
				@include cs-slider-range-track;
			}

			&::-webkit-slider-thumb {
				@include cs-slider-range-thumb;
				margin-top: calc((0.5rem - 2px) * -1);
				z-index: 1;
				position: relative;

				&::after {
					content: "";
					display: block;
					position: sticky;
					left: 0;
					right: 0;
					width: 1rem;
					height: 1rem;
					background: pink;
				}
			}

			//Firefox
			&::-moz-range-track {
				@include cs-slider-range-track;
			}

			&::-moz-range-thumb {
				@include cs-slider-range-thumb;
				position: relative;
				z-index: 1;
			}

			// IE/Edge
			&::-ms-track {
				@include cs-slider-range-track;
				@include css4 {
					border-color: cvar(--cs-transparent);
				}
				@include sc(--cs-transparent);
				cursor: pointer;
			}
			&::-ms-thumb {
				@include cs-slider-range-thumb;
				z-index: 1;
				position: relative;
			}

			&:focus-visible::-webkit-slider-thumb {
				@include sbg(--cs-slider-range-thumb-active-bg);
				@include css4 {
					box-shadow: 0 0 3px cvar(--cs-slider-range-thumb-active-bg);
				}
			}

			&:active::-webkit-slider-thumb {
				@include sbg(--cs-slider-range-thumb-active-bg);
			}

			&:focus-visible::-moz-range-thumb {
				@include sbg(--cs-slider-range-thumb-active-bg);
				@include css4 {
					box-shadow: 0 0 3px cvar(--cs-slider-range-thumb-active-bg);
				}
			}

			&:active::-moz-range-thumb {
				@include sbg(--cs-slider-range-thumb-active-bg);
			}

			&.cs-slider-error {
				&::-webkit-slider-thumb {
					@include sbg(--cs-slider-range-thumb-error-bg);
				}

				&:focus-visible::-webkit-slider-thumb {
					@include css4 {
						box-shadow: 0 0 3px cvar(--cs-slider-range-thumb-error-shadow);
					}
				}

				&::-moz-range-thumb {
					@include sbg(--cs-slider-range-thumb-error-bg);
				}

				&:focus-visible::-moz-range-thumb {
					@include css4 {
						box-shadow: 0 0 3px cvar(--cs-slider-range-thumb-error-shadow);
					}
				}

				&:active::-moz-range-thumb {
					@include sbg(--cs-slider-range-thumb-error-bg);
				}

				&::-ms-thumb {
					@include sbg(--cs-slider-range-thumb-error-bg);
				}
			}

			&[disabled] {
				&::-webkit-slider-thumb {
					@include sbg(--cs-slider-range-thumb-disabled-bg);
					cursor: default;
				}

				&::-webkit-slider-runnable-track {
					@include sbg(--cs-slider-range-thumb-disabled-bg);
					cursor: default;
				}

				&::-moz-range-thumb {
					@include sbg(--cs-slider-range-thumb-disabled-bg);
					cursor: default;
				}

				&::-moz-range-track {
					@include sbg(--cs-slider-range-thumb-disabled-bg);
				}

				&::-ms-thumb {
					@include sbg(--cs-slider-range-thumb-disabled-bg);
					cursor: default;
				}

				&::-ms-track {
					@include sbg(--cs-slider-range-thumb-disabled-bg);
					cursor: default;
				}
			}

			&[aria-readonly] {
				&::-webkit-slider-thumb {
					cursor: default;

					&:hover {
						@include sbg(--cs-slider-range-thumb-bg);
					}
				}

				&::-webkit-slider-runnable-track {
					cursor: default;
				}

				&:active::-moz-range-thumb,
				&:hover::-moz-range-thumb {
					cursor: default;
					@include sbg(--cs-slider-range-thumb-bg);
				}

				&::-moz-range-track {
					cursor: default;
				}

				&::-ms-thumb {
					cursor: default;

					&:hover {
						@include sbg(--cs-slider-range-thumb-bg);
					}
				}

				&::-ms-track {
					cursor: default;
				}
			}
		}

		.cs-slider-steps-wrapper {
			position: absolute;
			top: -0.125rem;
			left: 0;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			pointer-events: none;

			.cs-slider-step {
				display: flex;
				justify-content: center;
				width: 1rem;
				position: relative;

				.cs-slider-step-circle {
					display: block;
					width: 0.5rem;
					height: 0.5rem;
					border-radius: 0.5rem;
					@include sbg(--cs-slider-range-track-bg);
					@include css4 {
						border: 2px solid cvar(--cs-slider-range-thumb-bg);
					}
				}

				.cs-slider-step-number {
					position: absolute;
					top: 1rem;
					left: 50%;
					transform: translate(-50%, 0);
					font-size: 0.75rem;
					@include sc(--cs-slider-range-c);
				}

				&:first-child {
					justify-content: flex-start;

					.cs-slider-step-number {
						left: 0;
						transform: translate(0, 0);
					}
				}

				&:last-child {
					justify-content: flex-end;

					.cs-slider-step-number {
						left: 100%;
						transform: translate(-100%, 0);
					}
				}
			}

			//Firefox
			@supports (-moz-appearance:none) {
				& {
					top: 0.3125rem;
				}
			}
		}

		.cs-slider-max-value-wrapper {
			width: calc(100% - 1rem);
			position: relative;

			.cs-slider-max-value {
				position: absolute;
				top: 0.625rem;
				font-size: 0.75rem;
				left: var(--cs-slider-value-position, 100%);
				width: 1rem;
				margin-left: -0.5rem;
				display: flex;
				justify-content: center;
				@include sc(--cs-slider-range-c);

				&.start {
					justify-content: flex-start;
				}

				&.end {
					justify-content: flex-end;
				}
			}
		}
	}
}