// CS Input Search
//
// CS search input component.

.cs-input-search {
	@include input;
	border-radius: var(--cs-input-search-border-radius, 0.25rem);
}
.cs-input-search-wrapper {
	display: flex;
	flex-direction: column;
}

// Group
.cs-input-search-group {
	display: flex;
	flex-direction: column;
	position: relative;
	width: var(--search-width, 100%);

	.cs-input-search-icon {
		transform: translateY(60%);
		display: block;
		position: absolute;
		pointer-events: none;
	}

	.cs-input-search-clear {
		position: absolute;
		top: 0.25rem;
	}

	&.cs-icon-left {
		.cs-input-search {
			padding: 0 2rem 0 2rem;
		}
		.cs-input-search-icon {
			left: 0.5rem;
		}
		.cs-input-search-clear {
			right: 0.25rem;
		}
	}

	&.cs-icon-right {
		.cs-input-search-icon {
			right: 0.5rem;
		}
		.cs-input-search-clear {
			right: 1.625rem;
		}
		.cs-input-search {
			padding: 0 3rem 0 0.75rem;
		}
	}
}
