// CS Input Text
//
// CS text input component.
.cs-input-text-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;

	.cs-input-text {
		@include input;
		border-radius: var(--cs-input-text-border-radius, 0.25rem);

		&:read-only:focus-visible {
			@include css4 {
				box-shadow: 0 0 0.1875rem cvar(--cs-input-shadow);
			}
		}
	}
}
