// CS Input Search
//
// CS search input component.

.cs-input-search {
	@include input;
}
.cs-input-search-wrapper {
	display: flex;
	flex-direction: column;
}

// Group
.cs-input-search-group {
	display: flex;
	flex-direction: column;
	position: relative;
	width: var(--search-width, 100%);

	.cs-icon {
		width: 0.875rem;
		height: 0.875rem;
		transform: translateY(60%);
		display: block;
		position: absolute;
		cursor: pointer;
		@include sf(--cs-input-icon-fill);
	}

	.cs-input-search-icon {
		pointer-events: none;
	}

	.cs-input-search-clear {
		background: 0;
		border: 0;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		height: 1.25rem;
		width: 1.25rem;
		position: absolute;

		&:focus,
		&:active {
			outline: none;
			@include css4 {
				box-shadow: 0 0 3px cvar(--cs-button-box);
			}
		}

		.cs-icon {
			transform: none;
			position: relative;
		}
	}

	&.cs-icon-left {
		.cs-input-search {
			padding: 0 2rem 0 2rem;
		}
		.cs-input-search-icon {
			left: 0.5rem;
		}
		.cs-input-search-clear {
			right: 0.5rem;
			top: 0.375rem;
		}
	}

	&.cs-icon-right {
		.cs-input-search-icon {
			right: 0.5rem;
		}
		.cs-input-search-clear {
			right: 1.75rem;
			top: 0.375rem;
		}
		.cs-input-search {
			padding: 0 3rem 0 0.75rem;
		}
	}
}

.cs-input-error-msg {
	@include error-message;
}

// Square
.cs-input-search-square {
	border-radius: 0;
}