.cs-modal-wrapper {
	transition-duration: 0.4s;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $z-index-modal;
	@include sbg(--cs-modal-wrapper-bg);

	&.cs-modal-wrapper-open {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.4s linear;
	}

	.modal {
		position: relative;
		transform: translate(0);
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0 2rem;
		height: 100%;
		padding: 3rem 3rem 5.5rem;
		border-radius: 0.25rem;
		margin: 0 auto;

		> :nth-child(2) {
			border-top-right-radius: 0.25rem;
			border-top-left-radius: 0.25rem;
		}

		> :last-child {
			border-bottom-right-radius: 0.25rem;
			border-bottom-left-radius: 0.25rem;
		}

		&.no-close-btn {
			padding: 3rem;

			> :first-child {
				border-top-right-radius: 0.25rem;
				border-top-left-radius: 0.25rem;
			}

			> :nth-child(2) {
				border-top-right-radius: 0;
				border-top-left-radius: 0;
			}
		}

		.modal-close {
			width: 2rem;
			height: 2rem;
			align-self: flex-end;
			padding: 0.1825rem;
			margin-right: -0.5rem;
			margin-bottom: 0.5rem;
			background-clip: border-box;
			border-radius: 0.25rem;
			-webkit-appearance: none;
			white-space: normal;
			cursor: pointer;
			@include sbg(--transparent-bg);
			@include css4 {
				border: 1px solid cvar(--cs-transparent);
			}

			.cs-icon {
				width: 1.5rem;
				height: 1.5rem;
				@include sf(--cs-modal-close-fill);
			}

			&:hover .cs-icon {
				@include sf(--cs-modal-close-hover-fill);
			}

			&:focus {
				outline: none;
				@include css4 {
					box-shadow: 0 0 3px cvar(--cs-modal-close-focus-box);
					border: 1px solid cvar(--cs-modal-close-focus-br);
				}
			}

			&:active .cs-icon {
				@include sf(--cs-modal-close-active-fill);
			}
		}

		.modal-header {
			position: relative;
			padding: 1rem;
			text-align: center;
			flex-shrink: 0;
			@include sbg(--cs-modal-bg);
			@include sc(--cs-modal-c);
			@include css4 {
				border-bottom: 1px solid cvar(--cs-modal-br);
			}

			.header-title {
				display: block;
				font-weight: $font-weight-normal;
				font-size: 1.25rem;
				line-height: 1.25;
				margin: 0;
			}

			.header-subtitle {
				display: block;
				font-weight: $font-weight-normal;
				font-size: 0.8125rem;
				line-height: 1;
				margin: 0;
				@include sc(--cs-modal-c-alt);
			}
		}

		.modal-body {
			font-size: 0.8125rem;
			padding: var(--body-padding, 1rem);
			overflow: hidden;
			overflow-y: auto;
			@include sbg(--cs-modal-bg);
			@include sc(--cs-modal-c);

			p {
				margin: 0;
				padding: 0;
			}
		}

		.modal-footer {
			padding: 0.75rem 1rem;
			display: flex;
			@include sbg(--cs-modal-footer-bg);
			@include css4 {
				box-shadow: 0 2px 3px 0 cvar(--cs-modal-box);
				border-top: 2px solid cvar(--cs-modal-br);
			}

			&.modal-footer-center {
				justify-content: center;
			}

			&.modal-footer-left {
				justify-content: flex-start;
			}

			&.modal-footer-right {
				justify-content: flex-end;
			}

			> .cs-button {
				margin-right: 0.5rem;

				&:last-of-type {
					margin-right: 0;
				}
			}

			.cs-btn:only-of-type {
				margin: 0;
			}

			.cs-btn:not(:last-of-type) {
				margin-right: 0.5rem;
			}
		}

		&.modal-small {
			width: 50%;
			max-width: 40rem;
			min-width: 20rem;
		}

		&.modal-medium {
			width: 70%;
			max-width: 75rem;
			min-width: 40rem;
		}

		&.modal-large {
			width: 90%;
			max-width: none;
			min-width: 40rem;
		}

		&.modal-xlarge {
			width: 100%;
			padding: 0.5rem 3rem 3rem;

			&.no-close-btn {
				padding: 2rem;
			}

			.modal-body {
				flex: 1;
			}
		}
	}
}
