.cs-toast-wrapper {
	display: flex;
	padding: 0.5rem;

	.cs-toast {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		position: relative;
		border-radius: 0.25rem;
		padding: 0.75rem 1rem;
		width: var(--cs-toast-width);
		min-width: 15rem;
		/*
			BUG: issue with parent height when there is a long text
			TODO: investigate why parent has width of full text width
		*/
		//max-width: Min(var(--cs-toast-width, 30rem), 100%);
		max-width: var(--cs-toast-width, 34rem);

		> .cs-icon {
			margin-right: 0.5rem;
		}

		&.cs-toast-info {
			@include sbg(--cs-toast-info-bg);

			.cs-toast-text > * {
				@include sc(--cs-toast-info-c);
			}

			.cs-toast-link {
				@include sc(--cs-toast-info-c);
			}

			> .cs-icon {
				@include sf(--cs-toast-info-fill);
			}
		}

		&.cs-toast-success {
			@include sbg(--cs-toast-success-bg);

			.cs-toast-text > * {
				@include sc(--cs-toast-success-c);
			}

			.cs-toast-link {
				@include sc(--cs-toast-success-c);
			}

			> .cs-icon {
				@include sf(--cs-toast-success-fill);
			}
		}

		&.cs-toast-warning {
			@include sbg(--cs-toast-warning-bg);

			.cs-toast-text > * {
				@include sc(--cs-toast-warning-c);
			}

			.cs-toast-link {
				@include sc(--cs-toast-warning-c);
			}

			> .cs-icon {
				@include sf(--cs-toast-warning-fill);
			}
		}

		&.cs-toast-error {
			@include sbg(--cs-toast-error-bg);

			.cs-toast-text > * {
				@include sc(--cs-toast-error-c);
			}

			.cs-toast-link {
				@include sc(--cs-toast-error-c);
			}

			> .cs-icon {
				@include sf(--cs-toast-error-fill);
			}
		}

		.cs-toast-text {
			flex: 1;
			padding-top: 0.125rem;
			display: flex;
			flex-direction: column;
			font-family: $font-primary !important;

			.cs-toast-detail {
				margin: 0;
				padding: 0;
				font-size: 0.8125rem;
				font-family: $font-primary !important;
			}
		}

		.cs-toast-link {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		&.cs-toast-close {
			padding: 0.75rem 3rem 0.75rem 1rem;
		}

		.cs-toast-close-btn {
			position: absolute;
			width: 1.625rem;
			height: 1.625rem;
			right: 0.75rem;
			padding: 0;
			border-radius: 0.25rem;
			cursor: pointer;
			-webkit-appearance: none;
			background: transparent;
			@include css4 {
				border: 1px solid cvar(--cs-transparent);
			}

			svg {
				@include sf(--cs-toast-close-fill);
			}

			&:hover svg {
				@include sf(--cs-toast-hover-fill);
			}

			&:focus {
				outline: none;
				@include css4 {
					box-shadow: 0 0 3px cvar(--cs-toast-box);
					border: 1px solid cvar(--cs-toast-br);
				}
			}

			&:active svg {
				@include sf(--cs-toast-active-fill);
			}
		}

		&.cs-toast-warning .cs-toast-close-btn {

			svg {
				@include sf(--cs-toast-warning-fill);
			}

			&:hover,
			&:active {
				svg {
					@include sf(--cs-toast-warning-hover-fill);
				}
			}

			&:focus {
				@include css4 {
					box-shadow: 0 0 3px cvar(--cs-toast-warning-box);
					border: 1px solid cvar(--cs-toast-warning-br);
				}
			}
		}
	}
}

/*TOAST NOTIFICATION RENDER API*/
.cs-toast-root {
	display: flex;
	font-size: 1rem;
	position: fixed;
	z-index: var(--z-index-toast);

	&-fade-leave {
		animation-name: notificationFadeOut;
		animation-duration: 0.2s;
	}
}

.cs-toast-notice-bottom-right,
.cs-toast-notice-top-right {
	animation-name: slideNotificationToLeft;
	animation-duration: 0.2s;
}

.cs-toast-notice-bottom-left,
.cs-toast-notice-top-left {
	animation-name: slideNotificationToRight;
	animation-duration: 0.2s;
}
.cs-toast-notice-top-center {
	animation-name: slideNotificationDown;
	animation-duration: 0.2s;
}
