// CS Input Search
//
// CS search input component.

.cs-input-search {
	@include sbg(--cs-input-bg);
	@include css4 {
		border: 1px solid cvar(--cs-input-br);
	}

	&:active,
	&:focus {
		outline: 0;
		@include sbg(--cs-input-active-bg);
		@include css4 {
			border-color: cvar(--cs-input-active-br);
			box-shadow: 0 0 0.1875rem cvar(--cs-input-shadow);
		}
	}

	&:disabled {
		cursor: not-allowed;
		user-select: none;
		@include sbg(--cs-input-disabled-bg);
		@include css4 {
			border-color: cvar(--cs-input-disabled-br);
		}
	}
	@include input;
}

// Group
.cs-input-search-group {
	display: flex;
	flex-direction: column;
	position: relative;
	width: var(--search-width, 100%);

	.cs-icon {
		width: 1rem;
		height: 1rem;
		display: block;
		@include sf(--cs-input-search-icon-fill);
	}

	.cs-input-search-icon, .cs-input-search-clear {
		position: absolute;
		bottom: 50%;
	}

	.cs-input-search-icon {
		pointer-events: none;
		transform: translateY(50%);
	}

	.cs-input-search-clear {
		background: 0;
		border: 0;
		cursor: pointer;
		display: flex;
		justify-content: center;
		padding: 0;
		height: 1.25rem;
		transform: translateY(50%);
		width: 1.25rem;

		&:focus,
		&:active {
			outline: none;
			@include css4 {
				box-shadow: 0 0 3px cvar(--cs-button-box);
			}
		}
	}

	&.cs-icon-left {
		.cs-input-search {
			padding: 0 2rem 0 2rem;
		}
		.cs-input-search-icon {
			left: 0.5rem;
		}
		.cs-input-search-clear {
			right: 0.5rem;
		}
	}

	&.cs-icon-right {
		.cs-input-search-icon {
			right: 0.5rem;
		}
		.cs-input-search-clear {
			right: 1.75rem;
		}
	}
}

// Error
.cs-input-search-error-msg {
	margin: 0 3px;
	font-size: 0.6875rem;
	@include sc(--cs-input-error-c);
}

// Square
.cs-input-search-square {
	border-radius: 0;
}
