// CS Input Number
//
// CS number input component.
.cs-input-number-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;

	.cs-input-number {
		@include input;

		&.cs-input-number-hide-spinner-true {
			-moz-appearance:textfield;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}

	// Square
	.cs-input-number-square {
		border-radius: 0;
	}

	// Version
	.component-version-input .version-preview {
		overflow: visible;
	}

	.cs-input-error-msg {
		@include error-message;
	}
}