.cs-lookup-field-wrapper {
	position: relative;

	&.cs-lookup-field-hidden {
		display: none;
	}
}

.cs-lookup-field {
    @include input;
    padding: 0 2rem 0 2rem;
}

.cs-lookup-field-group {
	display: flex;
	flex-direction: column;
	position: relative;

	.cs-icon {
		width: 0.875rem;
		height: 0.875rem;
		transform: translateY(60%);
		display: block;
		position: absolute;
		cursor: pointer;
		@include sf(--cs-input-icon-fill);
	}

	.cs-lookup-field-search {
		pointer-events: none;
		left: 0.5rem;
	}

	.cs-lookup-field-dropdown, .cs-lookup-field-spinner {
		pointer-events: none;
		right: 0.5rem;
	}

	.cs-lookup-field-spinner {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 0.875rem;
		width: 0.875rem;
		position: absolute;
		top: 0.5rem;
	}

	.cs-lookup-field-clear {
		position: absolute;
		top: 0.25rem;
		right: 1.5rem;
		.cs-icon {
			transform: none;
			position: relative;
		}
	}
}

.cs-lookup-field-results {
	position: absolute;
	min-width: 100%;
	width: max-content;
	@supports not (width: max-content) {
		min-width: auto;
	}
	max-height: 20rem;
	overflow: auto;
	border-radius: 0 0 0.25rem 0.25rem;
	z-index: var(--z-index-lookup-dropdown);
	@include css4 {
		border: 1px solid cvar(--cs-lookup-field-results-br);
	}
	.cs-table {
		.cs-table-header {
			position: sticky;
			top: 0;
			display: flex;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.0625rem;
			@include sc(--cs-lookup-field-results-header-c);
		}
		.cs-table-body {
			.cs-table-row {
				cursor: pointer;
				@include sc(--cs-lookup-field-results-row-c);

				.cs-table-cell {
					font-size: 0.75rem;

					.cs-table-cell-text {
						font-weight: 400;
					}
				}
			}
		}
	}
}

.cs-lookup-field-square {
	border-radius: 0;
}
