.cs-main-header {
	display: flex;
	position: relative;
	justify-content: center;
	padding: 1rem;
	z-index: var(--z-index-main-header);

	&.cs-main-header-sticky {
		position: sticky;
		top: 0;
	}

	&.cs-main-header-neutral {
		@include sbg(--cs-main-header-neutral-bg);
		@include css4 {
			box-shadow: 0 1px 2px 0 cvar(--cs-shadow-medium);
		}

		.cs-main-header-icon > .cs-icon {
			@include sf(--cs-main-header-neutral-icon);
		}

		.cs-main-header-icon .cs-icon-frame {
			@include sbg(--cs-main-header-neutral-icon);
		}

		.cs-main-header-title {
			font-weight: $font-weight-bold;
			@include sc(--cs-main-header-neutral-c);
		}

		.cs-main-header-subtitle {
			@include sc(--cs-main-header-subtitle-c);
		}
	}

	&.cs-main-header-brand {
		@include sbg(--cs-main-header-brand-bg);
		@include css4 {
			box-shadow: 0 1px 2px 0 cvar(--cs-shadow-dark);
		}

		.cs-main-header-icon > .cs-icon {
			@include sf(--cs-main-header-brand-icon);
		}

		.cs-main-header-icon .cs-icon-frame {
			@include sbg(--cs-main-header-brand-icon);

			> .cs-icon {
				@include sf(--cs-main-header-brand-bg);
			}
		}

		.cs-main-header-title,
		.cs-main-header-subtitle {
			font-weight: $font-weight-normal;
			@include sc(--cs-main-header-brand-c);
		}

		.cs-main-header-subtitle {
			opacity: 0.6;
		}
	}

	&.cs-main-header-success {
		@include sbg(--cs-main-header-success-bg);
		@include css4 {
			box-shadow: 0 1px 2px 0 cvar(--cs-shadow-dark);
		}

		.cs-main-header-icon > .cs-icon {
			@include sf(--cs-main-header-success-icon);
		}

		.cs-main-header-icon .cs-icon-frame {
			@include sbg(--cs-main-header-success-icon);

			> .cs-icon {
				@include sf(--cs-main-header-success-bg);
			}
		}

		.cs-main-header-title,
		.cs-main-header-subtitle {
			font-weight: $font-weight-normal;
			@include sc(--cs-main-header-success-c);
		}

		.cs-main-header-subtitle {
			opacity: 0.6;
		}
	}

	&.cs-main-header-error {
		@include sbg(--cs-main-header-error-bg);
		@include css4 {
			box-shadow: 0 1px 2px 0 cvar(--cs-shadow-dark);
		}

		.cs-main-header-icon > .cs-icon {
			@include sf(--cs-main-header-error-icon);
		}

		.cs-main-header-icon .cs-icon-frame {
			@include sbg(--cs-main-header-error-icon);

			> .cs-icon {
				@include sf(--cs-main-header-error-bg);
			}
		}

		.cs-main-header-title,
		.cs-main-header-subtitle {
			font-weight: $font-weight-normal;
			@include sc(--cs-main-header-error-c);
		}

		.cs-main-header-subtitle {
			opacity: 0.6;
		}
	}

	&.cs-main-header-info {
		@include sbg(--cs-main-header-info-bg);
		@include css4 {
			box-shadow: 0 1px 2px 0 cvar(--cs-shadow-dark);
		}

		.cs-main-header-icon > .cs-icon {
			@include sf(--cs-main-header-info-icon);
		}

		.cs-main-header-icon .cs-icon-frame {
			@include sbg(--cs-main-header-info-icon);

			> .cs-icon {
				@include sf(--cs-main-header-info-bg);
			}
		}

		.cs-main-header-title,
		.cs-main-header-subtitle {
			font-weight: $font-weight-normal;
			@include sc(--cs-main-header-info-c);
		}

		.cs-main-header-subtitle {
			opacity: 0.6;
		}
	}

	.cs-main-header-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.cs-main-header-icon {
			width: 2rem;
			height: 2rem;
			margin-right: 0.75rem;

			> .cs-icon {
				width: 2rem;
				height: 2rem;
			}

			.cs-icon-frame {
				width: 2rem;
				height: 2rem;
			}
		}

		.cs-main-header-left {
			display: flex;
			align-items: center;
			flex-grow: 1;
			min-width: 0;

			.cs-main-header-heading {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				margin-inline-end: 1rem;
				min-width: 0;

				.cs-main-header-title {
					font-size: 1.25rem;
					line-height: 1.25;
					margin: 0;
					display: block;
					@include overflow-ellipsis;
				}

				.cs-main-header-subtitle {
					font-size: 0.8125rem;
					line-height: 1.25;
					font-weight: $font-weight-normal;
					margin: 0;
					display: block;
					@include overflow-ellipsis;
				}

				&.cs-main-header-heading-reversed {
					flex-direction: column-reverse;
				}
			}
		}

		.cs-main-header-right {
			display: flex;
			align-items: center;

			> * {
				margin-left: 0.5rem;
			}
		}
	}
}