// CS Input Number
//
// CS number input component.
.cs-input-number-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;

	.cs-tooltip-wrapper.cs-tw-error {
		position: absolute;
		right: var(--cs-input-number-custom-data-width, 0.5rem);
		top: 0.5625rem;
	}

	> .cs-label-outer-wrapper ~ .cs-tooltip-wrapper.cs-tw-error {
		top: 1.75rem;
	}

	.cs-input-number-wrapper-inner {
		position: relative;
	}

	.cs-input-number {
		@include input;
		border-radius: var(--cs-input-number-border-radius, 0.25rem);
		padding-right: var(--cs-input-number-custom-data-width, 0.75rem);

		&.cs-input-number-hide-spinner-true {
			-moz-appearance: textfield;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}

		&:disabled,
		&:read-only {
			pointer-events: none;
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}
		}

		&:read-only:focus-visible {
			@include css4 {
				box-shadow: 0 0 0.1875rem cvar(--cs-input-shadow);
			}
		}

		&.cs-input-number-error-tooltip {
			padding-right: calc(var(--cs-input-number-custom-data-width, 0.5rem) + 1.25rem);
		}
	}

	// Version
	.component-version-input .version-preview {
		overflow: visible;
	}

	.cs-custom-data-wrapper {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
