// CS Input Textarea
//
// CS textarea input component.
.cs-textarea-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;

	.cs-textarea {
		@include input;
		padding: 0.5rem 0.75rem;
		line-height: 1.5;
		resize: vertical;
		height: 5rem;
		max-height: var(--max-height, 100%);

		//Square
		&.cs-textarea-square {
			border-radius: 0;
		}

		&:disabled {
			resize: none;
		}

		&:read-only {
			height: auto;
		}
	}

	.cs-input-error-msg {
		@include error-message;
	}
}

// Version
.component-version-textarea .version-preview {
	overflow: visible;
}
