/* CS Tooltip */
.cs-tooltip-root {
	display: contents;
}

.cs-tooltip {
	border-radius: 0.25rem;
	display: none;
	flex-direction: column;
	font-size: 0.75rem;
	width: var(--cs-tooltip-width, max-content, auto); // auto fallback for safari
	max-width: var(--cs-tooltip-max-width, var(--cs-tooltip-width, 20rem));
	height: var(--cs-tooltip-height, auto);
	max-height: var(--cs-tooltip-max-height);
	min-height: 2rem;
	position: fixed;
	transform: translate3d(0, 0, 0); // Fix safari text blur
	z-index: var(--z-index-tooltip);
	outline: 0;
	white-space: normal;

	&.cs-tooltip-overflow-auto .cs-tooltip-body {
		overflow: auto;
	}

	.cs-tooltip-body {
		text-align: left;
		word-break: break-word;
		padding: var(--cs-tooltip-padding, 0 0.75rem 0.5rem);
		flex: 1;

		&:only-child {
			padding: var(--cs-tooltip-padding, 0.5rem 0.75rem);
		}

		&:first-child:not(:only-child) {
			padding: var(--cs-tooltip-padding, 0.5rem 0.75rem);
		}
	}

	&.cs-tooltip-info {
		@include sbg(--cs-tooltip-info-bg);
		@include sc(--cs-tooltip-info-c);

		&::before {
			@include css4 {
				border-bottom-color: cvar(--cs-tooltip-info-bg);
			}
		}
	}

	&.cs-tooltip-warning {
		@include sbg(--cs-tooltip-warning-bg);
		@include sc(--cs-tooltip-warning-c);

		&::before {
			@include css4 {
				border-bottom-color: cvar(--cs-tooltip-warning-bg);
			}
		}
	}

	&.cs-tooltip-error {
		@include sbg(--cs-tooltip-error-bg);
		@include sc(--cs-tooltip-error-c);

		&::before {
			@include css4 {
				border-bottom-color: cvar(--cs-tooltip-error-bg);
			}
		}
	}

	&.cs-tooltip-success {
		@include sbg(--cs-tooltip-success-bg);
		@include sc(--cs-tooltip-success-c);

		&::before {
			@include css4 {
				border-bottom-color: cvar(--cs-tooltip-success-bg);
			}
		}
	}

	&.cs-tooltip-basic {
		@include sbg(--cs-tooltip-basic-bg);
		@include css4 {
			box-shadow: 0 1px 3px 0 cvar(--cs-shadow-medium);
		}
		&::before {
			@include css4 {
				border-bottom-color: cvar(--cs-tooltip-basic-bg);
				box-shadow: -2px 2px 3px -1px var(--cs-shadow-light);
			}
		}
	}

	&::before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-bottom: 0.75rem solid;
		@include css4 {
			border-right: 0.75rem solid cvar(--cs-transparent);
		}
	}

	// After is used as a space between tooltip wrapper and popup so that popup can be hovered
	// Each position variant has a different top/bottom/left/right position and calculation for height / width
	// Calculation is conditioned on height / width of tooltip wrapper and offset of popup that is set in setTooltipPosition() function
	&::after {
		content: "";
		position: absolute;
	}

	&.cs-tooltip-bottom-right {
		&::before {
			left: 1.125rem;
			top: -0.3125rem;
			transform: rotate(135deg);
		}

		&::after {
			left: 0;
			top: calc(-0.5rem - 1px);
			height: calc(0.5rem + 1px);
			width: Min(calc(var(--cs-tw-dimension) / 2 + 1.5rem), 100%);
		}
	}

	&.cs-tooltip-bottom-left {
		&::before {
			top: -0.3125rem;
			right: 1.125rem;
			transform: rotate(135deg);
		}

		&::after {
			right: 0;
			top: calc(-0.5rem - 1px);
			height: calc(0.5rem + 1px);
			width: Min(calc(var(--cs-tw-dimension) / 2 + 1.5rem), 100%);
		}
	}

	&.cs-tooltip-bottom-center {
		&::before {
			left: calc(50%);
			top: -0.3125rem;
			transform: translateX(-50%) rotate(135deg);
		}

		&::after {
			left: 50%;
			transform: translateX(-50%);
			top: calc(-0.5rem - 1px);
			height: calc(0.5rem + 1px);
			width: Min(var(--cs-tw-dimension), 100%);
		}
	}

	&.cs-tooltip-top-right {
		&::before {
			left: 1.125rem;
			bottom: -0.3125rem;
			transform: rotate(-45deg);
		}

		&::after {
			left: 0;
			bottom: calc(-0.5rem - 1px);
			height: calc(0.5rem + 1px);
			width: Min(calc(var(--cs-tw-dimension) / 2 + 1.5rem), 100%);
		}
	}

	&.cs-tooltip-top-left {
		&::before {
			right: 1.125rem;
			bottom: -0.3125rem;
			transform: rotate(-45deg);
		}

		&::after {
			right: 0;
			bottom: calc(-0.5rem - 1px);
			height: calc(0.5rem + 1px);
			width: Min(calc(var(--cs-tw-dimension) / 2 + 1.5rem), 100%);
		}
	}

	&.cs-tooltip-top-center {
		&::before {
			left: calc(50%);
			bottom: -0.3125rem;
			transform: translateX(-50%) rotate(-45deg);
		}

		&::after {
			left: 50%;
			transform: translateX(-50%);
			bottom: calc(-0.5rem - 1px);
			height: calc(0.5rem + 1px);
			width: Min(var(--cs-tw-dimension), 100%);
		}
	}

	&.cs-tooltip-right-top {
		&::before {
			left: -0.3125rem;
			bottom: 0.5rem;
			transform: rotate(45deg);
		}

		&::after {
			left: calc(-0.5rem - 1px);
			bottom: 0;
			width: calc(0.5rem + 1px);
			height: Min(calc(var(--cs-tw-dimension) / 2 + 1rem - 2px), 100%);
		}
	}

	&.cs-tooltip-right-bottom {
		&::before {
			left: -0.3125rem;
			top: 0.5rem;
			transform: rotate(45deg);
		}

		&::after {
			left: calc(-0.5rem - 1px);
			top: 0;
			width: calc(0.5rem + 1px);
			height: Min(calc(var(--cs-tw-dimension) / 2 + 1rem - 2px), 100%);
		}
	}

	&.cs-tooltip-right-center {
		&::before {
			left: -0.3125rem;
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}

		&::after {
			bottom: 50%;
			transform: translateY(50%);
			left: calc(-0.5rem - 1px);
			width: calc(0.5rem + 1px);
			height: Min(var(--cs-tw-dimension), 100%);
		}
	}

	&.cs-tooltip-left-top {
		&::before {
			right: -0.3125rem;
			bottom: 0.5rem;
			transform: rotate(-135deg);
		}

		&::after {
			right: calc(-0.5rem - 1px);
			bottom: 0;
			width: calc(0.5rem + 1px);
			height: Min(calc(var(--cs-tw-dimension) / 2 + 1rem - 2px), 100%);
		}
	}

	&.cs-tooltip-left-bottom {
		&::before {
			right: -0.3125rem;
			top: 0.5rem;
			transform: rotate(-135deg);
		}

		&::after {
			right: calc(-0.5rem - 1px);
			top: 0;
			width: calc(0.5rem + 1px);
			height: Min(calc(var(--cs-tw-dimension) / 2 + 1rem - 2px), 100%);
		}
	}

	&.cs-tooltip-left-center {
		&::before {
			right: -0.3125rem;
			top: 50%;
			transform: translateY(-50%) rotate(-135deg);
		}

		&::after {
			bottom: 50%;
			transform: translateY(50%);
			right: calc(-0.5rem - 1px);
			width: calc(0.5rem + 1px);
			height: Min(var(--cs-tw-dimension), 100%);
		}
	}

	&.cs-tooltip-with-header {
		flex-direction: column;
		padding: 0;

		.cs-tooltip-header {
			padding: 0.5rem 0.75rem;
			border-radius: 0.25rem 0.25rem 0 0;
			font-size: 1.0625rem;
			text-align: left;
			word-break: break-word;

			+ .cs-tooltip-body {
				padding: var(--cs-tooltip-padding, 0.5rem 0.75rem);
			}
		}

		.cs-tooltip-body {
			border-radius: 0;
			font-size: 0.8125rem;
			word-wrap: break-word;
			margin-block-start: 0;
			@include sbg(--cs-tooltip-body-bg);
			@include sc(--cs-tooltip-body-c);
			@include css4 {
				box-shadow: 0 2px 3px 0 cvar(--cs-shadow-medium);
			}

			&:last-child {
				border-radius: 0 0 0.25rem 0.25rem;
			}
		}

		&.cs-tooltip-top-left::before,
		&.cs-tooltip-top-right::before,
		&.cs-tooltip-top-center::before {
			border-style: solid;
			border-width: 8px 8px 0 8px;
			top: 100%;
			transform: rotate(0deg);
			@include sbg(--cs-transparent);
			@include css4 {
				border-color: cvar(--cs-tooltip-body-bg) cvar(--cs-transparent)
					cvar(--cs-transparent) cvar(--cs-transparent);
				filter: drop-shadow(0px 2px 1px cvar(--cs-shadow-medium));
			}
		}

		&.cs-tooltip-top-center::before {
			transform: translate(-50%) rotate(0deg);
		}

		&.cs-tooltip-top-left::before {
			right: 1rem;
		}

		&.cs-tooltip-top-right::before {
			left: 1rem;
		}

		&.cs-tooltip-info {
			.cs-tooltip-header {
				@include sbg(--cs-tooltip-info-bg);
				@include sc(--cs-tooltip-info-c);
			}

			&.cs-tooltip-bottom-left::before,
			&.cs-tooltip-bottom-right::before,
			&.cs-tooltip-right-bottom::before,
			&.cs-tooltip-left-bottom::before {
				@include sbg(--cs-tooltip-info-bg);
				@include css4 {
					border-bottom-color: cvar(--cs-tooltip-info-bg);
				}
			}
		}

		&.cs-tooltip-warning {
			.cs-tooltip-header {
				@include sbg(--cs-tooltip-warning-bg);
				@include sc(--cs-tooltip-warning-c);
			}

			&.cs-tooltip-bottom-left::before,
			&.cs-tooltip-bottom-right::before,
			&.cs-tooltip-right-bottom::before,
			&.cs-tooltip-left-bottom::before {
				@include sbg(--cs-tooltip-warning-bg);
				@include css4 {
					border-bottom-color: cvar(--cs-tooltip-warning-bg);
				}
			}
		}

		&.cs-tooltip-error {
			.cs-tooltip-header {
				@include sbg(--cs-tooltip-error-bg);
				@include sc(--cs-tooltip-error-c);
			}

			&.cs-tooltip-bottom-left::before,
			&.cs-tooltip-bottom-right::before,
			&.cs-tooltip-right-bottom::before,
			&.cs-tooltip-left-bottom::before {
				@include sbg(--cs-tooltip-error-bg);
				@include css4 {
					border-bottom-color: cvar(--cs-tooltip-error-bg);
				}
			}
		}

		&.cs-tooltip-success {
			.cs-tooltip-header {
				@include sbg(--cs-tooltip-success-bg);
				@include sc(--cs-tooltip-success-c);
			}

			&.cs-tooltip-bottom-left::before,
			&.cs-tooltip-bottom-right::before,
			&.cs-tooltip-right-bottom::before,
			&.cs-tooltip-left-bottom::before {
				@include sbg(--cs-tooltip-success-bg);
				@include css4 {
					border-bottom-color: cvar(--cs-tooltip-success-bg);
				}
			}
		}

		&.cs-tooltip-basic .cs-tooltip-header {
			@include css4 {
				border-bottom: 1px solid cvar(--cs-tooltip-basic-br);
			}
		}

		&.cs-tooltip-right-center::before,
		&.cs-tooltip-right-top::before {
			@include css4 {
				border-bottom-color: cvar(--cs-tooltip-header-bg);
				filter: drop-shadow(0px 2px 1px cvar(--cs-shadow-medium));
			}
		}

		&.cs-tooltip-left-center::before,
		&.cs-tooltip-left-top::before {
			@include css4 {
				border-bottom-color: cvar(--cs-tooltip-header-bg);
				filter: drop-shadow(-2px 1px 1px cvar(--cs-shadow-medium));
			}
		}
	}
}

.cs-tooltip-wrapper {
	align-items: center;
	display: flex;
	position: relative;
	outline: 0;
	width: max-content;
	height: max-content;

	&:hover > .cs-tooltip,
	&:focus > .cs-tooltip {
		display: flex;
	}

	> .cs-tooltip-icon {
		cursor: pointer;

		&.cs-icon-small {
			width: 0.875rem;
			height: 0.875rem;
		}

		&.cs-icon-medium {
			width: 1rem;
			height: 1rem;
		}
	}

	&.cs-tw-info {
		> .cs-tooltip-icon {
			@include sf(--cs-tooltip-icon-info);
		}

		&:hover > .cs-tooltip-icon,
		&:focus > .cs-tooltip-icon {
			@include sf(--cs-tooltip-info-hover-c);
		}
	}

	&.cs-tw-warning {
		> .cs-tooltip-icon {
			@include sf(--cs-tooltip-warning-bg);
		}

		&:hover > .cs-tooltip-icon,
		&:focus > .cs-tooltip-icon {
			@include fd(var(--cs-tooltip-warning-bg), 0.3);
		}
	}

	&.cs-tw-error {
		> .cs-tooltip-icon {
			@include sf(--cs-tooltip-error-bg);
		}

		&:hover > .cs-tooltip-icon,
		&:focus > .cs-tooltip-icon {
			@include fd(var(--cs-tooltip-error-bg), 0.3);
		}
	}
	&.cs-tw-success {
		> .cs-tooltip-icon {
			@include sf(--cs-tooltip-success-bg);
		}

		&:hover > .cs-tooltip-icon,
		&:focus > .cs-tooltip-icon {
			@include fd(var(--cs-tooltip-sucess-bg), 0.3);
		}
	}

	&.cs-tw-basic {
		> .cs-tooltip-icon {
			@include sf(--cs-tooltip-basic-fill);
		}

		&:hover > .cs-tooltip-icon,
		&:focus > .cs-tooltip-icon {
			@include fd(--cs-tooltip-basic-fill, 0.5);
		}
	}

	&.cs-tw-icon-c {
		> .cs-tooltip-icon {
			@include sf(--cs-icon-c);
		}

		&:hover > .cs-tooltip-icon,
		&:focus > .cs-tooltip-icon {
			@include fd((--cs-icon-c), 0.3);
		}
	}

	&.cs-tooltip-style-position-fixed .cs-tooltip {
		display: flex;
	}

	// Style position absolute
	&.cs-tooltip-style-position-absolute {
		.cs-tooltip {
			--cs-tw-dimension: 100%; // Workaround for space on ::after absolute position. It's not perfect but good enough.
			position: absolute;
			width: var(--cs-tooltip-width, max-content);

			&.cs-tooltip-bottom-right {
				top: calc(100% + 0.5rem);
				left: calc(50% - 1.5rem);
			}

			&.cs-tooltip-bottom-left {
				top: calc(100% + 0.5rem);
				right: calc(50% - 1.5rem);
			}

			&.cs-tooltip-bottom-center {
				top: calc(100% + 0.5rem);
				left: 50%;
				transform: translateX(-50%);
			}

			&.cs-tooltip-top-right {
				bottom: calc(100% + 0.5rem);
				left: calc(50% - 1.5rem);
			}

			&.cs-tooltip-top-left {
				bottom: calc(100% + 0.5rem);
				right: calc(50% - 1.5rem);
			}

			&.cs-tooltip-top-center {
				bottom: calc(100% + 0.5rem);
				left: 50%;
				transform: translateX(-50%);
			}

			&.cs-tooltip-right-top {
				bottom: calc(50% - 1rem);
				left: calc(100% + 0.5rem);
			}

			&.cs-tooltip-right-bottom {
				top: calc(50% - 1rem);
				left: calc(100% + 0.5rem);
			}

			&.cs-tooltip-right-center {
				top: 50%;
				transform: translateY(-50%);
				left: calc(100% + 0.5rem);
			}

			&.cs-tooltip-left-top {
				bottom: calc(50% - 1rem);
				right: calc(100% + 0.5rem);
			}

			&.cs-tooltip-left-bottom {
				top: calc(50% - 1rem);
				right: calc(100% + 0.5rem);
			}

			&.cs-tooltip-left-center {
				top: 50%;
				transform: translateY(-50%);
				right: calc(100% + 0.5rem);
			}
		}
	}
}
