.cs-tree {
	display: flex;
	flex-direction: column;

	.cs-tree-group {
		display: flex;
		flex-direction: column;
	}

	.cs-tree-item-wrapper {
		display: flex;
		flex-direction: column;

		&:focus-visible {
			outline: none;
		}

		&:focus-visible > .cs-tree-item {
			@include sbg(--cs-tree-item-focus-bg);
			@include css4 {
				border-left-color: cvar(--cs-tree-item-focus-br);
			}

			&:hover {
				@include sbg(--cs-tree-item-hover-bg);
			}
		}
	}

	.cs-tree-item {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0.5rem 0.5rem 0.5rem var(--cs-tree-item-offset, 1rem);
		min-height: var(--cs-tree-item-height, 2.25rem);
		cursor: pointer;
		transition: all 100ms ease-in-out;
		border-left: 0.25rem solid transparent;
		@include sbg(--cs-tree-item-bg);

		&:hover {
			@include sbg(--cs-tree-item-hover-bg);
		}

		&:focus-within {
			@include sbg(--cs-tree-item-focus-bg);

			&:hover {
				@include sbg(--cs-tree-item-hover-bg);
			}
		}
	}

	.cs-tree-item-active {
		& > .cs-tree-item {
			@include sbg(--cs-tree-item-active-bg);
			@include css4 {
				border-left-color: cvar(--cs-tree-item-active-br);
			}

			&:hover,
			&:focus-within {
				@include sbg(--cs-tree-item-active-hover-bg);
			}
		}

		&:focus-visible > .cs-tree-item {
			@include sbg(--cs-tree-item-active-hover-bg);
		}
	}

	.cs-tree-item-content {
		flex: 1;
		align-items: center;
		font-size: 0.8125rem;
		@include overflow-ellipsis;
		@include sc(--cs-tree-item-c);
	}

	.cs-tree-item-overflow > .cs-tree-item > .cs-tree-item-content {
		overflow: visible;
		text-overflow: initial;
		white-space: normal;
	}

	.cs-tree-collapse-button {
		position: absolute;
		left: -2rem;
		margin-left: var(--cs-tree-item-offset, 0);
	}

	.cs-tree-checkbox {
		display: none;
		padding-right: 0.75rem;
		min-width: 1.75rem;
	}

	&.cs-tree-selectable .cs-tree-checkbox {
		display: block;
	}

	.cs-tree-item-actions-on-hover > .cs-tree-item > .cs-tree-actions {
		display: none;
	}

	.cs-tree-item-actions-on-hover:focus-visible,
	.cs-tree-item-actions-on-hover:focus-within,
	.cs-tree-item-actions-on-hover:hover {
		& > .cs-tree-item {
			& > .cs-tree-actions {
				display: flex;
			}

			& > .cs-tree-actions-show-more {
				display: none;
			}
		}
	}
}

