.cs-picklist-wrapper {
	display: flex;
	flex-direction: column;
	@include input-wrapper;
	@include invisible-input;

	.cs-picklist-input-wrapper {
		&:focus-within .cs-blinking-cursor { // Hide blinking cursor on input focus because native input blinking cursor is shown
			display: none;
		}

		.cs-picklist-items {
			position: relative;
			display: flex;
			align-items: center;
			overflow: hidden;
			width: 100%;
			max-width: 100%;
			padding-left: 0.5rem;
			padding-right: 0.25rem;

			.cs-picklist-input {
				min-width: 2rem;
				padding: 0;
			}
		}

		&.cs-input-wrapper-read-only {
			.cs-picklist-items {
				padding-left: 0;
			}
			.cs-picklist-value-wrapper {
				cursor: auto;
				width: 100%;
			}
		}
	}

	.cs-picklist-value-wrapper {
		position: relative;
		align-self: center;
		font-size: 0.8125rem;
		line-height: normal;
		@include overflow-ellipsis;

		.cs-picklist-value {
			@include sc(--cs-input-c);
		}
	}

	.cs-input-type-indicator-icon {
		margin-right: 0.5rem;
		transition: transform 200ms ease-in-out;
	}

	&.cs-picklist-dropdown-visible {
		.cs-picklist-value-wrapper {
			position: absolute;
			left: 0.5rem;
			right: 0;
		}

		.cs-blinking-cursor {
			position: absolute;

			&:after {
				left: 0.5rem;
			}
		}

		.cs-picklist-value {
			@include sc(--cs-selected-input-option-c);
		}
	}

	&.cs-picklist-multiselect {
		.cs-picklist-items {
			flex-wrap: wrap;
			padding-left: 0.25rem;

			.cs-blinking-cursor {
				position: relative;

				&:after {
					left: 0.25rem;
				}
			}

			.cs-picklist-input {
				padding-left: 0.25rem;
				min-height: 1.5rem;
				height: 1.5rem;
			}

			.cs-picklist-multiselect-item {
				display: inline-flex;
				align-items: center;
				font-size: 0.8125rem;
				min-width: 2.25rem;
				height: 1.375rem;
				border-radius: 0.25rem;
				padding: 0 0.25rem 0 0.5rem;
				margin: 0.125rem 0.25rem 0.125rem 0;
				z-index: var(--z-index-picklist-values);
				@include sbg(--cs-option-ms-item-selected-bg);
				@include css4 {
					border: 1px solid cvar(--cs-option-ms-item-selected-br);
				}

				&:hover {
					@include sbg(--cs-option-ms-item-selected-hover);
				}

				&:focus-within {
					outline: 0;
					@include css4 {
						border: 1px solid cvar(--cs-option-ms-item-selected-focus);
						box-shadow: 0 0 3px cvar(--cs-option-ms-item-selected-shadow);
					}
				}

				&:last-of-type {
					margin-right: 0;
				}

				.cs-picklist-multiselect-item-value {
					line-height: normal;
					@include overflow-ellipsis;
					@include sc(--cs-input-c);
				}
			}
		}
	}
}

/* PICKLIST DROPDOWN STYLES */
.cs-picklist-dropdown-wrapper {
	width: 100%;

	.cs-picklist-dropdown {
		border-radius: 0.25rem;
		font-size: 0.8125rem;
		list-style: none;
		max-height: 15rem;
		overflow-y: auto;
		scroll-snap-type: y proximity;
		padding: 0.25rem 0;
		@include sbg(--cs-picklist-dropdown-bg);
		@include css4 {
			border: 1px solid cvar(--cs-picklist-dropdown-br);
			box-shadow: 0 2px 3px 0 cvar(--cs-picklist-dropdown-shadow);
		}

		&:not(:only-child) {
			border-bottom: none;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.cs-picklist-no-data {
			display: flex;
			align-items: center;
			padding: 0.5rem;

			.cs-picklist-no-data-text {
				@include sc(--cs-picklist-no-data-c);
				margin-left: 0.5rem;
			}
		}

		.cs-picklist-option {
			cursor: pointer;
			padding: 0.5rem 0.75rem;
			outline: 0;
			display: flex;
			transition: all 100ms ease-in-out;
			scroll-snap-align: end;
			scroll-margin-bottom: 2rem;

			&:hover,
			&:focus {
				@include sbg(--cs-picklist-dropdown-hover-bg);
			}

			&.cs-picklist-option-selected {
				@include sbg(--cs-option-list-item-selected-bg);

				&:hover,
				&:focus {
					@include bgd(--cs-option-list-item-selected-bg, 0.02);
				}
			}

			> svg {
				margin-right: 0.5rem;
			}

			.cs-picklist-option-value {
				@include overflow-ellipsis;
			}

			.cs-picklist-option-check-icon {
				display: flex;
				justify-content: center;
				width: 1.5rem;
				margin-right: 0.25rem;
			}
		}
	}

	.cs-picklist-dropdown-action-wrapper {
		.cs-picklist-dropdown-action {
			width: 100%;

			&:before {
				border-radius: 0 0 0.25rem 0.25rem;
			}

			&:after {
				border-radius: 0 0 0.25rem 0.25rem;
				border: 1px solid cvar(--cs-picklist-dropdown-br);
			}

			&:not(:last-child):not(:only-child):before,
			&:not(:last-child):not(:only-child):after {
				border-radius: 0;
				border-bottom: none;
			}

			&:hover,
			&:focus {
				&:before {
					@include sbg(--cs-picklist-dropdown-hover-bg);
				}

				&:after {
					box-shadow: none;
				}
			}
		}
	}
}
