.cs-modal-root {
	display: contents;
}

.cs-modal-overlay {
	@include sbg(--transparent);
	z-index: var(--z-index-modal);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;

	&:last-child {
		@include sbg(--cs-modal-wrapper-bg);
	}
}

.cs-modal-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	.cs-modal {
		position: relative;
		transform: translate(0);
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: 100%;
		padding: 2rem 2rem 4.5rem;
		border-radius: 0.25rem;
		margin: 0 auto;
		box-sizing: border-box;

		.cs-modal-content {
			max-height: 100%;
			overflow: hidden;
			position: relative;
			display: flex;
			flex-direction: column;
			@include css4 {
				box-shadow: 5px 5px 20px 0 cvar(--cs-modal-box);
			}

			> :first-child {
				border-top-right-radius: 0.25rem;
				border-top-left-radius: 0.25rem;
			}

			> :last-child {
				border-bottom-right-radius: 0.25rem;
				border-bottom-left-radius: 0.25rem;
			}

			> .cs-spinner-wrapper {
				border-radius: 0.25rem;
			}

			&.cs-modal-loading {
				> :nth-last-child(2) {
					border-bottom-right-radius: 0.25rem;
					border-bottom-left-radius: 0.25rem;
				}
			}
		}

		&.cs-modal-no-close-btn {
			padding: 2rem;
		}

		.cs-modal-close {
			width: 2rem;
			height: 2rem;
			align-self: flex-end;
			padding: 0.1825rem;
			margin-right: -0.5rem;
			margin-bottom: 0.5rem;
			background-clip: border-box;
			border-radius: 0.25rem;
			-webkit-appearance: none;
			white-space: normal;
			cursor: pointer;
			@include sbg(--transparent-bg);
			@include css4 {
				border: 1px solid cvar(--cs-transparent);
			}

			.cs-icon {
				width: 1.5rem;
				height: 1.5rem;
				@include sf(--cs-modal-close-fill);
			}

			&:hover .cs-icon {
				@include sf(--cs-modal-close-hover-fill);
			}

			&:focus {
				outline: none;
				@include css4 {
					box-shadow: 0 0 3px cvar(--cs-modal-close-focus-box);
					border: 1px solid cvar(--cs-modal-close-focus-br);
				}
			}

			&:active .cs-icon {
				@include sf(--cs-modal-close-active-fill);
			}
		}

		.cs-modal-header {
			position: relative;
			padding: 1rem;
			text-align: center;
			flex-shrink: 0;
			@include sbg(--cs-modal-bg);
			@include sc(--cs-modal-c);
			@include css4 {
				border-bottom: 1px solid cvar(--cs-modal-br);
			}

			.cs-modal-header-title {
				display: block;
				font-weight: $font-weight-normal;
				font-size: 1.25rem;
				line-height: 1.25;
				margin: 0;
			}

			.cs-modal-header-subtitle {
				display: block;
				font-weight: $font-weight-normal;
				font-size: 0.8125rem;
				line-height: 1;
				margin: 0;
				@include sc(--cs-modal-c-alt);
			}
		}

		.cs-modal-body {
			font-size: 0.8125rem;
			padding: var(--body-padding, 1rem);
			overflow: hidden;
			overflow-y: auto;
			@include sbg(--cs-modal-bg);
			@include sc(--cs-modal-c);

			p {
				margin: 0;
				padding: 0;
			}
		}

		.cs-modal-footer {
			padding: 0.75rem 1rem;
			display: flex;
			@include sbg(--cs-modal-footer-bg);
			@include css4 {
				border-top: 1px solid cvar(--cs-modal-br);
			}

			&.cs-modal-footer-center {
				justify-content: center;
			}

			&.cs-modal-footer-left {
				justify-content: flex-start;
			}

			&.cs-modal-footer-right {
				justify-content: flex-end;
			}

			> .cs-button {
				margin-right: 0.5rem;

				&:last-of-type {
					margin-right: 0;
				}
			}

			.cs-btn:only-of-type {
				margin: 0;
			}

			.cs-btn:not(:last-of-type) {
				margin-right: 0.5rem;
			}
		}

		&.cs-modal-xsmall {
			max-width: 30rem;
		}

		&.cs-modal-small {
			max-width: 40rem;
		}

		&.cs-modal-medium {
			max-width: 60rem;
		}

		&.cs-modal-large {
			width: 90%;
			max-width: none;
			min-width: 40rem;

			.cs-modal-body {
				min-height: 10rem;
			}
		}

		&.cs-modal-xlarge {
			padding: -0.5rem 2rem 2rem;

			.cs-modal-body {
				flex: 1;
				min-height: 10rem;
			}
		}
	}
}
