/* BUTTON STYLING */
.cs-btn { // Type default, style initial
	display: inline-flex;
	align-items: center;
	position: relative;
	padding: 0 1rem 0 0.25rem;
	height: 2rem;
	font-weight: $font-weight-normal;
	cursor: pointer;
	border-radius: 0.25rem;
	user-select: none;
	border: none;
	background: none;
	@at-root .cs-btn-has-link {
		display: inline-flex;
		text-decoration: none;
	}
	&::before, &::after { // Background and border
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		border-radius: 0.25rem;
		pointer-events: none;
	}
	&::before {
		@include sbg(--cs-button-bg);
		clip-path: inset(1px 1px 1px 1px); // Fix for background overflowing borders
	}
	&::after {
		@include css4 {
			border: 1px solid cvar(--cs-button-br);
		}
	}
	.cs-btn-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: calc(2rem - 2px);
		min-width: 2rem; // IE11 Support
		width: 2rem;
		z-index: $z-index-button-icon;
		.cs-icon {
			height: 1rem;
			width: 1rem;
			transition: transform ease 100ms;
			@include sf(--cs-button-icon-c);
		}
	}
	.cs-btn-label {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: calc(2rem - 2px);
		font-size: 0.8125rem;
		white-space: nowrap;
		z-index: $z-index-button-label;
		@include sc(--cs-button-c);
	}
	&:hover::before {
		@include sbg(--cs-button-hover-bg);
	}
	&:focus {
		outline: none;
		position: relative;
		z-index: $z-index-button;
		&::after {
			@include css4 {
				box-shadow: 0 0 3px cvar(--cs-button-box);
			}
		}
	}
	&:active::after {
		@include css4 {
			border: 1px solid cvar(--cs-button-active-br);
		}
	}
	&[disabled] {
		cursor: default;
	}
	/* ALL BUTTONS PROPERTIES */
	&.cs-btn-round {
		border-radius: 1rem;
		padding: 0 1rem 0 0.5rem; // Padding left needs to be 1rem or icon is cut off unless icon itself having border-radius
		&::before, &::after {
			border-radius: 1rem;
		}
		.cs-btn-icon { // Default left side icon
			border-radius: 1rem 0 0 1rem;
		}
		&.cs-btn-icon-right .cs-btn-icon {
			border-radius: 0 1rem 1rem 0;
		}
	}
	/* ICON POSITION */
	&.cs-btn-icon-right {
		padding: 0 0.5rem 0 1rem;
		.cs-btn-icon {
			order: 1;
		}
	}
	/* ICON DISPLAY */
	&.cs-btn-no-icon {
		padding: 0 1rem;
		.cs-btn-icon {
			display: none;
		}
	}
	&.cs-btn-icon-only {
		justify-content: center;
		min-width: 2rem; // IE11 Support
		padding: 0;
		.cs-btn-icon {
			min-width: calc(2rem - 2px);
			width: calc(2rem - 2px);
			border-radius: 0.25rem;
		}
		.cs-btn-label {
			display: none;
		}
		&:hover .cs-btn-icon {
			@include sf(--cs-button-icon-hover-c);
		}
		&.cs-btn-round .cs-btn-icon {
			border-radius: 1rem;
		}
	}
	/* WIDTH */
	&.cs-btn-max-width {
		display: flex;
		width: 100%;
		padding-right: 1.5rem;
		margin-left: 0;
		.cs-btn-label {
			flex: 1;
			@include overflow-ellipsis;
		}
		&.cs-btn-no-icon {
			padding: 0 1rem;
		}
		&.cs-btn-icon-right {
			padding: 0 0 0 1.5rem;
		}
	}
	/* SIZE */
	&.cs-btn-size-small {
		height: 1.5rem;
		padding: 0 0.75rem 0 0.25rem;
		&.cs-btn-icon-only {
			padding: 0;
			width: 1.5rem;
			min-width: 1.5rem;
		}
		&.cs-btn-no-icon {
			padding: 0 1rem;
		}
		.cs-btn-label, .cs-btn-icon {
			height: calc(1.5rem - 2px);
		}
	}
	&.cs-btn-size-extra-small {
		min-width: 1.25rem;
		height: 1.25rem;
		padding: 0 0.25rem;
		.cs-btn-icon {
			min-width: 1.25rem;
			width: 1.25rem;
			svg {
				height: 0.875rem;
				width: 0.875rem;
			}
		}
		&.cs-btn-icon-only {
			padding: 0;
		}
		.cs-btn-label, .cs-btn-icon {
			height: calc(1.25rem - 2px);
		}
	}
	&.cs-btn-size-large {
		height: 3rem;
		padding: 0 1rem 0 0.5rem;
		&.cs-btn-icon-only {
			padding: 0 0.5rem;
			.cs-btn-icon {
				margin: 0;
			}
		}
		&.cs-btn-no-icon {
			padding: 0 2rem;
		}
		&.cs-btn-icon-right {
			padding: 0 0.5rem 0 2rem;
			.cs-btn-icon {
				margin: 0 0 0 0.5rem;
			}
		}
	}

	/*** BUTTON TYPES ***/
	/* TYPE - DEFAULT */
	&.cs-btn-default {
		/* STYLE - BRAND */
		&.cs-btn-brand {
			&::before {
				@include sbg(--cs-button-brand-bg);
			}
			.cs-btn-label {
				@include sc(--cs-button-inverse-c);
			}
			.cs-btn-icon .cs-icon {
				@include sf(--cs-button-inverse-c);
			}
			&:hover::before {
				@include bgd(--cs-button-brand-bg, 0.15, var(--cs-main-c));
			}
			&:focus::after {
				@include css4 {
					border: 1px solid cvar(--cs-button-c);
				}
			}
			&:active::before {
				@include bgd(--cs-button-brand-bg, 0.25, var(--cs-main-c));
			}
			&[disabled] {
				&::after {
					@include css4 {
						border-color: cvar(--cs-button-br);
					}
				}
				&:hover::before {
					@include sbg(--cs-button-disabled-bg);
				}
			}
		}
		/* STYLE - OUTLINE */
		&.cs-btn-outline {
			&::after {
				@include css4 {
					border: 1px solid cvar(--cs-button-brand-br);
				}
			}
			&:hover::before {
				@include sbg(--cs-button-hover-bg);
			}
			&:active::before {
				@include bgd(--cs-button-hover-bg, 0.02);
			}
		}
	}

	/* TYPE - SUCESS */
	&.cs-btn-success {
		/* STYLE - INITIAL & ALL OTHER */
		.cs-btn-label {
			@include sc(--cs-button-success-c);
		}
		.cs-btn-icon .cs-icon {
			@include sf(--cs-button-success-c);
		}
		&:focus::after {
			@include css4 {
				box-shadow: 0 0 3px cvar(--cs-button-success-box);
			}
		}
		&:active::after {
			@include css4 {
				border: 1px solid cvar(--cs-button-success-br);
			}
		}
		/* STYLE - BRAND */
		&.cs-btn-brand {
			&::before {
				@include sbg(--cs-button-success-brand-bg);
			}
			.cs-btn-label {
				@include sc(--cs-button-inverse-c);
			}
			.cs-btn-icon .cs-icon {
				@include sf(--cs-button-inverse-c);
			}
			&:hover::before {
				@include bgd(--cs-button-success-brand-bg, 0.15);
			}
			&:focus::after {
				@include css4 {
					border: 1px solid cvar(--cs-button-success-br);
					box-shadow: 0 0 3px cvar(--cs-button-success-box);
				}
			}
			&:active::before {
				@include bgd(--cs-button-success-brand-bg, 0.25);
			}
		}
		/* STYLE - OUTLINE */
		&.cs-btn-outline {
			&::after {
				@include css4 {
					border: 1px solid cvar(--cs-button-success-br);
				}
			}
			&:active::before {
				@include bgd(--cs-button-bg, 0.02);
			}
		}
	}

	/* TYPE - ERROR */
	&.cs-btn-error {
		/* STYLE - INITIAL & ALL OTHER */
		.cs-btn-label {
			@include sc(--cs-button-error-c);
		}
		.cs-btn-icon .cs-icon {
			@include sf(--cs-button-error-c);
		}
		&:focus::after {
			@include css4 {
				box-shadow: 0 0 3px cvar(--cs-button-error-box);
			}
		}
		&:active::after {
			@include css4 {
				border: 1px solid cvar(--cs-button-error-br);
			}
		}
		/* STYLE - BRAND */
		&.cs-btn-brand {
			&::before {
				@include sbg(--cs-button-error-bg);
			}
			.cs-btn-label {
				@include sc(--cs-button-inverse-c);
			}
			.cs-btn-icon .cs-icon {
				@include sf(--cs-button-inverse-c);
			}
			&:hover::before {
				@include bgd(--cs-button-error-bg, 0.15);
			}
			&:focus::after {
				@include css4 {
					border: 1px solid cvar(--cs-button-error-br);
				}
			}
			&:active::before {
				@include bgd(--cs-button-error-bg, 0.25);
			}
		}

		/* STYLE - OUTLINE */
		&.cs-btn-outline {
			&::after {
				@include css4 {
					border: 1px solid cvar(--cs-button-error-br);
				}
			}
			&:focus::after {
				@include css4 {
					box-shadow: 0 0 3px cvar(--cs-button-error-box);
				}
			}
			&:active::before {
				@include bgd(--cs-button-bg, 0.02);
			}
		}
	}
	/* TYPE - TRANSPARENT */
	&.cs-btn-transparent {
		&::before {
			@include sbg(--cs-transparent);
		}
		&:hover .cs-btn-label {
			text-decoration: underline;
		}
		/* STYLE - INITIAL */
		&.cs-btn-initial {
			background: none;
			.cs-btn-label {
				@include sc(--cs-button-inverse-c);
			}
			.cs-btn-icon .cs-icon {
				@include sf(--cs-button-inverse-c);
			}
			&::before {
				@include sbg(--cs-transparent);
			}
			&::after {
				@include css4 {
					border: 1px solid cvar(--cs-transparent);
				}
			}
			&:focus::after {
				@include css4 {
					box-shadow: 0 0 3px cvar(--cs-button-transparent-inverse-box);
				}
			}
			&:active::after {
				@include css4 {
					border: 1px solid cvar(--cs-button-white-br);
				}
			}
			&:disabled::after {
				@include css4 {
					border: 1px solid cvar(--cs-transparent);
				}
			}
		}
		/* STYLE - BRAND */
		&.cs-btn-brand {
			&::after {
				@include css4 {
					border: 1px solid cvar(--cs-transparent);
				}
			}
			&:hover {
				@include sbg(--cs-transparent);
			}
			&:active {
				@include sbg(--cs-button-transparent-focus-bg);
			}
			&:disabled::after {
				@include css4 {
					border: 1px solid cvar(--cs-transparent);
				}
			}
		}

		/* STYLE - OUTLINE */
		&.cs-btn-outline {
			.cs-btn-label {
				@include sc(--cs-button-inverse-c);
			}
			.cs-btn-icon .cs-icon {
				@include sf(--cs-button-inverse-c);
			}
			&::before {
				@include sbg(--cs-transparent);
			}
			&::after {
				@include css4 {
					border: 1px solid cvar(--cs-button-inverse-c);
				}
			}
			&:hover::before {
				@include sbg(--cs-button-transparent-inverse-focus-bg);
			}
			&:focus {
				@include css4 {
					box-shadow: 0 0 6px cvar(--cs-button-transparent-inverse-box);
				}
			}
			&:active::before {
				@include sbg(--cs-button-transparent-inverse-focus-bg);
			}
		}
	}

	/*** DISABLED STATES ***/
	/* DISABLED STATE FOR ALL TYPES OF STYLE BRAND */
	&.cs-btn-brand[disabled][disabled] {
		.cs-btn-label {
			@include sc(--cs-button-inverse-c);
		}
		&::before {
			filter: brightness(1);
			@include sbg(--cs-button-disabled-bg);
		}
		&::after {
			@include css4 {
				border-color: cvar(--cs-button-br);
			}
		}
		&:focus::after {
			@include css4 {
				border: 1px solid cvar(--cs-button-br);
			}
		}
	}

	/* DISABLED STATE FOR ALL TYPES OF STYLE OUTLINE */
	&.cs-btn-outline[disabled][disabled] {
		.cs-btn-label {
			@include sc(--cs-button-disabled-c);
		}
		.cs-btn-icon .cs-icon {
			@include sf(--cs-button-disabled-c);
		}
		&::before {
			filter: brightness(1);
			@include sbg(--cs-button-bg);
		}
		&::after {
			@include css4 {
				border-color: cvar(--cs-button-br);
			}
		}
	}
	/* DISABLED STATE FOR ALL TYPES OF STYLE INITIAL */
	&.cs-btn-initial[disabled][disabled] {
		.cs-btn-label {
			@include sc(--cs-button-disabled-c);
		}
		.cs-btn-icon .cs-icon {
			@include sf(--cs-button-disabled-c);
		}
		&::before {
			@include sbg(--cs-button-bg);
		}
		&::after {
			@include css4 {
				border-color: cvar(--cs-button-br);
			}
		}
	}

	/* DISABLED STATE FOR ALL TRANSPARENT TYPES */
	&.cs-btn-transparent[disabled][disabled] {
		box-shadow: none;
		opacity: 0.75;
		.cs-btn-label {
			@include sc(--cs-button-disabled-c);
		}
		.cs-btn-icon .cs-icon {
			@include sf(--cs-button-disabled-c);
		}
		&:active {
			@include sbg(--cs-transparent);
		}
		&::before {
			@include sbg(--cs-transparent);
		}
		&::after {
			@include css4 {
				border-color: cvar(--cs-transparent);
			}
		}
		&:hover {
			.cs-btn-label {
				text-decoration: none;
			}
			&::before {
				@include sbg(--cs-transparent);
			}
		}
		&.cs-btn-brand, .cs-btn-outline {
			opacity: 0.75; // Revise design
		}
	}
}

/* CSBUTTONGROUP COMPONENT */
.cs-btn-group {
	display: inline-flex;
	margin: 0.25rem 0.1875rem;
	.cs-btn {
		margin: 0;
		margin-left: -1px;
		&::after {
			border-radius: 0;
		}
		&:first-child::after {
			border-top-left-radius: 0.25rem;
			border-bottom-left-radius: 0.25rem;
		}
		&:last-child::after {
			border-top-right-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;
		}
	}
}

/* CSBUTTONDROPDOWN COMPONENT */
.cs-btn-dropdown-wrapper {
	position: relative;
	display: inline-flex;

	.cs-btn-dropdown-item-wrapper {
		position: absolute;
		width: auto;
		min-width: 6rem;
		height: auto;
		display: flex;
		flex-direction: column;
		top: calc(100% + 0.25rem);
		border-radius: 0.25rem;
		padding: 0.25rem 0;
		@include sbg(--cs-button-bg);
		@include css4 {
			border: 1px solid cvar(--cs-button-br);
		}

		.cs-btn {
			display: flex;
			flex-direction: row;
			border-radius: 0;

			.cs-btn-label {
				font-size: 0.75rem;
			}

			&::after {
				border-radius: 0;
				@include css4 {
					border: 1px solid cvar(--cs-transparent);
				}
			}

			&:active::after {
				@include css4 {
					border: 1px solid cvar(--cs-button-active-br);
				}
			}

			&:disabled::after {
				@include css4 {
					border: 1px solid cvar(--cs-transparent);
				}
			}
		}

		&.cs-btn-dropdown-left {
			left: 0;
		}

		&.cs-btn-dropdown-right {
			right: 0;
		}
	}
}
