.cs-tab-group {
	display: flex;
	align-items: flex-start;
	width: 100%;
	@include css4 {
		border-bottom: 1px solid cvar(--cs-tab-br);
	}

	nav ol {
		display: flex;
		flex-wrap: wrap;
	}

	.cs-tab-wrapper {
		display:flex;
		align-items: center;
		line-height: 2.5rem;
		margin-bottom: -1px;
		font-size: 0.8125rem;
		@include overflow-ellipsis;

		.cs-tab {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			position: relative;
			background: none;
			border: none;
			width: var(--cs-tab-width, auto);
			height: 2.5rem;
			cursor: pointer;
			padding: 0.75rem 1rem;
			outline: none;
			text-decoration: none;
			@include sc(--cs-tab-c);

			.cs-tab-name {
				font-size: 0.8125rem;
				@include overflow-ellipsis;

				&:not(:first-child) {
					margin-left: 0.5rem;
				}
			}

			&::after {
				display: block;
				content: "";
				bottom: 0;
				left: 0;
				right: 0;
				height: 0;
				position: absolute;
				transition: height 0.2s ease;
			}

			&:hover::after {
				height: 0.125rem;
				@include sbg(--cs-tab-hover-br);
			}

			&:focus-visible {
				text-decoration: underline;
			}

			&:active {
				@include bgd(--cs-tab-active-bg, 0.02);
			}

			&:disabled {
				pointer-events: none;
				cursor: default;
				@include sc(--cs-tab-disabled-c);
				.cs-icon {
					@include sf(--cs-tab-disabled-c)
				}
			}
		}

		&-error {
			.cs-icon {
				@include sf(--cs-tab-error-fill);
			}
			.cs-tab:hover::after {
				@include sbg(--cs-tab-error-br);
			}
		}

		&-warning {
			.cs-icon {
				@include sf(--cs-tab-warning-fill);
			}
			.cs-tab:hover::after {
				@include sbg(--cs-tab-warning-br);
			}
		}

		&-success {
			.cs-icon {
				@include sf(--cs-tab-success-fill);
			}
			.cs-tab:hover::after {
				@include sbg(--cs-tab-success-br);
			}
		}

		&.cs-tab-active {
			@include sc(--cs-tab-active-c);
			cursor: default;
			.cs-tab {
				&::after {
					height: 0.1875rem;
					@include sbg(--cs-tab-active-br);
				}
				&:disabled::after {
					@include sbg(--cs-tab-disabled-c);
				}
				&:hover::after {
					@include sbg(--cs-tab-active-br);
				}
				> .cs-icon {
					@include sf(--cs-tab-active-br)
				}
			}
		}

		&-normal {
			height: 2.5rem;
			&.cs-tab-active {
				.cs-tab {
					font-weight: $font-weight-bold;
				}
			}
		}

		&-large {
			height: 2.875rem;
			@include css4 {
				border-right: 1px solid cvar(--cs-tab-br);
				border-bottom: 1px solid cvar(--cs-tab-br);
				border-top: 1px solid cvar(--cs-tab-br);
			}

			&:first-of-type {
				@include css4 {
					border-left: 1px solid cvar(--cs-tab-br);
				}
			}

			.cs-tab {
				height: 2.875rem;

				&::after {
					top: 1px;
				}

				&:hover {
					@include sbg(--cs-tab-active-bg);
				}
			}

			&.cs-tab-active {
				.cs-tab {
					@include sbg(--cs-tab-active-bg);
				}
			}
		}
	}
}