.cs-icon {
	height: var(--cs-icon-size, 1rem);
	width: var(--cs-icon-size, 1rem);
	min-width: var(--cs-icon-size, 1rem);
	transform: rotate(var(--cs-icon-rotate, 0deg));
	@include sf(--cs-icon-c);
}

.cs-icon-frame {
	border-radius: 0.25rem;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: var(--cs-icon-size, 1rem);
	width: var(--cs-icon-size, 1rem);
	min-width: var(--cs-icon-size, 1rem);
	@include sbg(--cs-icon-c);

	.cs-icon {
		height: 65%;
		width: 65%;
		min-width: 65%;
		@include sf(--cs-icon-frame-c);
	}
}

.cs-icon.cs-icon-spin,
.cs-icon-frame.cs-icon-spin {
	animation-name: spin;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}