.cs-input-number-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	@include input-wrapper;
	@include invisible-input;


	.cs-input-number-wrapper-inner {
		position: relative;
	}

	.cs-input-number {
		&.cs-input-number-hide-spinner-true {
			-moz-appearance: textfield;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
}
