// CS Tooltip
//
// CS tooltip component.

.cs-tooltip {
	border-radius: 0.25rem;
	display: none;
	flex-direction: column;
	font-size: 0.75rem;
	width: max-content;
	max-width: 20rem;
	min-height: 2rem;
	padding: 0.5rem 0.75rem;
	position: absolute;
	transition: 0.25s;
	z-index: $z-index-tooltip;
	outline: 0;

	.cs-tooltip-body:not(:first-child) {
		margin-block-start: 0.25rem;
	}

	&.cs-tooltip-info {
		@include sbg(--cs-tooltip-info-bg);
		@include sc(--cs-tooltip-info-c);
	}

	&.cs-tooltip-warning {
		@include sbg(--cs-tooltip-warning-bg);
		@include sc(--cs-tooltip-warning-c);
	}

	&.cs-tooltip-error {
		@include sbg(--cs-tooltip-error-bg);
		@include sc(--cs-tooltip-error-c);
	}

	&::before {
		background-color: inherit;
		content: "";
		height: 1rem;
		margin-bottom: 0.5rem;
		margin-left: -0.5rem;
		margin-right: -0.5rem;
		margin-top: -0.5rem;
		position: absolute;
		transform: rotate(45deg);
		width: 1rem;
	}

	&.cs-bottom-right {
		top: calc(100% + 1rem);
		left: -1rem;

		&::before {
			margin-bottom: 0;
			margin-right: 0;
			left: 1.5rem;
			top: 0;
		}

	}
	&.cs-bottom-left {
		right: calc(100% - 2.1rem);
		top: calc(100% + 1rem);

		&::before {
			margin-bottom: 0;
			margin-right: 0;
			top: 0;
			right: 1rem;
		}
	}
	&.cs-top-right {
		bottom: 2rem;
		left: -1rem;

		&::before {
			margin-bottom: 0;
			margin-right: 0;
			left: 1.5rem;
			top: 100%;
		}
	}
	&.cs-top-left {
		bottom: 2rem;
		right: calc(100% - 2.1rem);

		&::before {
			margin-bottom: 0;
			margin-right: 0;
			right: 1rem;
			top: 100%;
		}
	}

	&.cs-tooltip-with-header {
		flex-direction: column;
		padding: 0;

		.cs-tooltip-header {
			padding: 0.5rem 0.75rem;
			border-radius: 0.25rem 0.25rem 0 0;
			font-size: 1.0625rem;
		}

		.cs-tooltip-body {
			padding: 0.75rem;
			border-radius: 0;
			font-size: 0.8125rem;
			box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .16);
			word-wrap: break-word;
			margin-block-start: 0;

			&:last-child {
				border-radius: 0 0 0.25rem 0.25rem;
			}

			&:not(:nth-child(2)) {
				padding-block-start: 0;
			}
		}

		&.cs-tooltip::before {
			background-color: var(--cs-tooltip-body-bg);
			box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .16);
		}

		&.cs-tooltip-info {

			.cs-tooltip-header {
				@include sbg(--cs-tooltip-info-bg);
				@include sc(--cs-tooltip-info-c);
			}
			.cs-tooltip-body {
				@include sbg(--cs-tooltip-body-bg);
				@include sc(--cs-tooltip-body-c);
			}
			&.cs-bottom-left:before,
			&.cs-bottom-right:before {
				@include sbg(--cs-tooltip-info-bg);
			}
		}

		&.cs-tooltip-warning {

			.cs-tooltip-header {
				@include sbg(--cs-tooltip-warning-bg);
				@include sc(--cs-tooltip-warning-c);
			}
			.cs-tooltip-body {
				@include sbg(--cs-tooltip-body-bg);
				@include sc(--cs-tooltip-body-c);
			}
			&.cs-bottom-left:before,
			&.cs-bottom-right:before {
				@include sbg(--cs-tooltip-warning-bg);
			}
		}

		&.cs-tooltip-error {

			.cs-tooltip-header {
				@include sbg(--cs-tooltip-error-bg);
				@include sc(--cs-tooltip-error-c);
			}
			.cs-tooltip-body {
				@include sbg(--cs-tooltip-body-bg);
				@include sc(--cs-tooltip-body-c);
			}
			&.cs-bottom-left:before,
			&.cs-bottom-right:before {
				@include sbg(--cs-tooltip-error-bg);
			}
		}
	}
}

.cs-tooltip-wrapper {
	align-items: center;
	display: inline-flex;
	position: relative;
	outline: 0;

	&:hover .cs-tooltip, &:focus .cs-tooltip {
		display: flex;
	}

	.cs-icon {
		cursor: pointer;

		&.cs-icon-small {
			width: 0.875rem;
			height: 0.875rem;
		}

		&.cs-icon-medium {
			width: 1rem;
			height: 1rem;
		}
	}

	&.cs-tw-info .cs-icon {
		@include sf(--cs-tooltip-icon-info);
	}

	&.cs-tw-warning .cs-icon {
		@include sf(--cs-tooltip-warning-bg);
	}

	&.cs-tw-error .cs-icon {
		@include sf(--cs-tooltip-error-bg);
	}
}

