// CS Input Select
//
// CS select input component.
.cs-select-wrapper {
	display: flex;
	flex-direction: column;
	position: relative;

	.cs-select-group {
		position: relative;

		.cs-select {
			border-radius: 0.25rem;
			font-size: 0.75rem;
			height: 2rem;
			transition: border 0.1s linear, background-color 0.1s linear;
			width: 100%;
			-webkit-appearance: none;
			padding: 0 2rem 0 0.75rem;
			@include sbg(--cs-input-bg);
			@include css4 {
				border: 1px solid cvar(--cs-input-br);
			}

			&:active,
			&:focus {
				outline: 0;
				@include css4 {
					border-color: cvar(--cs-input-active-br);
					box-shadow: 0 0 0.1875rem cvar(--cs-input-shadow);
				}
			}

			&:disabled {
				cursor: default;
				user-select: none;
				pointer-events: none;
				@include sbg(--cs-input-disabled-bg);
				@include css4 {
					border-color: cvar(--cs-input-disabled-br);
				}

				+ .cs-icon {
					opacity: 0.25;
				}
			}

			// Error
			&-error {
				@include css4 {
					border: 1px solid cvar(--cs-input-error-br);

					&:active,
					&:focus {
						@include css4 {
							border-color: cvar(--cs-input-error-c);
							box-shadow: 0 0 3px cvar(--cs-input-error-shadow);
						}
					}
				}
			}

			//Square
			&.cs-select-square {
				border-radius: 0;
			}
		}

		.cs-icon {
			width: 0.8125rem;
			height: 0.8125rem;
			position: absolute;
			right: 0.6125rem;
			top: 0.6125rem;
			pointer-events: none;
		}
	}
}

// Version
.component-version-select .version-preview {
	overflow: visible;
}
