.cs-textarea-wrapper {
	display: flex;
	flex-direction: column;

	.cs-textarea {
		@include input;
		min-height: 2.25rem;
		max-height: var(--cs-textarea-max-height, 100%);
		padding: 0.25rem var(--cs-textarea-inner-content-width, 0.25rem) 0.25rem 0.5rem;
		overflow: auto;
		resize: vertical;
		line-height: 1.25rem;
		white-space: break-spaces;
		border-radius: var(--cs-textarea-border-radius, 0.25rem);

		&[readonly],
		&[disabled] {
			height: var(--cs-textarea-read-only-height);
			min-height: var(--cs-textarea-read-only-min-height, 2rem);
		}
		&[readonly] {
			resize: none;
			overflow: hidden;
		}
	}

	.cs-textarea-wrapper-inner {
		display: flex;
		position: relative;

		.cs-textarea-wrapper-inner-content {
			display: flex;
			align-items: center;
			position: absolute;
			top: 0.5rem;
			right: 1px;
			padding: 0 0.5rem;

			.cs-custom-data-item:first-child {
				margin-left: 0;
			}
		}
	}

	.cs-btn.cs-textarea-expand-btn {
		display: inline-flex;
		position: absolute;
		right: 0.25rem;
		bottom: 0.25rem;
		@include css4 {
			box-shadow: -5px 0px 10px 0 cvar(--cs-button-white-br);
		}

		&::before {
			@include sbg(--cs-input-bg);
		}
	}

	&.cs-textarea-expanded {
		.cs-textarea-expand-btn {
			display: none;
			bottom: 0.5rem;
		}

		.cs-textarea-wrapper-inner:hover .cs-textarea-expand-btn {
			display: inline-flex;
		}
	}
}
