.cs-custom-data-wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: auto;

	.cs-custom-data-value {
		flex: 1;
		height: 2rem;
		line-height: 2rem;
		font-size: 0.8125rem;
		@include overflow-ellipsis;
	}

	.cs-custom-data-item {
		margin-left: 0.25rem;
		display: flex;
		align-content: center;
	}
}
