/* CSDROPDOWN COMPONENT */

/* CSDROPDOWN BUTTON */
.cs-dropdown-wrapper {
	display: inline-flex;
	.cs-dropdown-active::after {
		@include css4 {
			border: 1px solid cvar(--cs-button-active-br);
		}
	}
	.cs-btn-transparent {
		&.cs-dropdown-active::after {
			@include css4 {
				border: 1px solid cvar(--cs-button-white-br);
			}
		}
		&.cs-btn-brand.cs-dropdown-active::after {
			@include css4 {
				border: 1px solid cvar(--cs-button-active-br);
			}
		}
	}
}

/* CSDROPDOWN WRAPPER */
.cs-dropdown-outer-item-wrapper {
	opacity: 1;
	transition: opacity 100ms ease-in-out;
	&.cs-dropdown-hidden {
		opacity: 0;
	}
	.cs-dropdown-item-wrapper {
		width: var(--cs-dropdown-width, auto);
		min-width: var(--cs-dropdown-btn-width);
		height: auto;
		display: flex;
		margin: 0;
		flex-direction: column;
		border-radius: 0.25rem;
		padding: var(--cs-dropdown-padding, 0.25rem 0);
		overflow: auto;
		max-height: var(--cs-dropdown-max-height, unset);
		max-width: var(--cs-dropdown-max-width, unset);
		@include sbg(--cs-button-default-bg);
		@include css4 {
			border: 1px solid cvar(--cs-button-default-br);
		}
		li {
			display: flex;
			.cs-btn {
				flex: 1;
				display: flex;
				flex-direction: row;
				border-radius: 0;
				.cs-btn-label {
					font-size: 0.75rem;
				}
				&::after {
					border-radius: 0;
					@include css4 {
						border: 1px solid cvar(--cs-transparent);
					}
				}
				&:disabled::after {
					@include css4 {
						border: 1px solid cvar(--cs-transparent);
					}
				}
				&:focus {
					&::after {
						box-shadow: none;
					}
					&:before {
						@include sbg(--cs-dropdown-wrapper-btn-focus);
					}
				}
			}
		}
		&-no-padding {
			li:first-child .cs-btn::after {
				border-top-left-radius: 0.25rem;
				border-top-right-radius: 0.25rem;
			}
			li:last-child .cs-btn::after {
				border-bottom-left-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;
			}
		}
	}
	&.cs-dropdown-hover {
		&::after {
			content: "";
			position: absolute;
			height: 0.5rem;
			width: var(--cs-dropdown-btn-width);
		}
		&.cs-dropdown-top-right::after {
			bottom: -0.5rem;
		}
		&.cs-dropdown-top-left::after {
			bottom: -0.5rem;
			right: 0;
		}
		&.cs-dropdown-bottom-right::after {
			top: -0.5rem;
		}
		&.cs-dropdown-bottom-left::after {
			top: -0.5rem;
			right: 0;
		}
	}
}
