/* BUTTON STYLING */
.cs-btn { // Type default, style initial
	display: inline-flex;
	align-items: center;
	position: relative;
	padding: 0 0.75rem 0 0.25rem;
	margin: 0;
	height: 2rem;
	font-weight: $font-weight-normal;
	cursor: pointer;
	border-radius: var(--cs-btn-border-radius, 0.25rem);
	user-select: none;
	border: none;
	background: none;
	text-decoration: none;
	font-family: inherit;
	@include overflow-ellipsis;
	--cs-button-c: var(--cs-btn-custom-c, var(--cs-button-default-c));
	--cs-button-bg: var(--cs-button-default-bg);
	--cs-button-br: var(--cs-button-default-br);
	--cs-button-box: var(--cs-btn-custom-c, var(--cs-button-default-box));
	--cs-button-icon-c: var(--cs-btn-custom-icon-c, var(--cs-button-c));
	--cs-button-icon-brand-c: var(--cs-btn-custom-icon-c, var(--cs-button-inverse-c));
	&::before, &::after { // Background and border
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		border-radius: var(--cs-btn-border-radius, 0.25rem);
		pointer-events: none;
	}
	&::before {
		@include sbg(--cs-button-bg);
	}
	&::after {
		@include css4 {
			border: 1px solid cvar(--cs-button-br);
		}
	}
	.cs-btn-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: calc(2rem - 2px);
		min-width: 2rem; // IE11 Support
		width: 2rem;
		z-index: var(--z-index-button-icon);
		pointer-events: none;
		.cs-icon.cs-icon {
			height: var(--cs-icon-size, 1rem);
			width: var(--cs-icon-size, 1rem);
			transition: transform ease 100ms;
			@include sf(--cs-button-icon-c);
		}
	}
	.cs-btn-label {
		display: inline-block;
		justify-content: flex-start;
		height: calc(2rem - 2px);
		line-height: calc(2rem - 2px);
		font-size: 0.8125rem;
		pointer-events: none;
		z-index: var(--z-index-button-label);
		@include overflow-ellipsis;
		@include sc(--cs-button-c);
	}
	&:hover {
		&::before {
			@include sbg(--cs-button-hover-bg);
		}
		&:not(:disabled) {
			.cs-btn-label {
				@include cd(--cs-button-c, 0.15);
			}
			.cs-btn-icon .cs-icon {
				@include cd(--cs-button-icon-c, 0.15);
			}
		}
	}
	&:focus {
		outline: none;
		position: relative;
		z-index: var(--z-index-button-focus);
		&::after {
			@include css4 {
				box-shadow: 0 0 3px cvar(--cs-button-box);
			}
		}
	}
	&:active::before {
		@include bgd(--cs-button-hover-bg, 0.02);
	}
	&[disabled] {
		cursor: default;
		&:active::after {
			--cs-button-br: var(--cs-button-default-br);
		}
	}
	/* ALL BUTTONS PROPERTIES */
	/* ICON DISPLAY */
	&.cs-btn-no-icon {
		padding: 0 1rem;
		.cs-btn-icon {
			display: none;
		}
	}
	/* TO BE REMOVED */
	&.cs-btn-icon-only,
	/* HIDE LABEL */
	&.cs-btn-label-hidden {
		justify-content: center;
		min-width: 2rem; // IE11 Support
		padding: 0;
		.cs-btn-icon {
			min-width: calc(2rem - 2px);
			width: calc(2rem - 2px);
			border-radius: 0.25rem;
		}
		.cs-btn-label {
			display: none;
		}
		&:hover .cs-btn-icon {
			@include sf(--cs-button-icon-hover-c);
		}
	}
	/* WIDTH */
	&.cs-btn-max-width {
		display: flex;
		width: 100%;
		padding-right: 1.5rem;
		margin-left: 0;
		.cs-btn-label {
			flex: 1;
		}
		&.cs-btn-no-icon {
			padding: 0 1rem;
		}
		&.cs-btn-icon-right {
			padding: 0 0 0 1.5rem;
		}
	}
	/* SIZE */
	&.cs-btn-size-small {
		height: 1.5rem;
		padding: 0 0.75rem 0 0.25rem;

		&.cs-btn-icon-only,
		&.cs-btn-label-hidden {
			padding: 0;
			width: 1.5rem;
			min-width: 1.5rem;
			.cs-btn-icon {
				width: inherit;
				min-width: inherit;
			}
		}
		&.cs-btn-no-icon {
			padding: 0 1rem;

			&.cs-btn-label-hidden {
				padding: 0 0.75rem;
			}
		}
		&.cs-btn-icon-right {
			padding: 0 0.25rem 0 0.75rem;
		}
		.cs-btn-label, .cs-btn-icon {
			height: calc(1.5rem - 0.125rem);
		}
	}
	&.cs-btn-size-xsmall {
		min-width: 1.25rem;
		height: 1.25rem;
		padding: 0 0.25rem 0 0.0625rem;
		.cs-btn-icon {
			min-width: 1.25rem;
			width: 1.25rem;
			svg {
				height: 0.875rem;
				width: 0.875rem;
			}
		}
		&.cs-btn-icon-only,
		&.cs-btn-label-hidden {
			padding: 0;
		}
		.cs-btn-label, .cs-btn-icon {
			height: calc(1.25rem - 0.125rem);
		}
		&.cs-btn-no-icon {
			padding: 0 0.25rem;
		}
		&.cs-btn-icon-right {
			padding: 0 0.0625rem 0 0.25rem;
		}
	}
	&.cs-btn-size-large {
		height: 3rem;
		padding: 0 1rem 0 0.5rem;
		&.cs-btn-icon-only,
		&.cs-btn-label-hidden {
			padding: 0 0.5rem;
			.cs-btn-icon {
				margin: 0;
			}
		}
		&.cs-btn-no-icon {
			padding: 0 2rem;
			&.cs-btn-label-hidden {
				padding: 0 1.5rem;
			}
		}
		&.cs-btn-icon-right {
			padding: 0 0.5rem 0 1rem;
		}
	}
	/* ICON POSITION */
	&.cs-btn-icon-right {
		padding: 0 0.25rem 0 0.75rem;
		.cs-btn-icon {
			order: 1;
		}
	}

	/*** BUTTON TYPES ***/
	/* TYPE - DEFAULT */
	&.cs-btn-default {
		/* STYLE - BRAND */
		&.cs-btn-brand {
			--cs-button-c: var(--cs-button-inverse-c);
			&::before {
				--cs-button-bg: var(--cs-btn-custom-c, var(--cs-button-brand-bg));
			}
			&:focus::after {
				border: 1px solid var(--cs-btn-custom-c, var(--cs-button-brand-br));
			}
			&:hover {
				&::before {
					@include bgd(--cs-button-bg, 0.15, var(--cs-main-c));
				}
				&:not(:disabled) {
					.cs-btn-label {
						filter: none;
						@include sc(--cs-button-c);
					}
					.cs-btn-icon .cs-icon {
						filter: none;
						@include sc(--cs-button-icon-brand-c);
					}
				}
			}
			&:active::before {
				@include bgd(--cs-button-bg, 0.25, var(--cs-main-c));
			}
			&[disabled] {
				&::after {
					@include css4 {
						border-color: cvar(--cs-button-br);
					}
				}
			}
		}
		/* STYLE - OUTLINE */
		&.cs-btn-outline {
			&::after {
				--cs-button-br: var(--cs-btn-custom-c, var(--cs-button-brand-br));
			}
			&:active::before {
				@include bgd(--cs-button-hover-bg, 0.02);
			}
		}
	}
	/* TYPE - SUCCESS */
	&.cs-btn-success {
		/* STYLE - INITIAL & ALL OTHER */
		--cs-button-icon-c: var(--cs-btn-custom-icon-c, var(--cs-button-success-c));
		.cs-btn-label {
			@include sc(--cs-button-success-c);
		}
		.cs-btn-icon .cs-icon {
			@include sf(--cs-button-icon-c)
		}
		&:focus::after {
			@include css4 {
				box-shadow: 0 0 3px cvar(--cs-button-success-box);
			}
		}
		&:not(:disabled):hover {
			.cs-btn-label {
				@include cd(--cs-button-success-c, 0.15);
			}
			.cs-btn-icon .cs-icon {
				@include cd(--cs-button-icon-c, 0.15);
			}
		}
		/* STYLE - BRAND */
		&.cs-btn-brand {
			&::before {
				@include sbg(--cs-button-success-brand-bg);
			}
			.cs-btn-label {
				@include sc(--cs-button-inverse-c);
			}
			.cs-btn-icon .cs-icon {
				@include sf(--cs-button-icon-brand-c)
			}
			&:hover {
				&::before {
					@include bgd(--cs-button-success-brand-bg, 0.15);
				}
				&:not(:disabled) {
					.cs-btn-label {
						filter: none;
						@include sc(--cs-button-inverse-c);
					}
					.cs-btn-icon .cs-icon {
						filter: none;
						@include sc(--cs-button-icon-brand-c);
					}
				}
			}
			&:focus::after {
				@include css4 {
					border: 1px solid cvar(--cs-button-success-br);
					box-shadow: 0 0 3px cvar(--cs-button-success-box);
				}
			}
			&:active::before {
				@include bgd(--cs-button-success-brand-bg, 0.25);
			}
		}
		/* STYLE - OUTLINE */
		&.cs-btn-outline {
			&::after {
				@include css4 {
					border: 1px solid cvar(--cs-button-success-br);
				}
			}
			&:active::before {
				@include bgd(--cs-button-hover-bg, 0.02);
			}
		}
	}

	/* TYPE - ERROR */
	&.cs-btn-error {
		/* STYLE - INITIAL & ALL OTHER */
		--cs-button-icon-c: var(--cs-btn-custom-icon-c, var(--cs-button-error-c));
		.cs-btn-label {
			@include sc(--cs-button-error-c);
		}
		.cs-btn-icon .cs-icon {
			@include sf(--cs-button-icon-c);
		}
		&:focus::after {
			@include css4 {
				box-shadow: 0 0 3px cvar(--cs-button-error-box);
			}
		}
		&:not(:disabled):hover {
			.cs-btn-label {
				@include cd(--cs-button-error-c, 0.15);
			}
			.cs-btn-icon .cs-icon {
				@include cd(--cs-button-icon-c, 0.15);
			}
		}
		/* STYLE - BRAND */
		&.cs-btn-brand {
			&::before {
				@include sbg(--cs-button-error-bg);
			}
			.cs-btn-label {
				@include sc(--cs-button-inverse-c);
			}
			.cs-btn-icon .cs-icon {
				@include sf(--cs-button-icon-brand-c)
			}
			&:hover {
				&::before {
					@include bgd(--cs-button-error-bg, 0.15);
				}
				&:not(:disabled) {
					.cs-btn-label {
						filter: none;
						@include sc(--cs-button-inverse-c);
					}
					.cs-btn-icon .cs-icon {
						filter: none;
						@include sc(--cs-button-icon-brand-c);
					}
				}
			}
			&:focus::after {
				@include css4 {
					border: 1px solid cvar(--cs-button-error-br);
				}
			}
			&:active::before {
				@include bgd(--cs-button-error-bg, 0.25);
			}
		}

		/* STYLE - OUTLINE */
		&.cs-btn-outline {
			&::after {
				@include css4 {
					border: 1px solid cvar(--cs-button-error-br);
				}
			}
			&:focus::after {
				@include css4 {
					box-shadow: 0 0 3px cvar(--cs-button-error-box);
				}
			}
			&:active::before {
				@include bgd(--cs-button-hover-bg, 0.02);
			}
		}
	}

	/* TYPE - TRANSPARENT */
	&.cs-btn-transparent {
		--cs-button-c: var(--cs-btn-custom-c, var(--cs-button-inverse-c));
		--cs-button-box: var(--cs-btn-custom-c, var(--cs-button-inverse-c));
		--cs-button-br: var(--cs-transparent);
		--cs-button-bg: var(--cs-transparent);
		&:hover::before {
			@include sbg(--cs-button-bg);
		}
		&:hover .cs-btn-label {
			text-decoration: underline;
		}
		/* STYLE - INITIAL */
		&.cs-btn-initial {
			background: none;
			&:not(:disabled):hover {
				.cs-btn-label,
				.cs-btn-icon .cs-icon {
					@include cd(--cs-button-c, 0.15);
				}
			}
			&:active::before {
				@include sbg(--cs-button-transparent-inverse-active-bg);
			}
			&:disabled::after {
				--cs-button-br: var(--cs-transparent);
			}
		}
		/* STYLE - BRAND */
		&.cs-btn-brand {
			--cs-button-c: var(--cs-btn-custom-c, var(--cs-button-default-c));
			--cs-button-br: var(--cs-transparent);
			&:focus::after {
				--cs-button-box: var(--cs-btn-custom-c, var(--cs-button-default-c));
			}
			&:not(:disabled):hover {
				.cs-btn-label,
				.cs-btn-icon .cs-icon {
					@include cd(--cs-button-c, 0.15);
				}
			}
			&:disabled::after {
				@include css4 {
					border: 1px solid cvar(--cs-transparent);
				}
			}
		}

		/* STYLE - OUTLINE */
		&.cs-btn-outline {
			&::before {
				@include sbg(--cs-transparent);
			}
			&::after {
				--cs-button-br: var(--cs-btn-custom-c, var(--cs-button-inverse-c));
			}
			&:not(:disabled):hover {
				.cs-btn-label,
				.cs-btn-icon .cs-icon {
					@include cd(--cs-button-c, 0.15);
				}
			}
			&:active::before {
				@include sbg(--cs-button-transparent-inverse-active-bg);
			}
		}
	}

	/*** DISABLED STATES ***/
	/* DISABLED STATE FOR ALL TYPES OF STYLE BRAND */
	&.cs-btn-brand[disabled][disabled] {
		.cs-btn-label {
			@include sc(--cs-button-inverse-c);
		}
		.cs-btn-icon .cs-icon {
			@include sf(--cs-button-inverse-c);
		}
		&::before {
			filter: brightness(1);
			@include sbg(--cs-button-disabled-bg);
		}
		&::after {
			@include css4 {
				border-color: cvar(--cs-button-br);
			}
		}
		&:focus::after {
			@include css4 {
				border: 1px solid cvar(--cs-button-br);
			}
		}
	}

	/* DISABLED STATE FOR ALL TYPES OF STYLE OUTLINE */
	&.cs-btn-outline[disabled][disabled] {
		.cs-btn-label {
			@include sc(--cs-button-disabled-c);
		}
		.cs-btn-icon .cs-icon {
			@include sf(--cs-button-disabled-c);
		}
		&::before {
			filter: brightness(1);
			@include sbg(--cs-button-default-bg);
		}
		&::after {
			@include css4 {
				border-color: cvar(--cs-button-default-br);
			}
		}
	}
	/* DISABLED STATE FOR ALL TYPES OF STYLE INITIAL */
	&.cs-btn-initial[disabled][disabled] {
		.cs-btn-label {
			@include sc(--cs-button-disabled-c);
		}
		.cs-btn-icon .cs-icon {
			@include sf(--cs-button-disabled-c);
		}
		&::before {
			@include sbg(--cs-button-default-bg);
		}
		&::after {
			@include css4 {
				border-color: cvar(--cs-button-br);
			}
		}
	}

	/* DISABLED STATE FOR ALL TRANSPARENT TYPES */
	&.cs-btn-transparent[disabled][disabled] {
		box-shadow: none;
		opacity: 0.75;
		.cs-btn-label {
			@include sc(--cs-button-disabled-c);
		}
		.cs-btn-icon .cs-icon {
			@include sf(--cs-button-disabled-c);
		}
		&:active {
			@include sbg(--cs-transparent);
		}
		&::before {
			@include sbg(--cs-transparent);
		}
		&::after {
			@include css4 {
				border-color: cvar(--cs-transparent);
			}
		}
		&:hover {
			.cs-btn-label {
				text-decoration: none;
			}
			&::before {
				@include sbg(--cs-transparent);
			}
		}
		&.cs-btn-brand, .cs-btn-outline {
			opacity: 0.75; // Revise design
		}
	}

	/* CUSTOM CONTENT */
	.cs-btn-custom-content {
		z-index: var(--z-index-button-custom-content);
	}
}
