/* CSTREE */

.cs-tree {
	display: flex;
	flex-direction: column;

	/* CSTREE NODE */
	.cs-tree-node-wrapper {
		display: flex;
		flex-direction: column;
		flex: 1;
		.cs-tree-node {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.5rem 0.5rem 0.5rem var(--cs-tree-node-level-padding);
			min-height: 2.5rem;
			&:hover {
				cursor: pointer;
				@include sbg(--cs-tree-node-hover-bg);
			}
			&:focus, &:focus-within {
				outline: 0;
				@include sbg(--cs-tree-node-hover-bg);
			}
			&-group {
				display: flex;
				align-items: center;
				overflow: hidden;
				padding: 0.125rem;
				& > .cs-btn,
				.cs-tree-node-icon {
					margin-right: 0.5rem;
				}
				.cs-tree-node-label {
					font-size: 0.8125rem;
					@include overflow-ellipsis;
				}
			}
			&-single {
				padding-left: calc(1.5rem + var(--cs-tree-node-level-padding))
			}
			&-selected {
				position: relative;
				@include sbg(--cs-tree-node-selected-bg);
				&::after {
					content: "";
					display: block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 0.25rem;
					@include sbg(--cs-tree-node-selected-br);
				}
				&:hover, &:focus, &:focus-within {
					@include sbg(--cs-tree-node-selected-hover-bg);
				}
			}

			/* CSTREE ACTIONS */
			&-actions {
				display: flex;
				.cs-btn:not(:only-child) {
					margin-left: 0.125rem;
				}
				&-indicator {
					display: none;
					align-items: center;
					border-radius: 0.625rem 0.125rem 0.125rem 0.625rem;
					cursor: pointer;
					justify-content: center;
					width: 1.5rem;
					min-width: 1.5rem;
					height: 1.5rem;
					@include sbg(--cs-tree-node-actions-indicator-bg);
					@include css4 {
						border: 1px solid var(--cs-tree-node-actions-indicator-bg);
					}
				}
				&-hover {
					.cs-tree-node-actions-indicator {
						display: flex;
					}
					.cs-tree-node-actions {
						display: none;
					}
					&:hover, &:focus, &:focus-within {
						.cs-tree-node-actions-indicator {
							display: none;
						}
						.cs-tree-node-actions {
							display: flex;
						}
					}
				}
			}
		}

		/* CSTREE GROUP */
		.cs-tree-group {
			display: flex;
			flex-direction: column;
			overflow: hidden;
		}
	}
}
