.cs-sidebar {
	height: var(--cs-sidebar-height, 100vh);
	overflow: auto;
	position: relative;
	width: var(--cs-sidebar-width, 18rem);
	@include sbg(--cs-sidebar-bg);
	@include css4 {
		box-shadow: 0 2px 4px cvar(--cs-sidebar-shadow);
	}

	&.closed {
		width: 3rem;
	}

	// Top
	.cs-sidebar-item-top {
		display: flex;
		justify-content: flex-end;
		padding: 0.75rem;
	}

	// Icon
	> .cs-sidebar-close {
		position: absolute;
		right: 0.75rem;
		top: 0.75rem;
		z-index: var(--z-index-sidebar-close);
	}
}