li {
	list-style-type: none;
	button {
		background: none;
		border: none;
		width: 100%;
		cursor: pointer;
		text-align: left;
		font-size: 0.875rem;
		padding: 0.5rem 1rem;
		position: relative;
		user-select: none;
		@include sc(--cs-sidebar-list-item-c);

		&:hover, {
			@include sbg(--cs-sidebar-list-item-hover-bg);
		}

		&:focus {
			outline: 0;
			@include sbg(--cs-sidebar-list-item-focus-bg);
		}

		&.active {
			font-weight: $font-weight-bold;
			@include sbg(--cs-sidebar-list-item-active-bg);

			&::after {
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 4px;
				@include sbg(--cs-sidebar-list-item-active-br);
			}
		}
	}
}