// CS Input File
//
// CS Input File component.

.cs-input-file-wrapper {
	position: relative;
	display: inline-flex;
	border-radius: 0.25rem;
	width: var(--drop-area-width);
	height: var(--drop-area-height);
	max-width: 100%;
	@include css4 {
		border: 1px dashed cvar(--cs-input-file-dashed-br);
	}

	.cs-input-file-drop-area {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 0.125rem;
		cursor: pointer;
		@include sbg(--cs-input-file-drop-area-bg);

		&:hover {
			@include sbg(--cs-input-file-drop-area-hover-bg);
		}

		.cs-field-error-msg {
			left: 0;
			pointer-events: none;
		}

		&.cs-input-file-disabled {
			cursor: default;
			pointer-events: none;
		}

		.cs-tooltip-wrapper {
			max-width: 100%;
		}
	}

	// Label
	.cs-input-file-btn {
		align-items: center;
		appearance: none;
		border-radius: 0.25rem;
		display: inline-flex;
		font-size: 0.8125rem;
		line-height: 1.875rem;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		text-align: center;
		max-width: 100%;
		@include sc(--cs-input-file-btn-c);
		@include sbg(--cs-input-file-btn-bg);
		@include css4 {
			border: 1px solid cvar(--cs-input-file-btn-br);
		}

		&:hover {
			@include sbg(--cs-input-file-btn-hover-bg);
		}

		.cs-input-file-label {
			@include overflow-ellipsis;
		}

		// Icon
		.cs-input-file-icon {
			height: 0.875rem;
			margin-right: 0.5rem;
			width: 0.875rem;
			@include css4 {
				fill: cvar(--cs-input-file-icon-fill);
			}
		}
	}

	// File input
	input[type='file'] {
		position: absolute;
		margin: -1px;
		border: 0;
		padding: 0;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
		text-transform: none;
		white-space: nowrap;

		// Active/focus
		&:active + .cs-input-file-btn {
			@include css4 {
				border: 1px solid cvar(--cs-input-file-active-br);
				box-shadow: 0 0 3px cvar(--cs-input-file-shadow);
			}
		}

		&:focus + .cs-input-file-btn {
			outline: 0;
			@include css4 {
				box-shadow: 0 0 3px cvar(--cs-input-file-shadow);
			}
		}

		// Disabled
		&:disabled {
			+ .cs-input-file-btn {
				cursor: default;
				user-select: none;
				@include sbg(--cs-input-file-btn-disabled-bg);
				@include sc(--cs-input-file-btn-disabled-c);

				> .cs-input-file-icon {
					@include sf(--cs-input-file-disabled-icon-fill);
				}
			}

			&:active + .cs-input-file-btn {
				@include css4 {
					border: 1px solid cvar(--cs-input-file-btn-br);
					box-shadow: none;
				}
			}

			&:focus + .cs-input-file-btn {
				@include css4 {
					box-shadow: none;
				}
			}
		}
	}

	&.cs-input-file-drop-area-highlighted {

		.cs-input-file-drop-area {
			@include sbg(--cs-input-file-drop-area-highlighted-bg);

			&:hover {
				@include sbg(--cs-input-file-drop-area-highlighted-hover-bg);
			}
		}

		&.cs-input-file-dragged-over {
			@include sbg(--cs-input-file-dragged-over-bg);
		}

		.cs-tooltip-wrapper {
			max-width: 100%;

			.cs-input-file-label {
				max-width: 100%;
			}
		}
	}

	&.cs-input-file-dragged-over {
		@include sbg(--cs-input-file-dragged-over-bg);
		@include css4 {
			border: 1px dashed cvar(--cs-input-file-drop-area-hover-br);
		}
	}

	// Error
	&.cs-input-file-error {

		&.cs-input-file-dragged-over {
			@include sbg(--cs-input-file-dragged-over-bg);
			@include css4 {
				border: 1px dashed cvar(--cs-input-file-error-drop-area-hover-br);
			}
		}

		input[type='file'] {
			+ .cs-input-file-btn {
				@include sc(--cs-input-file-error-c);

				> svg {
					@include sf(--cs-input-file-error-icon-fill);
				}
			}

			&:focus + .cs-input-file-btn {
				@include css4 {
					box-shadow: 0 0 3px cvar(--cs-input-file-error-shadow);
				}
			}

			&:active + .cs-input-file-btn {
				@include css4 {
					border: 1px solid cvar(--cs-input-file-error-br);
					box-shadow: 0 0 3px cvar(--cs-input-file-error-shadow);
				}
			}
		}
	}
}

// Override icon fill when file selected
.cs-tooltip-wrapper.cs-tw-info .cs-icon.cs-input-file-icon {
	@include css4 {
		fill: cvar(--cs-input-file-icon-fill);
	}
}