.cs-button-group {
	display: inline-flex;

	.cs-aria-description {
		@include screen-reader-hidden;
	}

	&.cs-button-group-false > *:not(:last-child) {
		margin-right: 0.5rem;
	}

	&.cs-button-group-true {

		> .cs-btn:not(:first-child),
		> .cs-dropdown-wrapper:not(:first-child) > .cs-btn {
			margin-left: -1px;
		}

		> .cs-btn,
		> .cs-dropdown-wrapper > .cs-btn {
			border-radius: 0;

			&::before,
			&::after {
				border-radius: 0;
			}
		}

		> :first-child:not(.cs-aria-description),
		> .cs-aria-description + .cs-btn,
		> .cs-aria-description + .cs-dropdown-wrapper > .cs-btn {
			border-top-left-radius: 0.25rem;
			border-bottom-left-radius: 0.25rem;

			&::before,
			&::after {
				border-top-left-radius: 0.25rem;
				border-bottom-left-radius: 0.25rem;
			}
		}

		> .cs-btn:last-child,
		> .cs-dropdown-wrapper:last-child > .cs-btn {
			border-top-right-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;

			&::before,
			&::after {
				border-top-right-radius: 0.25rem;
				border-bottom-right-radius: 0.25rem;
			}
		}

		> .cs-btn:only-child,
		> .cs-dropdown-wrapper:only-child > .cs-btn {
			&::before,
			&::after {
				border-radius: 0.25rem;
			}
		}
	}

	&.cs-button-group-margin-left {
		margin-inline-start: 0.5rem;
	}

	&.cs-button-group-margin-right {
		margin-inline-end: 0.5rem;
	}

	&.cs-button-group-margin-both {
		margin: 0 0.5rem;
	}
}