/* RESET FILE - TEMPLATE TO RE-USE ON OTHER PROJECTS */

/* SF DIFFERENCES */

/* LIGHTNING SF */
// html classes: ext-strict
// body classes: sfdcBody brandQuaternaryBgr slds-vf-scope  ext-webkit ext-chrome
// HTML Structure: body.sfdcBody > div.CScontainer

/* CLASSIC SF */
// html classes: ext-strict
// body classes: hasMotif homeTab  sfdcBody brandQuaternaryBgr  ext-webkit ext-chrome
// HTML Structure: body.sfdcBody > div#contentWrapper > div.bodyDiv > table.outerNoSidebar > tbody > tr > span > app-root

/* CLASSIC SF ONLY */
#contentWrapper {
	min-width: 0;
}
.outer td.oRight {
	padding: 0;
}
.sidebarCollapsible.sidebarCollapsed {
	padding: 9px 0 0 0;
}
.noSidebarCell, .sidebarCell .fixed {
	padding: 10px;
}
.zen .zen-moreTabs ul {
	z-index: $z-index-reset-zen-more-tabs-ul;
}

/* CSS reset */
.cs-app-wrapper {
	* {
		font-family: 'SFFont';
		box-sizing: border-box;
	}
	ol, ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin-left: 0;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
		font-weight: $font-weight-normal;
		display: block;
	}
	/* PLACEHOLDER */
	::placeholder {
		opacity: 1;
		@include sc(--cs-input-placeholder-c);
	}
	:-ms-input-placeholder {
		@include sc(--cs-input-placeholder-c);
	}
	::-ms-input-placeholder {
		@include sc(--cs-input-placeholder-c);
	}
}
