@mixin input-wrapper {
	.cs-input-wrapper {
		display: flex;
		align-items: center;
		transition: border 0.1s linear, background-color 0.1s linear;
		cursor: text;
		min-height: 2rem;
		width: var(--cs-input-width, 100%);
		border-radius: var(--cs-input-border-radius, 0.25rem);
		@include sc(--cs-input-c);
		@include sbg(--cs-input-bg);
		@include css4 {
			border: 1px solid cvar(--cs-input-br);
		}

		/* LEFT SIDE ICONS */
		.cs-input-type-indicator-icon {
			margin-left: 0.25rem;

			&:first-child {
				margin-left: 0.5rem;
			}
		}

		/* RIGHT SIDE ICONS */
		input ~ .cs-btn,
		input ~ .cs-tw-error,
		input ~ .cs-input-type-indicator-icon {
			margin-left: 0;
			margin-right: 0.25rem;

			&:last-child {
				margin-right: 0.5rem;
			}
		}

		.cs-custom-data-item {
			margin-left: 0;
			margin-right: 0.25rem;
		}

		input ~ .cs-custom-data-wrapper:last-child .cs-custom-data-item:last-child {
			margin-right: 0.5rem;
		}

		/* STATE STYLES */
		&-focused {
			outline: 0;
			@include css4 {
				border-color: cvar(--cs-input-active-br);
				box-shadow: 0 0 0.1875rem cvar(--cs-input-shadow);
			}
		}

		&-error {
			@include css4 {
				border: 1px solid cvar(--cs-input-error-br);
			}

			&.cs-input-wrapper-focused {
				@include css4 {
					border-color: cvar(--cs-input-error-c);
					box-shadow: 0 0 3px cvar(--cs-input-error-shadow);
				}
			}
		}

		&-disabled {
			cursor: default;
			user-select: none;
			@include sbg(--cs-input-disabled-bg);
			@include css4 {
				border-color: cvar(--cs-input-disabled-br);
			}
		}

		&-read-only {
			cursor: default;
			font-weight: $font-weight-normal;
			padding-left: 0;
			@include sbg(--cs-transparent);
			@include css4 {
				border-color: cvar(--cs-transparent);
			}
		}
	}
};
