/* RESET & SALESFORCE ORG STYLES OVERRIDES */

/* SF DIFFERENCES */

/* LIGHTNING SF */
// html classes: ext-strict
// body classes: sfdcBody brandQuaternaryBgr slds-vf-scope ext-webkit ext-chrome
// HTML Structure: body.sfdcBody > div.CScontainer (or span id="SCEditorReact") > app-root

/* CLASSIC SF */
// html classes: ext-strict
// body classes: hasMotif homeTab sfdcBody brandQuaternaryBgr ext-webkit ext-chrome
// HTML Structure: body.sfdcBody > div#contentWrapper > div.bodyDiv > table.outerNoSidebar > tbody > tr > span > app-root

/* LIGHTNING SF (Applies to classic SF as well, but this code is overriden with different classic only styles) */
html.ext-strict {
	position: relative;
	min-height: 100%;
	background: var(--cs-main-bg);
	body.sfdcBody {
		padding: 0;
		/* Parent div of .cs-app-wrapper should be app root div with id="root" or id="<application_acronym>", that div needs to have height: 100% added in app styles */
		.cs-app-wrapper {
			min-height: 100vh; // Needed for lightning SF, app should stretch to at least available screen size
			height: 100%;
		}
	}
}

/* CLASSIC SF ONLY */
html.ext-strict body.hasMotif {
	min-height: 100vh;
	height: auto; // SF Body has blue gradient background that needs to stretch full height, not only screen height (100% or 100vh)
	margin: 0;
	padding: 0 10px;
	.cs-app-wrapper {
		min-height: calc(100vh - 110px - 55px - 3px); // screen height - sf header - sf footer - borders. When app does not have enough content it should stretch to at least available screen size
	}
}
#contentWrapper {
	min-width: 0;
	.bodyDiv {
		height: 100%;
		#bodyTable {
			height: 100%;
		}
		.outer td.oRight,
		.outerNoSidebar,
		.noSidebarCell,
		.sidebarCell .fixed {
			padding: 0;
		}
	}
}
.sidebarCollapsible.sidebarCollapsed {
	padding: 9px 0 0 0;
}
.noSidebarCell,
.sidebarCell .fixed {
	padding: 10px;
}
.zen .zen-moreTabs ul {
	z-index: var(--z-index-reset-zen-more-tabs-ul);
}
/* END OF CLASSIC SF ONLY */

/* CSS reset */
.cs-app-wrapper,
.cs-modal-root,
.cs-lookup-dropdown-root,
.cs-toast-root,
.cs-autoposition-root {
	* {
		font-family: 'SFFont';
		box-sizing: border-box;
	}
	ol, ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin-left: 0;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
		font-weight: $font-weight-normal;
		display: flex;
	}
	/* PLACEHOLDER */
	::placeholder {
		opacity: 1;
		@include sc(--cs-input-placeholder-c);
	}
	:-ms-input-placeholder {
		@include sc(--cs-input-placeholder-c);
	}
	::-ms-input-placeholder {
		@include sc(--cs-input-placeholder-c);
	}
	/* SELECTION */
	::selection {
		text-shadow: none;
		@include sbg(--cs-selection-bg);
		@include sc(--cs-selection-c);
	}
}
