// Any change in this file should be reflected in demo app's getting started page.
:root {
	--z-index-path-pseudo: -1;
	--z-index-sidebar-hidden-wrapper: -1;
	--z-index-divider-label: 1;
	--z-index-custom-select-dropdown: 1;
	--z-index-progress-indicator: 1;
	--z-index-transfer-list-item-focus: 1;
	--z-index-sidebar-visible-wrapper: 1;
	--z-index-list-active: 1;
	--z-index-button-icon: 2;
	--z-index-button-label: 2;
	--z-index-dropdown-button: 2;
	--z-index-button-focus: 3;
	--z-index-main-header: 3;
	--z-index-table-header: 3;
	--z-index-button-custom-content: 4;
	--z-index-dropdown-items-wrapper: 5;
	--z-index-sidebar-toggle: 10;
	--z-index-path: 10;
	--z-index-reset-zen-more-tabs-ul: 99;
	--z-index-modal: 9000;
	--z-index-lookup-dropdown: 9001;
	--z-index-toast: 9005;
	--z-index-tooltip: 9025;
	--z-index-spinner-wrapper: 9050;
	--z-index-spinner: 9051;
}
