:root {
	--z-index-path-psuedo: -1;
	--z-index-divider-label: 1;
	--z-index-custom-select-dropdown: 1;
	--z-index-button-focus: 2;
	--z-index-button-icon: 2;
	--z-index-button-label: 2;
	--z-index-main-header: 3;
	--z-index-dropdown-items-wrapper: 5;
	--z-index-sidebar-close: 10;
	--z-index-path: 10;
	--z-index-reset-zen-more-tabs-ul: 99;
	--z-index-lookup-dropdown: 100;
	--z-index-modal: 9000;
	--z-index-toast: 9005;
	--z-index-tooltip: 9025;
	--z-index-spinner-wrapper: 9050;
	--z-index-spinner: 9051;
}
