$z-index-path-psuedo: -1;
$z-index-button: 1;
$z-index-button-icon: 2;
$z-index-button-label: 2;
$z-index-btn-dropdown-items-wrapper: 5;
$z-index-path: 10;
$z-index-tooltip: 20;
$z-index-reset-zen-more-tabs-ul: 99;
$z-index-visibility-menu-dropdown: 1000;
$z-index-modal: 9000;
$z-index-spinner-wrapper: 9050;
$z-index-spinner: 9051;