@font-face {
	font-family: "SFFont";
	src: url("fonts/SalesforceSans-Regular.ttf");
	src: url("fonts/SalesforceSans-Regular.woff") format("woff"), /* Modern Browsers */
	url("fonts/SalesforceSans-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "SFFont";
	src: url("fonts/SalesforceSans-Bold.ttf");
	src: url("fonts/SalesforceSans-Bold.woff") format("woff"), /* Modern Browsers */
	url("fonts/SalesforceSans-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
	font-weight: bold;
	font-style: normal;
}
* {
	box-sizing: border-box;
	font-family: "SFFont";
}

.app-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.app-main-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 2;
	color: #080707;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(#000, 0.22);

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;

		.main-header-tab a {
			text-decoration: none;
			padding: 0.5rem 1.25rem;
			font-size: 1.4rem;
			display: inline-block;
			cursor: pointer;
			color: rgba(#3e3e3c, 0.7);
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			&:hover {
				border-bottom: 5px solid #00ABD2;
			}

			&.active-main-header-tab {
				color: rgba(#3e3e3c, 0.9);
				background: #f2f3f3;
				border-bottom: 5px solid #00ABD2;
			}
		}
	}

	img {
		padding: 0 1rem;
	}
}

.app-body {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	overflow: auto;
	background: #ecebea;

	.components-list-wrapper {
		width: 1.5rem;
		display: flex;
		flex-direction: column;
		background: #444;
		transition: width 0.4s;

		&.sidebar-open {
			width: 15rem;
		}

		.components-list-search {
			padding: 0;

			input {
				display: inline-block;
				font-size: 1rem;
				line-height: 1.875rem;
				padding: 0 1rem;
				width: 100%;
				height: 45px;
				border: none;
				color: #fff;
				background: rgba(#fff, 0.15);

				&::placeholder {
					color: rgba(#fff, 0.75);
				}

				&:focus, &:active {
					outline: none;
					border: none;
				}
			}

			~ .components-list-inner .components-list {
				padding: 0;
			}
		}

		.components-list-inner {
			flex: 1;
			overflow: auto;
		}

		.components-list {
			margin: 0;
			padding: 0.5rem 0;
			list-style: none;

			.ui-component a {
				display: block;
				padding: 0.5rem 1rem;
				cursor: pointer;
				text-decoration: none;
				word-break: break-all;
				color: #fff;

				&:hover {
					background: #00abd3;
				}

				&.active-component {
					background: #363a3b;
				}
			}
		}
	}

	.components-preview-wrapper {
		display: flex;
		flex: 1;
		position: relative;
		background: transparent;

		.sidebar-toggle {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: -0.88rem;
			top: 0.6rem;
			width: 1.75rem;
			height: 1.75rem;
			border-radius: 50%;
			z-index: 10;
			cursor: pointer;
			transition: transform 0.2s;
			background: #00abd3;

			&:hover {
				transform: scale(1.1);
				transform-origin: center;
			}

			svg {
				width: 1rem;
				height: 1rem;
				margin: 0;
				fill: #fff;
			}
		}

	}
	.components-preview {
		position: relative;
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		overflow: auto;
		background: #f2f3f3;
		box-shadow: 0 0 10px rgba(#000, 0.22);

		.property-name {
			margin: 0 0 0.5rem 0;
			font-size: 1.35rem;
		}

		.component-name {
			margin: 1rem 0 0.5rem;
			font-size: 1.1rem;
		}

		.component-version {
			display: flex;
			width: 100%;
			border-radius: 0.25rem;
			margin-bottom: 1rem;
			background: #fff;
			box-shadow: 1px 1px 3px rgba(#000, 0.1);

			.version-preview {
				min-width: 15rem;
				flex: 1;
				overflow: auto;
				padding: 0.5rem;
			}

			.version-description {
				border-radius: 0 0.25rem 0.25rem 0;
				min-width: 25%;
				background: #f8f8f8;
			}
		}
		&.icons {
			padding: 0;
		}
		&.colors {
			padding: 1rem;
			width: 100%;
		}
	}
}

/* COMPONENT CODE SNIPPET */
.code-snippet {
	margin: 0 !important;
	border-radius: 0 0.25rem 0.25rem 0;
	background: #f8f8f8;

	code {
		font-family: monospace;
	}
}

/* COMPONENT PROPERTIES TABLE */
.table-row {
	display: flex;
	background: #fff;
	border-bottom: 1px solid #d8d8d8;

	.table-cell {
		display: flex;
		flex: 1;
		flex-wrap: wrap;
		padding: 0.5rem 1rem;
		overflow: hidden;
		white-space: normal;

		&:first-child {
			flex: 0 1 15rem;
		}

		.prop-option {
			margin: 0.1rem 0.5rem 0.1rem 0;
			padding: 0 0.25rem;
			background: #ecebea;
		}
	}
}

.table-header .table-row {
	background: #00abd3;
	color: #fff;

	.table-cell {
		padding: 0.25rem 1rem;
	}
}

.chip-label {
	display: inline-block;
	margin-bottom: 0.25rem;
	padding: 0.25rem 0.5rem;
	border-radius: 15rem;
	font-size: 0.8rem;
	line-height: 1;
	margin-right: 0.3rem;
	color: #999;
	background: rgba(#fff, 0.34);
	border: 1px solid #999;
}

/* CS COLORS PREVIEW */
.cs-colors {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	align-items: start;

	.cs-color {
		font-size: 0.875rem;
		border-radius: 0.25rem;
		outline: 0;
		overflow: hidden;
		&:focus {
			box-shadow: 0 0 3px #0070d2;
		}
	}

	.cs-color-header {
		padding: 2rem;
	}

	.cs-color-body {
		padding: 0.75rem;
		min-width: 125px;
		font-size: 0.875rem;
		border-radius: 0 0 0.25rem 0.25rem;
		overflow: hidden;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11);
		text-align: center;
		background: #fff;
		color: #999999;
	}

	.cs-color-header {
		padding-top: 60%;
	}

	.cs-color-name {
		margin: 0 0 0.5rem 0;
		width: 100%;
		font-weight: normal;
		color: #080707;
	}
}

@media only screen and (min-width: 1100px) {
	.cs-colors {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 1350px) {
	.cs-colors {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 1600px) {
	.cs-colors {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 1750px) {
	.cs-colors {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 1900px) {
	.cs-colors {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}
/* END OF COLOR PREVIEW */

/* ICONS PREVIEW */
.icons {
	overflow: hidden;
	.icons-search-wrapper {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		background: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);

		svg {
			position: absolute;
			width: 1rem;
			height: 1rem;
			fill: rgba(54, 58, 59, 0.780392);
			&.search-icon {
				left: 1.5rem;
			}
			&.clear-icon {
				right: 1.5rem;
				cursor: pointer;
			}
		}

		.icons-search {
			width: 100%;
			padding: 0.5rem 3.5rem;
			height: 3rem;
			border: none;
			font-size: 1rem;
			color: rgba(54, 58, 59, 0.780392);
			background: transparent;

			&::placeholder {
				color: rgba(54, 58, 59, 0.5);
			}

			&:focus, &:active {
				outline: none;
				border: none;
			}
		}
	}

	.icons-preview-wrapper {
		overflow: auto;
	}

	.icons-preview {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;
		align-items: start;
		padding: 1rem;
		margin: 0;

		> div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 128px;
			padding: 1rem;
			border-radius: 0.25rem;
			background: #fff;

			> div {
				padding-bottom: 1rem;

				svg {
					display: block;
					width: 2rem;
					height: auto;
					max-height: 2rem;

					g, path {
						fill: #706e6b;
					}
				}
			}

			p {
				font-size: 0.8125rem;
				margin: 0;
				overflow: hidden;
				word-break: break-all;
				text-align: center;
				color: #363a3b;
			}
		}
	}
	@media only screen and (min-width: 1250px) {
		.icons-preview {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}
	}

	@media only screen and (min-width: 1400px) {
		.icons-preview {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}

	@media only screen and (min-width: 1650px) {
		.icons-preview {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}

	@media only screen and (min-width: 1800px) {
		.icons-preview {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}
}
/* END OF ICONS PREVIEW */
